#config tvheadend service
#	 option nosyslog '0'
#	 option use_temp_epgdb '0'
#	 option config_path '/etc/tvheadend'

config tvheadend server
	option ipv6 '1'
#	 option bindaddr '0.0.0.0'
#	 option http_port '9981'
#	 option http_root '/tvheadend'
#	 option htsp_port '9982'
#	 option htsp_port2 '9983'
#	 option xspf '0'
