menu "SIPC modules"

config SPRD_SIPC
	bool "Sprd IPC"
	default n
	select GENERIC_ALLOCATOR
	help
	  SIPC is a module for spreadtrum AP/CP communicaiton system.

config SPRD_SIPC_SPIPE
	bool "SPRD pipe driver based on SBUF"
	default n
	depends on SPRD_SIPC
	help
	  This driver is a pipe driver base on SBUF, which create
	  general pipes between AP & CP.

config SPRD_SIPC_SPOOL
	bool "SPRD pool driver based on SBLOCK"
	default n
	depends on SPRD_SIPC
	help
	  This driver is a pool driver base on SBLOCK, which create
	  general pools between AP & CP.

endmenu
