
config global 'global'
	option enabled '0'

config conf 'config'
	option config_path '/etc/rclone/rclone.conf'
	option port '5572'
	option username 'admin'
	option password 'admin'
	option addr_type 'lan'

config proxy 'proxy'
	option enabled '0'
	option proxy_addr 'socks5://127.0.0.1:1080'

config log 'log'
	option path '/var/log/rclone/output'
