config RLT_STA_SUPPORT
	tristate "Ralink RT2860 802.11n STA support"
#	depends on NET_RADIO 
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

config DOT11Z_TDLS_SUPPORT
    bool "802.11z TDLS support"
    depends on RLT_STA_SUPPORT

#config RT2860V2_EXT_CHANNEL_LIST
#	bool "Extension Channel List"
#	depends on RLT_STA_SUPPORT

#config STA_AUTO_CH_SELECT_ENHANCE
#	bool "Auto Channel Selection Enhancement"
#	depends on RLT_STA_SUPPORT

