base {
	log_debug = off;
	log_info = off;
	log = "file:/dev/null";
	daemon = off;
	redirector = iptables;
}

redsocks {
	local_ip = 0.0.0.0;
	local_port = |LOCAL_PORT|;
	ip = |PROXY_IP|;
	port = |PROXY_PORT|;
	type = |PROXY_TYPE|;
	autoproxy = |AUTO_PROXY|;
	timeout = |TIMEOUT|;
}
