
config dnscrypt-proxy 'ns1'
	list resolvers 'public-resolvers'
	option netprobe_address '114.114.114.114:53'
	option fallback_resolver '114.114.114.114:53'
	option listen_addresses '127.0.0.1:5335'
	option force 'cache dnscrypt_servers lb_estimator ipv4_servers require_nofilter require_nolog doh_servers block_ipv6'
	list forwarding_rules '/etc/dnsmasq.oversea/oversea_list.conf'
	list blacklist '/usr/share/adbyby/dnsmasq.adblock'
	list blacklist 'https://download.dnscrypt.info/blacklists/domains/mybase.txt'

