body {
        color: black;
        background: white;
}

div.Center {
        text-align: center;
}

img {
        border-style: none;
}

pre {
        text-align: left;
}

strong {
        color: red;
}

table.Outer {
        color: black;
        background: #60a0a0;
        empty-cells: show; border: solid #60a0a0
}

th.Outer {
        color: black;
        background: #60b0b0
}

.Title {
        font-size: 18pt;
}

.SubTitle {
        font-size: 12pt;
}

.Empty {
        color: black;
        background: aqua;
}

.Fault {
        color: black;
        background: red;
}

.Label {
        color: black;
        background: aqua;
}

.Normal {
        color: black;
        background: lime;
}

.Warning {
        color: black;
        background: yellow;
}
