.fb-container {
    margin-top: 1rem;
}
.fb-container .cbi-button {
    height: 1.8rem;
}
.fb-container .cbi-input-text {
    margin-bottom: 1rem;
    width: 100%;
}
.fb-container .panel-title {
    padding-bottom: 0;
    width: 50%;
    border-bottom: none;
}
.fb-container .panel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
}
.fb-container .upload-container {
    display: none;
    margin: 1rem 0;
}
.fb-container .upload-file {
    margin-right: 2rem;
}
.fb-container .cbi-value-field {
    text-align: left;
}
.fb-container .parent-icon strong {
    margin-left: 1rem;
}
.fb-container td[class$="-icon"] {
    cursor: pointer;
}
.fb-container .file-icon, .fb-container .folder-icon, .fb-container .link-icon {
    position: relative;
}
.fb-container .file-icon:before, .fb-container .folder-icon:before, .fb-container .link-icon:before {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    background-size: contain;
    margin: 0 0.5rem 0 1rem;
    vertical-align: middle;
}
.fb-container .file-icon:before {
    background-image: url(file-icon.png);
}
.fb-container .folder-icon:before {
    background-image: url(folder-icon.png);
}
.fb-container .link-icon:before {
    background-image: url(link-icon.png);
}
@media screen and (max-width: 480px) {
    .fb-container .upload-file {
        width: 14.6rem;
    }
    .fb-container .cbi-value-owner,
    .fb-container .cbi-value-perm {
        display: none;
    }
}
