[submodule "package/others/luci-app-serverchan"]
	path = package/others/luci-app-serverchan
	url = https://github.com/tty228/luci-app-serverchan.git

[submodule "package/others/luci-theme-darkmatter"]
	path = package/others/luci-theme-darkmatter
	url = https://github.com/Lienol/luci-theme-darkmatter.git
	branch = luci-18.06
[submodule "package/others/luci-app-unblockneteasemusic"]
	path = package/others/luci-app-unblockneteasemusic
	url = https://github.com/project-openwrt/luci-app-unblockneteasemusic.git
	branch = master
