CONFIG_TARGET_bcm53xx=y
CONFIG_TARGET_bcm53xx_DEVICE_phicomm-k3=y
CONFIG_TARGET_BOARD="bcm53xx"
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_DROPBEAR_ECC=y
CONFIG_DEFAULT_dnsmasq=n
CONFIG_PACKAGE_dnsmasq=n
CONFIG_DEFAULT_dnsmasq-full=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_block-mount=n

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-mod-rpc=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-theme-netgear=n
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_wireless-tools=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_k3wifi=y
CONFIG_PACKAGE_ddns-scripts=n
CONFIG_PACKAGE_ddns-scripts_aliyun=n
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=n
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_ariang=n
