<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=url('admin/network/ahcpd/status')%>', null,
		function(x, st)
		{
			var tb = document.getElementById('ahcpd_status_table');
			var tx = document.getElementById('ahcpd_status_text');
			if (st && tb && tx)
			{
				/* clear all rows */
				while( tb.rows.length > 1 )
					tb.deleteRow(1);

				for( var i = 0; i < st.leases.length; i++ )
				{
					var tr = tb.insertRow(-1);
						tr.className = 'cbi-section-table-row cbi-rowstyle-' + ((i % 2) + 1);

					tr.insertCell(-1).innerHTML = st.leases[i].addr;
					tr.insertCell(-1).innerHTML = String.format('%t', st.leases[i].age);
				}

				if( tb.rows.length == 1 )
				{
					var tr = tb.insertRow(-1);
						tr.className = 'cbi-section-table-row';

					var td = tr.insertCell(-1);
						td.colSpan = 2;
						td.innerHTML = '<em><br /><%:There are no active leases.%></em>';
				}

				if( st.uid == '00:00:00:00:00:00:00:00' )
					tx.innerHTML = '<%:The AHCP Service is not running.%>';
				else
					tx.innerHTML = String.format('<%:The AHCP Service is running with ID %s.%>', st.uid);
			}
		}
	);
//]]></script>

<fieldset class="cbi-section">
	<legend><%:Active AHCP Leases%></legend>
	<p id="ahcpd_status_text"></p>
	<table class="cbi-section-table" id="ahcpd_status_table">
		<tr class="cbi-section-table-titles">
			<th class="cbi-section-table-cell"><%:Address%></th>
			<th class="cbi-section-table-cell"><%:Age%></th>
		</tr>
		<tr class="cbi-section-table-row">
			<td colspan="5"><em><br /><%:Collecting data...%></em></td>
		</tr>
	</table>
</fieldset>
