<%#
 Copyright 2017 Hsing-wang Liao <kuoruan@gmail.com>
 Licensed to the public under the Apache License 2.0.
-%>

<%+cbi/valueheader%>
	<% if self:cfgvalue(section) ~= false then %>
		<input class="cbi-button cbi-input-<%=self.inputstyle or "button" %>" type="button"<%=
			attr("name", cbid) ..
			attr("id", self.id or cbid) ..
			attr("value", self.inputtitle or self.title) ..
			ifattr(self.btnclick, "onclick", self.btnclick) ..
			ifattr(self.placeholder, "placeholder")
		%> />
		<span id="<%=self.id or cbid%>-detail"></span>
	<% else %>
		-
	<% end %>
<%+cbi/valuefooter%>
