<style>
.item1 { grid-area: baidu; }
.item2 { grid-area: status; }
.item3 { grid-area: google; }

.grid-container {
  display: grid;
  grid-template-areas:
    'baidu baidu baidu status status google google google';
  grid-gap: 4px;
  background-color: rgba(230,239,246,255);
  padding: 8px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255,0.9);
  text-align: center;
  padding: 5px 0;
  font-size: 15px;
}

.ico_grey {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.ico_normal,.ico_grey {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border-style: dotted;
  background-color: red; /* 浏览器不支持时显示 */
  background-image: linear-gradient(#66ccff, #ee82ee);
}

.title {
  font-size: 15px;
}

.info {
  font-size: 12px;
  font-family: cursive;
}

.status {
  font-size: 14px;
}

.running {
  color: green;
  animation: changeshadow 2s  ease-in  infinite ;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: changeshadow 2.5s linear infinite;
    -moz-animation: changeshadow 2s linear infinite;
	-ms-animation: changeshadow 2s linear infinite;
	-o-animation: changeshadow 2s linear infinite;
}
@keyframes changeshadow {  
  0%{ text-shadow: 0 0 4px #17ff34}
  50%{ text-shadow: 0 0 55px #17ff34}
  100%{ text-shadow: 0 0 4px #17ff34}  
}
/* 添加兼容性前缀 */
@-webkit-keyframes changeshadow {
  0%{ text-shadow: 0 0 4px #17ff34}
  50%{ text-shadow: 0 0 55px #17ff34}
  100%{ text-shadow: 0 0 4px #17ff34}  
}
@-moz-keyframes changeshadow {
  0%{ text-shadow: 0 0 4px #17ff34}
  50%{ text-shadow: 0 0 55px #17ff34}
  100%{ text-shadow: 0 0 4px #17ff34}  
}
@-ms-keyframes changeshadow {
  0%{ text-shadow: 0 0 4px #17ff34}
  50%{ text-shadow: 0 0 55px #17ff34}
  100%{ text-shadow: 0 0 4px #17ff34}
}
@-o-keyframes changeshadow {
  0%{ text-shadow: 0 0 4px #17ff34}
  50%{ text-shadow: 0 0 55px #17ff34}
  100%{ text-shadow: 0 0 4px #17ff34} 
}

.stop {
  color: red;
  animation: stop 1.5s linear infinite;  
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: stop 1.5s linear infinite;
    -moz-animation: stop 1.5s linear infinite;
    -ms-animation: stop 1.5s linear infinite;
    -o-animation: stop 1.5s linear infinite;
}
@keyframes stop{
  0%{opacity: 1;}
  100%{opacity: 0;} 
}
@-webkit-keyframes stop {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes stop {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-ms-keyframes stop {
  0% {opacity: 1; } 
  100% { opacity: 0;}
}
@-o-keyframes stop {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
    	
</style>
<fieldset>
  <!-- <legend>实时监控信息:</legend> -->
    <div class="grid-container">
      <div class="item1">
        <img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAIQAAACECAYAAABRRIOnAAAAAXNSR0IArs4c6QAAAARzQklUCAgI
CHwIZIgAABoCSURBVHic7Z15cBzXfec/r7tnBhjcIECQIEDxJgWKl0yRoigyokzJ8hFblmwnqpUr
f7hSm63d/WO3dlNJ/kpSySbe3dRubap2HW9tvF65rDi27sOibB4iJfEU70sgQPAAcRI3MMBMd7+3
f7wZigRmBjODOcn5VE1JADE9Pd3f/r33ftcTzAGllAH4gBpgCbAWeAhoBOrD/2YBxlw+p8gdJOAA
QWAMuAW0A61AB9APBIQQMtUPEKm8KSyEUmAhsAIthDXAcmABMA/wAyVoQRRJH074NQYMArfRYrgU
frUCncC4EMJN9uBJC0IpVYK+6euAR4H1QAvQAJSFj2mlcuwiSWMDCpgEBtBiOAOcCv/3JtpiqEQP
mPBNU0qZ6KFhPbAd2AmsDP+uDDATPVaRjCDRQ8kQcB04FH6dAXqFEKFEDpKQIJRSPmAxsAN4BtiA
niv4kz7tItlgCugCzgMHgH3AFSFEYLY3zioIpVQF8AjwHFoMLWiLUJwb5DcSLYw2YD/wDnBCCDES
701xb2pYDFuA54GvAM3oiWKR/MdAW/A1QG345VdKfSyEGIr1ppiCCIvhS8B3gWfRYihahcLDi3YD
PIu+f0op9UksUUS9wUqpcrRl+C7wVfTysjhpLFwMtF/o6fDPllLqkBBiYPofzhCEUsoLrEIPE8+i
xVBcRhY+AqgDfofw/CIsiom7/+geQYSXls1oIUTmDCZFMdwPCLSlWIC2FINAr1LqohAiGPmj6Rai
Gq2gr6OXlcU5w/2FCL/q0Q99J9rd3Rn5gzsxhrCv4ZHwH65HT0aK3J9Y6Ad+N7AlPGcEwoIIxyYW
or2PG9B+hiL3N15gNfAUsFQpZcEXFqIEbR12oj2SxRXF/U9kPrEd7V6oivyS8D9sQq8uiu7oBwcv
euGwEVislLKM8NyhBe13qMvl2RXJCVXAZvS8scJA5y48gnZxFt3SDx5edB7LBmChhc50WoXOZyjI
zKaQo+jolVzulHQNKQJTCo8lqK8SrG40aGk2KPHOzZWiFNwakJy7Ibl5WzExpQDFvAqDZQsEaxYZ
zKswEIXpsakElgHLLXS20zIK0DpICR19kvdOOJzucBkaVwSC4LhgCCjxQnWZYNkCg+e3WmxcaqZ0
w4YnFG8fczjyuUvviBaD7eh/K/G6VJQKFtUKntlosf1hk4rSglOFB2gCVlnoFLj5uT2f5HFcxWft
klcO2FztkUxOS/+QCsanYHxK0TPs0j0k+fbjHp7ZYGElsYa6NSj5p4M2By+4jE3q9KS7CQQhEFT0
jyiu9dt09El+70kPteUFJQoLHQ1dYgGL0POIgvFKulJx8abk794KcXtEzbhJ03FcaOtS/OyAjQC+
sslKyFIMjCle2W+z96yLM0t2olQwOKZ4/VMHx4Hv7/JQXVYwohDozLcmAz3L9FNA8Yr+Efi7N0P0
JyCGCAroGlS8/5nDle7Zk5JtR7H/nMOB87OL4W4cCa8fcfjNaQfHTTiVMR8oASojafQFM39wpeIn
+0LcuJ3axb54U/LJJSc8KYyOUtoC7T3jELRTO8+f7NXDRwFRAngM9FBRMMNFW7di35mks8vv4Eo4
fkVytVeiYmgiEITzNySfd6X+hE+G4GcHHFxZUFbCMCigpaaU8MoBG2eOD15bt6StS2LHMOk9w4pT
7W5MwSTKp5dd2nsKTxAFw8CY5Hhb6tYhgu1Ce69kfHLmv0ml6BtRCc0zZsNx4YOTzpyPk00KShAn
r0pCKY7p07nRrxiPMo+wHegalIxGEUsqfHIpuUlprikoQZy+lr4r2zOkCARnCiLkQPdQ+sx834i2
OIVCQQmiPQ1mPMLopMKOoi/bhaHx9N7ArsHCWW0UjCCkhL7h9N2ooA1TIYWcNnN0XRV3SZoKt8eK
FiLt2K5K+1jsSmb4ohWQbn/S6ERREGnHykDut8cSM1zYhhCUetL7QYUzYBSQIExDUFGSvhtlGlpk
YpoiDAO8aXbTlafxvDNNwQgCoLYifRe2ulzgs2Yez2NCTZojlQ3VRUFkhFWL0ndh6ysEJVEKDbwW
zK9KryVaWl84l7lwzhTYsiJ9trypTlDmm/l7jwULawSlaapKWdYgqEujwDJNQQli3UMGC2rmfnFN
A5Y2GFEzmwwhqKsUPFSfnpv43KMFEzcECkwQ5aWCF7fN/QIvqhWsXGjgi7GaaKg2Uk63u5vF9YJd
6wpLEDk924mg4sotya1BxciEAgFVfsHiesHS+QblUZ7gL6+32HvW4XJnamt7Q8CmZSZL5s9cckao
9MO6JQaHLgluDaT2OR4TvrfdE3WCKiV0D0vauyV9I4rJEPh9etK8YoFB07zcJevmRBBTIcXxK5JP
P3fo6JUMjnMnruD3CeorBasaDZ7daLKy0cAyv7g6NeWCf7HTw/9416Z/NPmbtbhe8PhqM+6KxTQE
a5pMdq6VvH44tSSZp9eb7GiZmbw5NK745JLLp5+73BqQjE4oQg54PdoCNtYIHllssmu9SdO87Btw
oZQ6gK74zgr9I5I3jzrsP+fSN6K0tzAKXguWLTD4zjaLJ1vMe8z7VEjx0QWX/73HZiCJuMO8Cj3k
fGurhd8X/xFUCq73S368J8TRVkkyeS5fXm/y/ac8LK4Xd/wcSsHN25JffOxw5HOHofGZCbsRynzQ
stjg+a0etq4yMbOni8NZtRCDY/qCfHjaYWyW8HLIgdZbkv/zW5sSLzy20sQb9hv4PLCzxcRjwquH
HNoSCHrNqxC8sM3ia1+yKE2gRkMIaJonePkpD660+axdxhRvBL8Xdm80eXGbh0XzxD1Or8FxxSsH
bD6+6DI1i8WZCMKpdslowMZ2FDvXJpYUnA6yZiEmQ4q3jjr8v/32jJT52Vg0T/DnL/lY3vDF2KpU
OJllWLHvnMu7Jxx6ooStPSY8tsrgpR0eVoeHn2QurpSK0Umd6PLmUYfeKAE2nwfWP2TwvSc9rF1s
UOK51wM6GVT86rDDT/fZs4rqbgSwdrHBv/qqh5bmrNRfH86aIE60ufz9eyFu9Kc2SXt2k8W//6Yn
5sog5Ciu9UlauxTjAYUw9Gph/UNG2jyctgOtXZK2bkkgqLAM7c9YsdCgviq2Xb/cKfl3/zjFVJIP
QoQXt1m8/FRW0vqzM2T0j0oOXXRTFgPAb884fHuryZqm6E+K1xKsajRZ1ZjyR8yKx9JP7NrFiQ/q
Uip+9pGdshgADl102LDUYPvDJkaGx46MT1eUUtzsVxy/MrfYtZTwxhFnzomv2ebWoOJo69y+e98I
nL0WPQc03WRcEEFbm9l0pKUdvOAyUEDJJgDvnnDSksdx5lp2vnvGBTERhM9vpScjYMqGk1cLJ2PV
cRWfXk7P+d7sVwyMKWSG6zwyLoipkOJ6f/pSRE51FE66Sf+oStnTOZ0pGzoHtBMrk2RcECEHbqfg
UYxFe3fhWIjrfSqtc57eYZlxQWR0laGULlaZCM7+t4nSH7eX++woBSMBvUS92isZHtcxFVeCz4Kq
MsHCGsHyBQYLawSeKEk0idI3kl5rNj5JUn6MVMjwslMRchQyjV9idDK1R04pvfz96LzLkVaXvmHF
2KQi6GjRKqXD4h5Lx1Oq/dp1vnuDxSOLU+tAk65inwhBWyXlQk+FzFqITBwzhYNOhRQfX3R554TD
tT69fIt2YV2ph7iJKUX/CFzvdzndIdm8wuD3d3horDUwktCFm+bRLRvrq4wKQiAo8Qp8HlIuq59O
tCyneIwGFD/ZZ/P+CQfbSe6ihhzoHVZ8cNLl7DXJv/mal80rDIwEVeFP8lxno8ovMh7oyujhhdDj
cn1l+rxrdZWJn7LtwF/9c5A3jziEkhTD3bgSbt5W/MUvgkmtcuan8XuDzvVMd0b4dDK+yij1wdIF
6fuYlY2JXeSRCcWfvDLF8bb0TWACQfjTV4IcvOAm1Pdh+UIjbaUkOh1AUOJJ0wFjkHFBlPkELU3J
jb3xWL9k9qhfIKj40Z4QJ9vTPyW3Hfjh60Eud8ZuOBJhQbVBbUV6Pndpg0FdZeLDVapkXBA+j2Bt
s0Fz3dy/SHkJPL4qviAcV/GbMw57z2bOXxEIwj/ssekZii84y4Jd6+du4y0DHlthUJfGupRYZFwQ
QkBzvcGOFnPO49/2h03qZhmXW7skbx917vSRzBStXZI3jjpMheKbid3rLcrn2MHrofmCTctMyrJQ
AZaV5Kwqv2DnWouNS1NPHq2rFLywLf4AOjCm+NWnDp1pchfHI2jDgXMux67Ebz20qtFg17rUk1uq
/PDMRotVjdlJvM2KIITQKv/WVotlDcl/q1IvfPMxi6XzY783aCs+Ou9w6qqbcfduhMFxxXsnHK72
xB46hIDffczi4ebkL7XfB0+2WOxca0bNQM8EWUvf9FqCjUtNXtrpYc2ixCeZ5SXw7cctnnvUjNmB
VikdBd1zymFk1r1r04cr4cINyXufOQyMxhbFkvkGf7DLk1RiTUWpLjl4cZvFgursZdlmNcnW7xNs
f9iksVbw/mcuBy84jMa4gYaAlY0GX99ssqPFotI/s1I7Qlu35I0jDld70xtMSoSJIOw/51BbLnhh
m4iaze2xBI8uNygv8fDBSYdDF92YwjUN7vTm3rLSZF5FcjmgcyXrafigm4+OBqBrSHKiTXK1R9I7
rHBcRaVf0FirVyYtzSbzq8WMpNW76RyQ/Pwj3X44W0NFNBbUCH6w28PvrDVjBsRcVyfs3uiXnOrQ
33twXMd7ynyCpnkGG5YarFlkUFcp5tzBPwWyl2QbDaV0VxhXgZLakyiEtg6WoXs1xBICwO1RyasH
Hd465sSt79iy0oxaE/rJJZeeocTbI89Gc53gj57z8vgqM27DR6kUbuR7h193vrep60tzVLmV3bqM
6Qgh8Fi6N3+yjE8qXjusU+PjOQ1LvfCNzSZbV8/8qp0DQXqH596gNMLN24of7wlRXe6LO08yhMBI
8XtnmoIq9o1we1Tx6sc2v/g4vhhywfV+xd++FuR0h1tozc+BAhOEUloMP91v8+rB/M3Avtmv+C+v
hzh1VRK08/QkY1AwgpASWrtc/vs7Id49nr9iiNAzrPhPvwzywUmHsRSTenJBQTQvsF3F+WuSn+y3
OXetcJJshwPwow9sAkHYvcGMW92VL+S9ICamFIcuuvzqU5urhdVZHtDZ0j/7yKZ7SPL8Vg9LG/J7
o7a8FsTAmGLfWYe3jjp0p3F5mG0CQfjwtN6z61tbLNYtyWqJf1LkpSAiWyK+fdzhwDmX26OFK4YI
QRsOX9Y7B35zi+KJNWYuHE+zkneCcKXiUqfknw7pQFUgiRT+SNb03Ze51CsSTioxDe1cmu5pnAop
eodjF8n4LJhXKaKGp690fTHnCTp6p56+Ed395tlNFjV5tlFbXgkisvXiT/fZtPXIuDkNAphfrWME
LU0GzfUGZT4xwxlkGlCfYFvAylL4t1/3zmg02tYt+fGHNl2D0e3U/GrB97Z72LRs5jjw8n+buudn
V+rtF149ZDMwpvj9Hfm1pWPeCMJxFcfbXP7rmzZDY/GHiIpS+L0dHp7bZFJeojOR9Zg8N5evYQga
qgWLpvV2GplQeOKkNFim7lAz/X3xGJmANw47TAThB7vzRxR5I4gzHZK/+VVo1lZDC2sEf/2yj6UN
eTorSwJHwvvh6vB4zVCySc4FoRS090j+6pfBuGIQwMPNBn/9sq+QNkhNiA9POVSUwB8+m3tR5Pwx
6x9V/PCNIMMT8f+uoUbwH5/33ndiiPDaYd2MLdfbOubUQkyGFP/42xBts+yP6bXgpR0emmJkbjuu
YmxS7/M9PQxuCJ2POVsbwnzgH/bYLGswWLs4Kw3GopJTQZxsdzl4YfZ0+ZWNBpuXG5jTlhBK6eLf
CzckpztceoaVXpncpa+yEvjOE1bM3lT5xMQUvHrQ4U++Y+Rsj42cCWI0oHj7mDNrz0aAJ1tMqstn
riBGA7oG440jTswlYZUfntmQ/2KIcPa6y5HLLrs35ubW5GwOceaam1AOpM8DKxYYM0rYXKm4fEt3
xY0lhkIkEIS955ychc1zIgil4GirZDQw+5euKRdUls70NgaC8Fm7m7aWPfmCK3Xnmau9D5AgBsYU
Hb2JtcepKNXu6OkEgiqhlsaFyPiU4uKN3LROyokgeoZl1G2Wo+ExZ7qjQSfMJNsiuVCYCun8zFyQ
E0H0DismEwxaTdkKJ4ohsEwde7gfsV3tn4m283CmyYkgpkJEvcnRGJ0gapDLXyJY05Rzv1rGCDmK
ySh7k2eanFxR21WoBJMiB8YVg+NqhgfP7xVsWWmysjHzNQxWlA1fM43ud/WACMIyRNwCnLtRCi53
zsyLEOFSv+8/5WX1IgO/j7Q0JYmm04YqwfwqAyuLV8syyUlcIyfej/JS4oaTp3P4suSpdYryknsr
ubyW4Ik1Js11go8vuVzvk0yF7u0lVeZLfGNWpXSbwulUlQlefMKirpKoNZkN1SLtm7+WeDLfPiga
ORFEbYXuTJco7b2So5+7NNdZM4RkGrq6esn8uT++roS+YcnyKD2xtqw02bIyOx7PyO7Cc2mamio5
GTIaa6Knm8VCKXjrmMO565n1O0zZcLpj9t5RmabES1paMKVCTgRRU67bB8fq9xCN3mHF/91rc+56
5tZiIQfOXJN0DuTW4VXqFVGtVDbIyaeahmDdQ0bSTUjPXZf86Nc2e8/O3tspFZTSpfpvH3MYzNG+
HAI9pC57kAQBsG21mdJE7GKn5Md7bP7zGyE+ueQmFA9JhskQ7Dnl8D9/HeKzdjfrQSafFzavMKnM
Uguh6eQs/F1fJdi22qTztpOwkypC34hi6KLL+euS2nJBU51+Vfn1ZDXRS9k3HH2+MDYJhy66nL8h
aZqnzff8akGph4z7I6r9gmc2zH2b6VTJmSBMQ/DCExZ7TjkMjif//oh7t39UcaU70lwkcTFEjhHr
+Y/0ue4bVpzukBgi82IA+NpjVszMsGyQ04ypugqDP/yKlx++NrcolVQgMzTXVOjlaDbCCkvmG3zv
CU/auv6mQs6DAc9tsnhhmxU1xP0gsbBW8JcveZPyz2SCnAsC4I++4mXXOjPt2wkUAobQOxf/8be9
NNfn/nbkxXPpseBff9VLQ5XD3rN6y+ZsZKMbQs89LBNMoSOwjpv5bYwi+H2wttngpZ0e1j+UezFA
nggCoNIveGmnRXOdYO9Zl9Yul6EUJpvREELHNKr8ggq/oLIUykoEfi94PXpl4rUEUyHFlK2LewNB
nbk0OqlbKI5MpC8/wWtpq/Cl5Sbf2KwnkZnucp8oeSMI0B66p9ebtDQbnLxqcKZD0t4j6RpMfHtC
IXT32yq/YF6FoL5KUF+pazbrKnUQqrZcUF0m8Hmih7UdVzE+BcMTOvQ+OKZXG70jiv4RpUPyY5LR
AEmdV5VfTxzXNBlsXm6yuil36faxyGmfyng4rqJvRHGjX9I5oOga1DcjEFR3loteS4fSS7zaAlT6
9Q2vDFuB6jJBbYX+XckcQ8lS6hqQwTHF8IRiOKAYCyhGJhTDAd0mcSKocxhCjh52PJbut1lTLlhQ
rRuTNtUJmuu0EPKwk0xu+1TGwzJ1R9vGWgMn3AF2NKAI2eCEJxiWITAMLQyfB0p9gjKvruJO98U2
DC2wu0sJldI3fyKoh5mgrecgjtQ7EZqmwBS6WKjKr6vH8lAE92ABeZ+6bJmC2nLypmQ+ghB6/qGX
ivl1bqliAE74VaSIYwBBioIoEjYMBjAGTM3yx0Xuf4LAmAHcAgaANG21WqQAUcAQ0GMA7UBvbs+n
SI5xgEHghgG0AteA+7QwrkgCuEAX0GoAHcAV9LCR90vQIhkhgDYKVwygDzgLXKJoJR5EbPS04TRw
0wAmgQvAZ+iJRZEHi3G0GM4Co4YQQgKdaEFco7gEfZCw0avM08A1IYQdCcJHrMQh9OQiN90qimSb
QeBE+DUI4YypsJW4CRwAzqMFUuT+xgbagP3h/4bgrhQ6IUQAOAl8iF6KFieY9y8O2gDsBw4Dw0II
BTMTZAaBj4DFwMLwq8j9xwjwCbAH6AyPEMA0QQghbKXUVeB9YAGwG2hAW5K8iu8qpXTWSpoqc12R
nsruyIasifa/yDIKLYZPgTeBc0KIe6YHMxJkhBABpdQZ4JeAiRZFXfj/8wJ3ZBT39gDu4CAqlJ4Q
zJm6x9JynEgpf10FcfcrzwEKHcg8ArwGHA3/fA9RM6aEEMNKqU/CPxrA0+SJKJzuXkZ+/gsmDhzC
HRxM23H/bNc7aTtWdZlgR4vJd7dbOSvrj8IwWgQ/B34L9N49VESImUInhBgKi8JCL0OfQg8fOSsl
UaEQI6/8XI2+9W7eXOVoDE8o3jnuMGUr/sPzXrw5aPxxFw56mPgYeB34DdAXTQwwS9Z1WBQfhQ94
G/gysALwkgNrEWptY+y9X2f7Y1Nm31mXb26RPJKb7vYSvVK8gfYvvQkcEULcjvemWZNsw6I4hh5v
+oBdwGr0pNM7x5NOiuCVdpTj5rV1uBtXwuXOnAjCQT/AV4CDwAfAWSHE6GxvTCjrWggxoZQ6F/6Q
z9HDx3agGahACyPjpUeGv/A6lfqym9duox/cbuAY2jIcBTqmryZikfDpCiGCSqnrfKG808CjQAt6
GKlFC8MiQ0vUko3rEWV+1ESUVnB5SKkXNme2UZniiyTpUeA6cA44BRxHRzGHhRAJhyKS0m/YmzWu
lLqEjnmcBx4G1gIr0RajFqgBSsLHT9szYtbXUfsvf8Dg3/8vpWwnr4cOQ8AfPO2hIcEtIpMkiA5C
jqIf0G70Q3oBncbQTjgtMuKBTJSUbpYQwgEGlFIjaDf3MbSVWAUsAeYDlYCPNA4nwjCo/NY3ECWl
1SO/fH2Rc+1aRb4Jw2NCU50x9vxWs+vZTZ4hw0jrpsQy/JpADw396GhlKzoe0QmMCCFSds78f/MB
VfNMbRWyAAAAAElFTkSuQmCC" class="ico_grey" id="nmslese" alt="Baidu"/>
        <div class="title">国内访问IP:
          <div class="info">
            <em><%:Collecting data...%></em>
          </div>
        </div>
        <div class="title">详细地址:
          <div class="info">
            <em><%:Collecting data...%></em>
          </div>
        </div>
        <div class="title">总耗时:
          <div class="info">
            <em><%:Collecting data...%></em>
          </div>
        </div>
      </div>
      <div class="item2">
        <div class="status">
          <em><%:Collecting data...%></em>
          <!-- <button onclick="Reset()">重启</button> -->
        </div>
      </div>
      <div class="item3">
        <img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAASkAAAEpCAYAAADPmdSCAAAAAXNSR0IArs4c6QAAAARzQklUCAgI
CHwIZIgAACAASURBVHic7d15cBzXYSbwr6+5MLgBkiIOggRv8JRoSpQoS7JuybaktWxL1lpOYnlT
6yTlZPNHvMlma7dSm2S34vWWta5yXLG9Lju7smRHh2VJ1mnaFHUzvO8LJEHivufu7rd/gBABcDCY
6enueQN+vxTMaKb7vUZj+pvXr1+/VoQQAkREklJLvQFERLkwpIhIagwpIpIaQ4qIpMaQIiKpMaSI
SGoMKSKSGkOKiKTGkCIiqTGkiEhqDCkikhpDioikxpAiIqkxpIhIagwpIpIaQ4qIpMaQIiKpMaSI
SGoMKSKSGkOKiKTGkCIiqTGkiEhqDCkikhpDioikxpAiIqkxpIhIagwpIpIaQ4qIpMaQIiKpMaSI
SGoMKSKSGkOKiKTGkCIiqTGkiEhqDCkikhpDioikxpAiIqkxpIhIagwpIpIaQ4qIpMaQIiKpMaSI
SGoMKSKSGkOKiKTGkCIiqTGkiEhqDCkikhpDioikxpAiIqkxpIhIagwpIpIaQ4qIpMaQIiKpMaSI
SGoMKSKSGkOKiKTGkCIiqTGkiEhqDCkikhpDioikxpAiIqkxpIhIagwpIpIaQ4qIpMaQIiKpMaSI
SGoMKSKSGkOKiKTGkCIiqTGkiEhqDCkikhpDioikxpAiIqnppd6A+UgIMe2/FUUp0ZYQlT+GlEtm
BlO29xhWRIXj6Z4LcgXUzOXyXZaIJrAlVQSngVNOLSsxPgaz8xSsM6dh9/XAPHsaIpmA3dcLq6cb
wCz7QGDae3pbO5RoJdTaOmgtbdAWLgSWLIO+uBlaOOLHr0JlShH8anfEjd0mRUhZFkQ6BZFKQaTT
MI8egnnyGMyjh2F1d8EeHLi8bNbfOcd+mLa8MrFslsXVRdfAWL4KWls7sG4DQtc0AUYASjAEJRAA
ZNhPVDIMKYfc2m2lCCphmhCxcYjYOKyei8js3wPr6CGkDx8AbPvSQll+P49CaubyWl099LXroa9Z
B33Neqg1NVArq4BQGIrKHoqrDUPKATd3mW8hZduwB/phD/TB6jqHzMF9SB/cC7uv93IwTeVKSE19
P/+QmkoJhqAva4e28Vroy1fBWNQErakFCARyFETzCUPKgbx22eQyc4SQ1yElkklYF7tgdZ5C5uB+
mEcPwrxwHjDNOVaUI6SmrqBEK2EsXwV9yw0wli2H1rwEan1DjgJpPmBIOTDnLhMCyqV/oSgQJQgq
e3gI5qkTyOzbDfPEUZgnj0MkE1PCc3JbZylAwpCaSmtqgbFyLfTlK6Fv/gT0JUtzFEzljCHlwFy7
TBFi2gEn5uhHcTOk7NERmIcPIP3RezBPHIPZeWr66VwxIZX19dKE1OTyaqQCWscGGGvWIbBlG/Tl
K3NUQOWIIeVAISElFMWXUz4RiyFzeD/S7+9C5shB2N0XIDKZLAvOj5bUzOXVSAW0FasR2HgtjOu3
Q1/anqMiKicMKQfyOd37WB4BVExIiUwGmQN7kX7z1zBPHIU12H85nHIFzTwLqYkqFCjhCPTWNgS2
34bAJ2+H1tCYo0IqBwwpB2S5uhfv64Z47udIf/gu7OEhIJOefkjnHTRZlGNITVJVKBVR6G3LEX7g
YRjXbYUSDOWomGTGkHJAhpBKvvw8Er94CvboMGBZl08vpy50tYbU5GqKAiUQhHH9TYj+2TehhsI5
KidZMaQcKtWIc2twAPHv/k+k93wwc4Mm/snyWrblcsq70/yKGnMsX4KQmkKtiCD653+NwLabc2wA
yYghVYRidl0hASWEgIjHkN75FhLPPQO7twdXHIVCXHk4z9y+qf1RBYfFbK/PtuzM90oVUlNbckDw
ltsReeKPodbUQtF562o5YEgVycnuKyigTBPp3otIvfgszB1vTox1yhJQmPnqXJ3mvodU7sULLn/W
5WeuNj2koAB6UwsiT/wxjI4NUKKVOTaIZMCQckm+u7GggIrHkDm4H8lf/gKZqffVzceQmnX/uRxS
EBNjbGvrEL7zPgTv/jTUxU1QFd4TKCuGlMtm252F9T8JZIYGYb37NpKv/grW2TPT3stS6dynerO9
lrX6+R9SAKCEQtC33ojIFx5FYOkKQDNmL49KhiElHYFUfx9Szz8D652dsIcGr3h/+n9maUVNeX3O
17JuQiHrliik5hyrNvP/udx8nDaMTdOgr+tA+P7PIbD1Jii8Aigd9hxKxjx3Folnfwbr/V1AIjHj
XRdCZq5TPS9J+HUoLAuZvfsghscgFi5GYMVqqJwORioMKYlYfb2I/+QHsPd8ODH2aS6ztaKkUMKt
clC1UlkNJRjk/HoSYkhJwuq5iPEnvwXr6CEIO1tAFdmfVGAxRXGtDn+CLrBpCyKPPA6jeQnADnTp
MKQkYPZ0I/bkP8A8eij7BHQ5FHQY53Oq50Z/lMRm/irGmnWIPPoVGGvXAxw3JSX+VUrM6rmYR0CV
USvKCc+u3cy8sjedsboDFX/w72F0bADYDyUthlQJWX29GH/yW84CKtuwg9kI4XOHuccVuRBq+vKV
qPjaH8Ho2OjCBpGXGFIlIWCeO4v4T34Aa9aAKnB80Fxjm/I5rl0bepBNoSnpMIhmXW3iDUXToLW1
I/r1/zBxikfSY0j5TQikhgaQePZnsPd8WHgneb6jy6cq5bCDufg8TE9f2o7I1/6EAVVGGFI+M0eG
kHr5hYlxUFmHGbgYUIUEQDGDPz9e/uP/Kb4sD+jtK1HBFlTZYUj5SMRjMN/bBet3v8kyUBMoOKDy
rtjJSr4WWEDV+dY9vdNcX92Biq/+EQOqDDGk/GKayOzbg8SLz8Lu65nx5lxX5Qq49SWf94pZtgzp
6zej4vf/EMaadaXeFHKAIeUDIeyJ6VZeeg72hfOTr+a7ciFLT1unKG7dq5fjZdfDMUtxxqbrEP7i
4zBWrXW3LvINQ8oHIh5H6sVnJ6ZbcTDmKesa+cxUMNlhnqvjvMCgUKtqoC1cBLWmDqipgVZdA+gG
1MaFgHp5PJKVSAAjQ1BME1ZvL5BMwjx3BmJkCHYsVlCdThnrNiHyyOPQ13IcVDljSPkgvfMtmDve
ALJeycvCaUBdsVyuQvKrX4lWwmhfAX3FGmjLV0Krb4ASiQCBIJRAAEogCKEoUCMV04uwTIhUCooQ
ExP1mRZEbAx2Mgl7cADmkQPIHD4A6/RJiFSq4O2aY0EYk7e6dGzkSPIyx6laPGYPDWLkL/8Udm93
fivMdXrnVj9UjuUVIwBjw2YYn9gGY00H1IooEApPBJGmFVZHNqYJEY/Bjsdg93chvftDZN7ZBbPr
/KUrnsVNz2Ks6UD48X83MfOmwTmiyh1DymNjf/NXVz40IZtiwimf9/NYXqurR/D+B5H55N2oqo4C
ug5F87gVIgSEaQJmBubxo0i9/hKSb7yS9zZffm/iH625FZF/+1UEb76Np3jzBEPKQ+kdb2LsO38/
+wJZdr2j07tsc0UVMEWwWlOD8Gc+h/CDX5Ti1CjZ14309/830rt2XH4xj1aU2rgQkS/9HkL3fMbb
DSRfMaQ8khjoReIvvgEx2J/1/Tl3ejGPnpprHUWBYgSgLViIwM23IXTvA1Crawovy0PCtpA6cwqZ
p3+KzN4PIWKxiRZXNooCrXEhIo/9AYJ33ufvhpLnGFJesCzE/vmHSL34LxCm6d3wASdPqtE0KDW1
CFx3PUKffRh6c2vBZfhJpOLI7HkPieefn7gRO5m4Yh55bcEihD//GEL3P1SirSQvMaQ8kDm4H+NP
/g9Y+XaWA74MvlTCYRgdGxC67W4Y126FEi6f+bzt7gtIvPoi0jt3wLpw/uMrpWrjQkQe+ypCd7EF
NV+VvgNinhHxGJKvvABraCDPFdy5IjcXta4BgetvRPi+B6G1LHFURimpixYj9IUvQ21divRLz8M8
dghqXQPCX3ycATXPMaRcltm/F+bxw0Amc+WbxTRaZ65bwMwGels7lPseROSGm6BWVTvfhhLTQmGE
b70TxjVNSL33FoxlaxHYflupN4s8xpBykRjvRmbvb2EPDbh7y0fWGQryW1VftgIVX34CYt0mqMb8
+HPrq9ZCa22GEuLTh68G8+NTK4vx96FVvQWtfhRmTxiwixynU0TrCQAC129H+P4HYWzYXNx2SEgJ
V5V6E8gnHO3mFnMEYmwn9EWHEb71AoyVw4DicIjA5M8V7+VfTPDmT6HiS78HY/2mwreBSCIMKbfE
D0OM/SugpqEuSCF8cw/CW2dOyTIHl04RA9dvR+ThL0FtbgUfJEfljiHlgrRpITawByJ2EMDEo9vU
qIXA9f2Ifv4ElIosnejA9FbTzNkLHNJXr0XkwYehtbZBceM+O6ISY0i5wEgdRyj+zsTYnakzCGiA
3pxE9OGT0BePZg8lZcYPMHNSybzpzUtQ8cWvQF+zni0omjcYUsUSFsT4fmB455TXpoeRVptB5NPn
EdjQDwSt6X1VYsbPtLLz3wy1rh7KnfdDrGMfFM0vDKkiiXQfMLYbwhzPuZwasRC6qRfhbd1Qq9LO
OtWvqHwiBJVwGIEbb0HVnfciME+GGRBN4ie6SErqHOzh3+W1rBqyEdgwBK0ujeRHDTAvRoC0w36j
S6eLiqbDWLsB4bs/PTEZHdE8w5AqgrDTEPFjEIlTea+jaIC+JIZQyEL6QC0yx6sgEjoK6oCa2sle
Vwf9zvvK8lYXonwwpIphjkAMvw3Ys0whkoO+MAG1Mg2tIYn03jpYAyHkDKoswxOUYAiBG7bD2LKt
4PqJygX7pIphjgCj7zleXY1YCKwbRGh7N7TF8ewLzTawE4DWuADhez4LQ+dQA5q/2JJySphAqhMi
2VVUMYoGGMvGoYQtpPfWI32sGjDzO/UL3ftZ6eeDIioWQ8opOwkxtAsQtivF6dckoFZehLYggdTu
etijgZzLG8tWIHj7Pa7UTSQznu45ZSWKOtWbMH2QlBo1EegYRPhTF6EtyvYY9stCD30BSphX82j+
Y0vKKTsJe+QDFP5QuzkEbOhto4hUpZB6bwHSR6+ce1yrq0fwplvdrZdIUmxJOSRGPwDgzqneVIoy
ce+f1pBC6PYLCN3YAwQuPVT0Uid66OHH3Hn+HVEZYEvKIXv8gMc1CKghE8EtfVCr0kh9WA+rPwS1
shqhW273uG4ieTCkHFLiR9w+0UO2U0dFtxFYOwSlMo3UrgUwlt8ISPpUXlsAYwmBWHriv3NdoxTA
x4/XmmOh3JUqiktT3BQyo+DcV181FagKKwjnvv5BeWBIOTQxLYuAs3lVCj+ojJYYtHu6oS5ZDUXS
+/PGk8DL+0zsOJR7cOvkb+9atsxl9qFmBcu3mMqQgke2GdjaztPyYsn5aZedOTRlfJR/TwTTFtRA
XXEDoMr5Z7NsgcFxgc7+2fvq8t1beT0bNc+y5lqwkL9gvmEX0BX0jfFpcW5gx7kDk5Pb+U2pug7Q
oiWpu2yVIKAAIG0K9I8JJGaZ75Dyx5ByQMSO+FzhpfOV6EYoWvk+IaUkragSEQB6R22MxmXfUvnJ
ed4gu8R57+uYeaSqOtRoB6DJO4DTjcOx3E/zphpNCMTTTvstaRJDyon4UffLnOMoUALXAMaCiZv9
ypDv7YkSNmAmq+4fExhLsCVVLIaUE9Z4lmfi5flt6fAykxJaAqFVluV3soyneV63ogAgkQZShc/i
QzMwpBwQyXNZXvT2G1MEGqFqYU/r8IKMV/P8YtuQZlvKGTvOHcgaUh5TQq2AVuF7vX7wON+vrK+Q
ZQvctqmLXxi2McSO86KxJSW9iQ+5UHSU03eKrC0ovwKK3MOQklKW22PCbYBeHsMPZOyDovLFkCqU
OepygVfnYej6KV6Jd+PV+Vf0B0OqUMnT4EeyOPkGlNsd5fyrlafy6eSQhLBmeWAC5Xevb4kCpdDy
/O7Mp9kxpAqklOEwAFmUy4FfLtt5tWBIFSrUVuotmPcKyggJOt+Zad5in1Sh9CvnHPfWpcepl+VY
88s8aZ14EFAcdiAftqSkI2b8XHo12Qlhjpdqo4pSyIFfbqPKyXtsSTky9QjxZ2ZOYSehwHJQV2l5
ElAelcdWlJzYknJAMaYOqpzZ8snnx4Hk+Ykbm8uIZwElwWke+Ych5YASWed/peleKHbS/3odmJyj
L69lUeApniQBlc8qi2tU1EbKuy9RBgwpJ1T/hyEoqbMQ5pjv9RaqlK2ngsuEdwFF7mFIOVGx1qeK
Lp8iivRFINMHLx5I6paJAz6/Q/hqCKhQAAgYbEkViyHlRKjJg0Jz910JKwUROwRYMQ/qdoei5P2E
qfyV8S0vdRVANFjqrSh/DCkHlMp1cNZhXmRn+ujusjjly6VEw6WuXMeH07yKoIqAnM9xLSsMKQeU
yOqS1CvG95TdFb6pCs4Fj5pHfvVDVYaAMEOqaAwpJ4wGKIFFvlcrkl0YHNoDIcpwvJTnK8inoUpF
ZZiHWLE4mNMhpaIDIt3tW31poeDn8RaMXziDJxZZCGjyPTVGU4H6qIplC2YcmA76joXL1wcGYwJD
MeFbK0pTJ1pSQR5hReMudCraAQy94UtV3VYIzyTa8HqqCVr3KXzFNhHQAr7UXYiKoIK7N+q4ebV8
Afq9NzJ490Thj25x2qCrCiuoCvHKnhsYUg4p0fXeFT7l6/6oWY3vxVdjX6YOFhQgNYrXz72DB5bd
7l39DmkqUBNRUCPhAMbOfmetKKdqKxTUVfJUzw3ciw4p1dcXX8jk0OyZPwBMoeCddCP+fnwD/jXT
AAsqJs+bfnzk2eLrvoqcG7AxFCu8H6+YTKutUFAj78OmywpDyik1BLVq6+xBk89PFrYABuwAnkos
xd+Ob8Jpq+qKZXrjg9jR9YHXv+G88cEpC5ZdWOuu2EZXXYWCugr5WpTliCHllBoGoi60pqawBNBp
RfH9+Gr8U2INxsTs/U4/OfIckmbK1frno4wF7D5jwbT8O9fTVKAuqqAyzJByA0PKKTUCRG+ForrT
rRezNbyfacQ/xNbj16mWnMsKCBweOoVXz73tSt3z2bGLNjr7bdg+ThnTUKmipZ6Hllu4J51SNSg1
LUDwmqKL6rVDeDHVgm/H1uGgWXfF+2LG/0165sQruBDrLbr++coSwK7jFkYLeIpw0e0tAdRHFTTX
sRXlFoZUERSjFqi+sagy9mdq8aP4Cvyf+Cr02pErAknkOGy6xnvw9PGXi6p/PusetrGv00Qik9/y
bp0QNkQVtLIl5RruySIIrQpK9Y2AamDue/Cm36uXFAp2phfgh4kVeD3VhDi0nIGUTcpK4+2Lu/F+
zz7Hv8N89tFpG90j+Q09cCWgBBAJAi31CqrYH+UahlQRFDUIpWI1lPDSKa/OfQPxqG3gV8lW/DC+
EnszdUgX8WfoTQzi2ZOv4+zYRcdlzEen+2y8d8LEaMKnDvNL1dRGFCydOeKeisK9WSQl1AqlZnve
y3dZEfw4sQI/SSzHKavy0vgn50zbxO6+g3jlxJuwEnxwKQBkLIG3j1k41CXy6jB3M8Yaq4C1i+Wd
86scMaSKFVgIVF0PRa/OuZgtgIOZWvyvWAdeSrVgSAQhXHpM1XgmjlcvvINXLr4Lwcm6cfC8jZ1H
TcRSc+8LN/dWQFfQXK+hoYpTH7iJIVUsRYMS3QDUzN6BnhYqXks34S/HtuCDTCPiwuW7kQTQnRjE
Mydfxe6+Q+6WXWb6xwR2HDZxuteeM7BdC6hLBVWGgOuWalAV9ke5iSHlAiW6FkrtLbO+/9PEcvzt
+CYMi4BrrScA07q7hBA4PtyJHx76OQ4NnnCvjjJimhm8f2wcr+6z5jzNczugAKAyJLC5tfym0ZEd
Q8olSsWGiRbVJaZQcM6qwJ+PbsWPEysKK6yIyTz39B3B/zv2Es6OXYTt9nwnEstYAr85Avx4l4Z0
jtHlBcyDOrcpBQUNBZvaDETDnC/YbZwFwS2hDUB4CxA7jLhtY1+mFt+Jr0OXVXHlsh53G7157h2E
tAC+vPoBtEQXQZnnpx+WPTGy/LkPTQyO+3s1b1JFENgu4RQ18wFDyiVKuApmw03oGX0fbw4n8HRi
KUbs0n2rvnRmB9JWBo+uuh+ra5eVbDv8sO+shR/8Jo2jF31qOWbJwWULNGxqZUh5gad7LspU3YDf
Bu7FM8lVJQ2oSa+f24Xv7vtn7O0/AssufMK3cnDgnIV/yjOg3Bqwmc09G+Z3a7WU2JJyUTTSgtbF
9yDU2wfE+kq6LZOj1z/qPYiR1Bgebr8Ln2zeiprglVO/lKOMJfC7IxaefjeDk70+BdQs2heq2Lac
3/de4Z512aaGNVhV2wbDpdkRCjHb/X4nRs7iR4efxU+P/BLnxv2bl90rI3GBF3ab+NGOtL8BNUtB
923SEQzw+94r3LMuqwpE8UjL7Tg2cAoXEwOe1lXIvX49iQG8cPoNdMf78Oklt2BLYwd0Q7550udy
vNvCr/aY2HXMwlDMx8GasxTUVKvg5lXsi/KSIjhE2XW2mcF3DzyFn598FabLfUGF3oQ8k6HqWBRp
xE2LNuOhFXehJer/o7mcGMvE8Orp3XjtQBqdp9fDTGe5ajqFqx/qHIX9yd0BPHAdR5h7iSHlkcHk
CL7y2l9gMDniuIxiAymXiB5Ca2UT7lmyHfcu+SQqA7kP+lKxLBOH+0/gqdOv4MPuQxhNCmgj2xAY
vg+qXZl1Hb8CqrVBxbceC6GW0wR7iiHloRdOvYX//tH3cy7jZRDNRVEUGKqOVTVtuLN1Ox5cdjv0
EvSlZSOEjbOD5/Cdw0/ho54DSNsZWJODU4UGNd2M8MVvQLNqp6/n6kbkfvu/fV7B1uXheT8OrdQY
Uh77+m/+C/b0HSn1ZmQ1MyAXRBrw6Ir78MjK+0u0RRN2dL2PX5x8De917829oB1GpPsb0BOrAHhw
BS9HgTev1vH1Ow008rFVnmNIeSw2PopHf/NN9CcGS7odhbTYgloA2xZtxq1NW7F5wRoE1ACCWgBB
zYCquHNQ2sJG2sogZaWRtjPY338UH/Udxmtnd2IkPV5QWcH+L8AYuxmwK6C4cW/kHLuqOqLiPz2k
YWOrwZuJfcCQ8sHTx1/GPx54CokSPN2l2NPJ6kAUGxvXYH3dSqyqW4rGUC1CehCGaiCoBaApKhRF
RSjLE5UzdgamPXHDbcpKwxTWRChZGfQnhnB0+DSODJ7CgcHj6I0PXD6dK5StQ4tdh+DQA1AzjVCK
uWg9x+4yNOCBLQYevdFANWff9AVDygfj6Ri+t/8pPH/6DecHYp686uOa/JQ0hKqxOLoIjeFaNFUs
RFgPIaAZaM5ylXAgOYTRdAxCCFyI9WAsE0d3rA+98QEMpJxfUJixZZf+0aAlVsMYuQN6ciUU28GF
gDl2naoo2LgE+NptQay8hsMO/CJHL+k8V2FE8Pnl9+DI8GlPplHxsvN95ldYf3IE/VJcsZxRjmLB
Ch+G0EYgxm6GPr4V6oxO9UKKy6YuquDu9SqWLShsS6k47PXzgaIoWFy5EI+veRDLqnI/Uy8f+T5N
xnH5uR+y7LxcrwJqkmLDDp5HqvZFpGt/CSvQCYE85nfKY7NCBrBthYZrlwaga2xF+Ykh5RND1XFt
41o81H4HFkbq816vkEdcucGrk3/PA2oqbQyZyreRqvsXWKHjEMjxTKs8ilMVYPViFfdsVFEXZT+U
3xhSPooaEdzS9Anc0bwNET308evZgsiPQPq4fo9aTgBc/j0KKEdNwYrsR6r+GWQqd0Igy8j/PItb
XKvgs9cZWL6QLahSYJ+Uz+rDtXhk5f0YNxN4ufO3SFnpkm2Ll5dM3A1Yh2UpNuzQSaT1fthGL4JD
D0ARoYKKrAoDD33CwNZ2DZrKVlQpsCXlMwUK6sO1+Fz7XdjcuBaqz38CL1tNgNstp4kSiy5BH0Gm
+i0kFn8Llt6bd5FBA7htrYE71ukIGQyoUmFIlUh7TSv+dOPj6Khb4doAyVy8DKaP63A9nFwsT03C
Ch5HctGTMMP781pla7uOP7zdQEWQAVVKHCdVYufGLuKv3/0Ojg6fcrVcP/+q3vSdeTjey6pAcPgz
CIzcBkVkn0F16QIV3/6yhmiw/KazmW8YUhI4P96Dv3rn2zg+fKagA76Uf7lyCiYgy76yQzBiWxEY
ug9qpuHjUeqaCqxrUfFfH2ZAyYIhJYmzYxfwn999EsdHzmR9FJUMfyXvrjb6GE7T3tSgJ1ciMPRp
aMkVCKgBrG9V8R8f0FEb4RxRsmBISaRrvAd/9+H3sW/gCNKWPA9O8HYoRIkCago11YLo+L3Yfs1W
PHFrBM21DCiZsONcIk3RhfizzV/BXa03IayX/mkz3o7VcrljfGbpBRRtRHqwcfUZPH6riSYGlHTY
kpLQSHoMPz3yAl49uws98X7f6/d+EKk8o+arglHcuvh6fHHl/WivbubUKxJiSElqKDWCVzp34rmT
r6Nz7ILn9fkzul2ecAKA+lAN7l6yHZ9rvxtN0YUMKEkxpCQ2mh7H+z378dSxX+Hw4ElPpnnxb/pi
eQJKgYLm6CI82H4H7mzZhkUVjd5tGBWNISW5jG2ia7wHPzv+El7p3ImEmSy6TH/nVfe+rkI+wZqq
oaNuOX5/7b/BxobViBoR7zaMXMGQKhODyRH8uvN3+NmJl9EdK7yfyv8HPvh3c3QhPrf8Ljzcfj9a
qxaU5AGuVDiGVBkxbRPD40P4mz3/iPe6c9/aUbqn0PhXbyGf3AojjG9u+Rpua74BAZVX8MoJQ6pM
PXXsV/j+wacRz0yc/pXy0Vi4tAW+1lZAdfcs2Y5vbHwC9WE5ny1IuTGkylj3+Ch+cPj/YkfXB4hl
4jBFHrNQukreYArrIbRVNeGxVZ/BJ5u2IKSVftwZOcOQKnNpK4P3e/bh2VOv4cjgKYykx5Fx+dHu
V5I3nEJ6EAvD9bi95caCZ0ElOTGk5omxdAwf9R3AG+fexaHBE+iO9bvcsirNxyTfT2dYD2FpVTOu
XdCBTzVvw+raZdA5Sd28wJCaZwaTI/igdz9+d+EjnBjuROfYhaw3LOdP/nBaUbMEHXUr8amWmOhZ
3wAAAwRJREFUG7C2th0GH5QwrzCk5qn+xBBOjHRiT/ch7Bk6hqPDpxHPJPJcu7QfiXw+kQ3hWqyp
bccnFq3Dpvo1aK9ug6HxVtT5iCE1z2UyKRwZ7cSx4TPY23cYR4ZOoyvWCzNrv1XpPwq5Po0hLYC2
6mZsqd+AFXUtWFnbhvbqVv82jkqCIXWVsISNi7FedMV6cWb0PPb3H8P+gWPoSwzC8v2q4JVm+xQG
tQCao4uwunYpNjSsQltVM9qrWhENRHiv3VWCIXUVStsZDCdHMZgaQdd4D/YMHMGhgeM4NHgCts8f
h2zVhfUQ1tevwOaGDnTUrkRDtAo1gSrUBCuhc5T4VYchdZUzbRNjmTjimQTiZhKHBk/g5MhZnBnr
wsmRc+hPDHpS79RP3TUVDVhVuxRtlS1or27B8ppWRPQwokYEFQZbTFc7hhRNY9oWbGHDFjYs2BhO
juLMWBdOj55HT3wAnWNdSJhJ9MYH0F3AXFdLq1tRaYQR1kNYU9uOhZF6tFe2oaliIcKBADRVg6ao
UBUVmg9Pz6HywZAiIqnxK4uIpMaQIiKpMaSISGoMKSKSGkOKiKTGkCIiqTGkiEhqDCkikhpDioik
xpAiIqkxpIhIagwpIpIaQ4qIpMaQIiKpMaSISGoMKSKSGkOKiKTGkCIiqTGkiEhqDCkikhpDioik
xpAiIqkxpIhIagwpIpIaQ4qIpMaQIiKpMaSISGoMKSKSGkOKiKTGkCIiqTGkiEhqDCkikhpDioik
xpAiIqkxpIhIagwpIpIaQ4qIpMaQIiKpMaSISGoMKSKSGkOKiKTGkCIiqTGkiEhqDCkikhpDioik
xpAiIqkxpIhIagwpIpIaQ4qIpMaQIiKpMaSISGoMKSKSGkOKiKTGkCIiqTGkiEhqDCkikhpDioik
xpAiIqkxpIhIagwpIpIaQ4qIpMaQIiKpMaSISGoMKSKSGkOKiKTGkCIiqTGkiEhqDCkikhpDioik
xpAiIqkxpIhIagwpIpIaQ4qIpMaQIiKpMaSISGoMKSKS2v8H3vufGCP95ckAAAAASUVORK5CYII=
" class="ico_grey" id="foreign" alt="Google"/>
        <div class="title">国外访问IP:
          <div class="info">
            <em><%:Collecting data...%></em>
          </div>
        </div>
        <div class="title">详细地址:
          <div class="info">
            <em><%:Collecting data...%></em>
          </div>
        </div>
        <div class="title">总耗时:
          <div class="info">
            <em><%:Collecting data...%></em>
          </div>
        </div>
      </div>
  </div>
  <i>Welcome to visit: </i><a href="https://github.com/yiguihai/luci-app-passwall-plus">luci-app-passwall-plus</a>
</fieldset>

<script type="text/javascript">
XHR.poll(3, '<%=url([[admin]], [[services]], [[passwall]], [[check]])%>', null,
	function(x, ret) {
	  if (ret) {
	    var run = document.getElementsByClassName('status');
	  //var posi = document.querySelector('.status').style;
        if (run) {
          if (ret.switch === true) {
            run[0].innerHTML = '<em class="running">运行中</em>';
          } else if (ret.switch) {
            run[0].innerHTML = '<em class="stop">'+ret.switch+'</em>';
          } else {
            run[0].innerHTML = '<em><%:Collecting data...%></em>';
          }
        }
      }
	}
);

XHR.get('<%=url([[admin]], [[services]], [[passwall]], [[info]])%>', null, 
  function(x, data) {
    if (data) {
      var gn = document.getElementById('nmslese');
      var gw = document.getElementById('foreign');
      var xxx = document.getElementsByClassName('info');
      if (gn && gw) {
        var health_a = data.baidu;
        var health_b = data.google;
        if (health_a > 0) {
          gn.className = 'ico_normal';
          xxx[2].innerText=health_a.toString().slice(0, 5)+'s'
        } else {
          gn.className = 'ico_grey';
          xxx[2].innerText='<%:Collecting data...%>';
        }
        if (health_b > 0) {
          gw.className = 'ico_normal';
          xxx[5].innerText=health_b.toString().slice(0, 5)+'s'
        } else {
          gw.className = 'ico_grey';
          xxx[5].innerText='<%:Collecting data...%>';
        }
      }
      var form_a = data.china;
      var form_b = data.foreign;
      if (form_a !== false) {
        xxx[0].innerText=form_a.split(',')[0];
        xxx[1].innerText=form_a.split(',')[1];
      } else {
        xxx[0].innerText='<%:Collecting data...%>';
        xxx[1].innerText='<%:Collecting data...%>';
      }
      if (form_b !== false) {
        xxx[3].innerText=form_b.split(',')[0];
        xxx[4].innerText=form_b.split(',')[1];
      } else {
        xxx[3].innerText='<%:Collecting data...%>';
        xxx[4].innerText='<%:Collecting data...%>';
      }
    }
  }
);
</script>
