

config go-aliyundrive-webdav 'config'
	option enabled '0'

	# Listening port
	option port '8085'

	# Refresh token
	option rt ''

	# Mounting directory
	option path '/'

	# Webdav auth username, default: admin
	option user 'admin'

	# Webdav auth password, default: 123456
	option pwd '123456'

	# Enable detailed logging
	option verbose '0'

