# declare an ipset-dns listener instance, multiple allowed
config ipset-dns
	# use given ipset for type A (IPv4) responses
	option ipset 'domain-filter-ipv4'

	# use given ipset for type AAAA (IPv6) responses
	option ipset6 'domain-filter-ipv6'

	# use given listening port
	# defaults to 53000 + instance number
	#option port  '53001'

	# use given upstream DNS server,
	# defaults to first entry in /tmp/resolv.conf.d/resolv.conf.auto
	#option dns   '8.8.8.8'

