config RT2860V2_STA
	tristate "Ralink RT2860 802.11n STA support"
	depends on NET_RADIO 

config  RT2860V2_STA_WPA_SUPPLICANT
	bool "WPA Supplicant"
	depends on RT2860V2_STA

config  RT2860V2_STA_ETH_CONVERT
	bool "Ethernet Convert Support"
	depends on RT2860V2_STA

config  RT2860V2_STA_DPB
	bool
	depends on RT2860V2_STA_ETH_CONVERT
	default y

config  RT2860V2_STA_WMM_ACM
	bool "WMM ACM Support"
	depends on RT2860V2_STA

config  RT2860V2_STA_LED
	bool "LED Support"
	depends on RT2860V2_STA

config  RT2860V2_STA_IDS
	bool "IDS (Intrusion Detection System) Support"
	depends on RT2860V2_STA

config  RT2860V2_STA_WSC
	bool "WSC (WiFi Simple Config)"
	depends on RT2860V2_STA

config RT2860V2_STA_HS
	bool "HS2.0 support"
	depends on RT2860V2_STA

config  RT2860V2_STA_CARRIER
	bool "Carrier Sense Support"
	depends on RT2860V2_STA

config  RT2860V2_STA_DLS
	bool "DLS ((Direct-Link Setup) Support"
	depends on RT2860V2_STA

config  RT2860V2_STA_MESH
	bool "MESH Support"
	depends on RT2860V2_STA

config  RT2860V2_RT3XXX_STA_ANTENNA_DIVERSITY
	bool "Antenna Diversity Support"
	depends on RT2860V2_STA

config  RT2860V2_HW_STA_ANTENNA_DIVERSITY
	bool "Antenna Diversity Support"
	depends on RT2860V2_STA
	depends on RALINK_RT5350

#config  RT2860V2_STA_WAPI
#        bool "WAPI Support"
#        depends on RT2860V2_STA

config  RT2860V2_STA_VIDEO_TURBINE
	bool "Video Turbine support"
	depends on RT2860V2_STA

config  RT2860V2_STA_INTELLIGENT_RATE_ADAPTION
	bool "Intelligent Rate Adaption"
	depends on RT2860V2_STA

config  RT2860V2_STA_TXBF
	bool "Tx Bean Forming Support (Only 3883)"
	depends on RT2860V2_STA
	depends on RALINK_RT3883 

config  RT2860V2_STA_RTMP_INTERNAL_TX_ALC
	bool "TSSI Compensation"
	depends on RT2860V2_STA
	depends on RALINK_RT3350 || RALINK_RT3352 || RALINK_RT5350

config  RT2860V2_STA_80211N_DRAFT3
	bool "802.11n Draft3"
	depends on RT2860V2_STA

#config  RT2860V2_EXT_CHANNEL_LIST
#        bool "Extension Channel List"
#        depends on RT2860V2_STA

#config  RT2860V2_SNMP
#	bool "Net-SNMP Support"
#	depends on RT2860V2_STA
