config RTUSB_AP
	tristate "Ralink WiFi USB combo driver AP module"
	depends on m
	default m

config RTUSB_AP_WSC
	bool "WPS support including WPS2.0"
	depends on RTUSB_AP
	default y

config RTUSB_AP_MBSS
	bool "MBSS support"
	depends on RTUSB_AP
	default y

config RTUSB_AP_HS
	bool "HS2.0 support"
	depends on RTUSB_AP
	default y

config RTUSB_AP_NEW_MBSS_MODE
	bool "New MBSS support"
	depends on RTUSB_AP_MBSS

config RTUSB_WDS
	bool "WDS support"
	depends on RTUSB_AP

config RTUSB_APCLI
	bool "APClient support"
	depends on RTUSB_AP

config RTUSB_DFS
	bool "DFS support"
	depends on RTUSB_AP

config RTUSB_CS
	bool "CS support"
	depends on RTUSB_AP

config RTUSB_IGMP_SNOOP
	bool "IGMP snoop support"
	depends on RTUSB_AP

config RTUSB_NETIF_BLOCK
	bool "NETIF block support"
	depends on RTUSB_AP

config RTUSB_DLS
	bool "DLS support"
	depends on RTUSB_AP

config RTUSB_IDS
	bool "IDS support"
	depends on RTUSB_AP

config RTUSB_AP_FLASH_SUPPORT
	bool "FLASH support"
	depends on RTUSB_AP

config RTUSB_AP_80211N_DRAFT3
	bool "802.11n Draft3 support"
	depends on RTUSB_AP
	default y

# Chip related
config RT2870_AP
	bool "RT2870 support"
	depends on RTUSB_AP

config RT3572_AP
	bool "RT3572 support"
	depends on RTUSB_AP

config RT3573_AP
	bool "RT3573 support"
	depends on RTUSB_AP

config RT5572_AP
	bool "RT5572 support"
	depends on RTUSB_AP
	default y

# ATE
config RTUSB_AP_ATE
	bool "ATE support"
	depends on RTUSB_AP

config RT2870_AP_ATE
	bool "RT2870 ATE support"
	depends on RTUSB_AP_ATE && RT2870_AP

config RT3572_AP_ATE
	bool "RT3572 ATE support"
	depends on RTUSB_AP_ATE && RT3572_AP

config RT5572_AP_ATE
	bool "RT5572 ATE support"
	depends on RTUSB_AP_ATE && RT5572_AP
	default y

# QA
config RTUSB_AP_QA
	bool "QA tool support"
	depends on RTUSB_AP_ATE
	default y

config RTUSB_AP_WAPI
	bool "WAPI support"
	depends on RTUSB_AP

# Platform specific
config RT5572_AP_WDS
	bool
	depends on RTUSB_WDS
	default y
