config RLT_AP_SUPPORT
	tristate "Ralink RT2860 802.11n AP support"
#	depends on NET_RADIO 
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

config WDS_SUPPORT
	bool "WDS"
	depends on RLT_AP_SUPPORT

config MBSS_SUPPORT
	bool "MBSSID"
	depends on RLT_AP_SUPPORT

config NEW_MBSSID_MODE
	bool "New MBSSID MODE"
	depends on RLT_AP_SUPPORT && MBSS_SUPPORT
	depends on RALINK_RT3883 || RALINK_RT3352 || RALINK_RT5350 || RALINK_RT6352 || RALINK_MT7620
	default n

config ENHANCE_NEW_MBSSID_MODE
    bool "Enhanced MBSSID mode"
    depends on NEW_MBSSID_MODE
    default n

config APCLI_SUPPORT
	bool "AP-Client Support"
	depends on RLT_AP_SUPPORT

config MAC_REPEATER_SUPPORT
	bool "MAC Repeater Support"
	depends on RLT_AP_SUPPORT
	depends on APCLI_SUPPORT
	depends on RALINK_RT6352 || RALINK_MT7620
	default n

#config MESH_SUPPORT
#	bool "MESH Support"
#	depends on RLT_AP_SUPPORT

config DFS_SUPPORT
	bool "DFS"
	depends on RLT_AP_SUPPORT
	select RALINK_TIMER_DFS

#config DOT11R_FT_SUPPORT
#	bool "802.11r Fast BSS Transition"
#	depends on RLT_AP_SUPPORT

#config DOT11K_RRM_SUPPORT
#	bool "802.11k Radio Resource Management"
#	depends on RLT_AP_SUPPORT

config BAND_STEERING_7603
	bool "Band Steering"
	depends on RLT_AP_SUPPORT
	default n

config LLTD_SUPPORT
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on RLT_AP_SUPPORT

config NINTENDO_AP
	bool "Nintendo AP"
	depends on RLT_AP_SUPPORT

config COC_SUPPORT
	bool "CoC Support"
	depends on RLT_AP_SUPPORT
	default n

#config  RT2860V2_SNMP
#	bool "Net-SNMP Support"
#	depends on RLT_AP_SUPPORT

#config MCAST_RATE_SPECIFIC
#	bool "User specific tx rate of mcast pkt"
#	depends on RLT_AP_SUPPORT

#config EXT_BUILD_CHANNEL_LIST
#	bool "Extension Channel List"
#	depends on RLT_AP_SUPPORT

#config AUTO_CH_SELECT_ENHANCE
#	bool "Auto Channel Selection Enhancement"
#	depends on RLT_AP_SUPPORT


