<%#
 Copyright 2018-2019 Lienol <lawlienol@gmail.com>
 Licensed to the public under the Apache License 2.0.
-%>

<%
local dsp = require "luci.dispatcher"
-%>

<script type="text/javascript">
	//<![CDATA[
	const doms = document.getElementsByClassName('pingtime');
	const ports = document.getElementsByClassName("socket-connected")
	// 这也是卡的原罪 CGI 一下子处理不这么多
	const xhr = (index) => {
		doms[index].innerHTML = '<font color="#ee0000"><%:Check...%></font>';
		ports[index].innerHTML = '<font color="#ee0000"><%:Port%><%:Check...%></font>';
		return new Promise((res) => {
			const dom = doms[index];
			const port = ports[index];
			if (!dom) res()
			XHR.get('<%=dsp.build_url("admin/services/shadowsocksr/ping")%>', {
				index,
				domain: dom.getAttribute("hint"),
				port: port.getAttribute("hint")
			},
			(x, result) => {
				let col = '#ff0000';
				if (x.readyState === 4 && x.status === 200) {
				try {ret=JSON.parse(x.responseText);} catch(e) {ret=null;}
				if (ret != null && typeof(ret) === "object") {
				if (ret.ping) {
					if (ret.ping < 300) col = '#ff3300';
					if (ret.ping < 200) col = '#ff7700';
					if (ret.ping < 100) col = '#249400';
				}
				dom.innerHTML = `<font color="${col}">${(ret.ping ? ret.ping : "--") + " ms"}</font>`
				if (ret.socket) {
					port.innerHTML = '<font color="#249400"><%:Connect OK%></font>'
				} else {
					port.innerHTML = '<font color="#ff0000"><%:Connect Error%></font>'
				}}}
				res()
			});
		})
	}
	(async () => {
		for (let group = 0; group < Math.ceil(doms.length / 5); group++) {
			await Promise.all([
				xhr(group * 5 + 0),
				xhr(group * 5 + 1),
				xhr(group * 5 + 2),
				xhr(group * 5 + 3),
				xhr(group * 5 + 4),
			])
		}
	})()
	//]]>
</script>