<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[shadowsocksr]], [[run]])%>', null,
	function(x, rv) {
			if(x.ok ) {try{res = JSON.parse(x.responseText);}catch(e){res=null;}
			if(res !==null && typeof(res) === "object") { var tb = document.getElementById('shadowsocksr_status'); if (res.running) tb.innerHTML =  '<em><b><font color="green">ShadowsocksR Plus+ <%:RUNNING%></font></b></em>'; else tb.innerHTML = '<em><b><font color="red">ShadowsocksR Plus+ <%:NOT RUNNING%></font></b></em>'; }
			}});
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="shadowsocksr_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
