
<script type="text/javascript">//<![CDATA[
    XHR.poll(3, '<%=url([[admin]], [[services]], [[go-aliyundrive-webdav]], [[status]])%>', null,
        function (x, data) {
            var tb = document.getElementById('go-aliyundrive-webdav_status');
            if (data && tb) {
                if (data.running) {
                    tb.innerHTML = '<em><b><font color=green> go-aliyundrive-webdav <%:RUNNING%></font></b></em>';
                } else {
                    tb.innerHTML = '<em><b><font color=red> go-aliyundrive-webdav <%:NOT RUNNING%></font></b></em>';
                }
            }
        }
    );
    //]]>
</script>
<style>
    .mar-10 {
        margin-left: 50px;
        margin-right: 10px;
    }

</style>
<fieldset class="cbi-section">
    <p id="go-aliyundrive-webdav_status">
        <em>
            <%:Collecting data...%>
        </em>
    </p>
</fieldset>
