#
# Copyright (C) 2018 rosysong@rosinson.com
#
# This is the sample for nft-qos configuration file,
# which will generate a nftables script in /tmp/qos.nft
#

# Getting Started
# Official site      :
#   https://netfilter.org/projects/nftables/index.html
# What is nftables   :
#   https://wiki.nftables.org/wiki-nftables/index.php/Main_Page
#

# Basic Operations
# Configuring Tables :
#   https://wiki.nftables.org/wiki-nftables/index.php/Configuring_tables
# Configuring Chains :
#   https://wiki.nftables.org/wiki-nftables/index.php/Configuring_chains
# Configuring Rules  :
#   https://wiki.nftables.org/wiki-nftables/index.php/Simple_rule_management
# Quick Reference (recommended)   :
#   https://wiki.nftables.org/wiki-nftables/index.php/Quick_reference-nftables_in_10_minutes
#   https://netfilter.org/projects/nftables/manpage.html
#

config default
	option def_unit_dl 'kbytes'
	option def_unit_ul 'kbytes'
	option def_rate_dl '64'
	option def_rate_ul '32'
	option enabled '1'

#config download
#	option hostname '?'
#	option unit 'kbytes'
#	option ipaddr '192.168.1.224'
#	option rate '128'
#
#config upload
#	option hostname '?'
#	option unit 'kbytes'
#	option ipaddr '192.168.1.224'
#	option rate '128'
