<script type="text/javascript">
	//<![CDATA[
	XHR.poll(3, '<%=url([[admin]], [[services]], [[mosdns]], [[status]])%>', null,
		function(x, data) {
			var tb = document.getElementById('mosdns_status');
			if (data && tb) {
				if (data.running) {
					var links = '<em><b style=color:green>MosDNS <%:RUNNING%></b></em>';
					tb.innerHTML = links;
				} else {
					tb.innerHTML = '<em><b style=color:red>MosDNS <%:NOT RUNNING%></b></em>';
				}
			}
		}
	);
	//]]>
</script>
<style>
	.mar-10 {
		margin-left: 50px;
		margin-right: 10px;
	}
</style>
<fieldset class="cbi-section">
	<p id="mosdns_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
