<%+cbi/valueheader%>
    <script src="/luci-static/resources/mosdns/lib/codemirror.js"></script>
    <script src="/luci-static/resources/mosdns/addon/fold/foldcode.js"></script>
    <script src="/luci-static/resources/mosdns/addon/fold/foldgutter.js"></script>
    <script src="/luci-static/resources/mosdns/addon/fold/indent-fold.js"></script>
    <script src="/luci-static/resources/mosdns/mode/yaml/yaml.js"></script>
    <link rel="stylesheet" href="/luci-static/resources/mosdns/addon/fold/foldgutter.css" />
    <link rel="stylesheet" href="/luci-static/resources/mosdns/lib/codemirror.css" />
    <link rel="stylesheet" href="/luci-static/resources/mosdns/theme/dracula.css" />
    <script type="text/javascript">//<![CDATA[
        var editor = CodeMirror.fromTextArea(document.getElementById("cbid.mosdns.config.config_custom"), {
            mode: "text/yaml",
            styleActiveLine: true,
            lineNumbers: true,
            theme: "dracula",
            lineWrapping: true,
            matchBrackets: true
        }
        );//]]>
    </script>
<%+cbi/valuefooter%>
