<%-
	local dc = require "luci.tools.dnscrypt".init()
	local rsl = dc:resolvers_list(false)
	local ctl = dc:country_list()
	local prl = dc:proto_list()
 	local dnss = dc:dns_list()
	local _, z
-%>
	<script type="text/javascript">//<![CDATA[
			var dnslist = <%= luci.http.write_json(dnss) %>;
function find_in_object(my_object, my_criteria){

  return my_object.filter(function(obj) {
    return Object.keys(my_criteria).every(function(c) {
      return obj[c] == my_criteria[c];
    });
  });

}
function unique_list(data, id) {
    if (data.length > 0) {
        var result = ["ALL"];

        data.forEach(function (elem) {
            if (result.indexOf(elem[id]) === -1) {
                result.push(elem[id]);
            }
        });

        return result;
    }
}
			function cbi_set_values(id, vals) {
				while (id.options[0])
					id.remove(0);

					for (var i = 0; vals && i < vals.length; i += 1)
					{
					//	if (!vals[i+2])
						//	continue;
						var opt = document.createElement('option');
						opt.value = vals[i];
						opt.text = vals[i];
						id.add(opt);
					}
				id.vals = vals;
				}
			function cbi_init_dnslist(self) {
				id = "_newsrv";
				var oproto = document.getElementById(id + '.proto');
				var oresolvers = document.getElementById(id + '.resolvers');
				var ocountry = document.getElementById(id + '.country');
				var oname = document.getElementById(id + '.name');
				var oaddrs = document.getElementById(id + '.addrs');
				var oports = document.getElementById(id + '.ports');
				var ohints = document.getElementById(id + '.hints');
				var oaddbt = document.getElementById("cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>");

				filter = {}
				vproto = oproto.value;
				vresolvers = oresolvers.value;
				vcountry = ocountry.value;
				vname = oname.value;
				vaddrs = oaddrs.value;
				if (vproto != "ALL" && vproto != "") filter["proto"] = vproto;
				if (vresolvers != "ALL" && vresolvers != "") filter["resolver"] = vresolvers;
				if (vcountry != "ALL" && vcountry != "") filter["country"] = vcountry;
				if (vname != "ALL" && vname != "") filter["name"] = vname;
				if (vaddrs != "ALL" && vaddrs != "") filter["addrs"] = vaddrs;

				var dst = find_in_object(dnslist, filter);
				ohints.innerHTML = "Filter: (" + String(dst.length) + ")" + JSON.stringify(filter) + '\n' + ((dst.length < 80) ? JSON.stringify(dst) : "more than 80, try filter out to show details...");
				cbi_set_values(oproto, unique_list(dst, "proto"));
				cbi_set_values(oresolvers, unique_list(dst, "resolver"));
				cbi_set_values(ocountry, unique_list(dst, "country"));
				cbi_set_values(oname, unique_list(dst, "name"));
				cbi_set_values(oaddrs, unique_list(dst, "addrs"));
				cbi_set_values(oports, unique_list(dst, "ports"));
				oproto.value = vproto;
				oresolvers.value = vresolvers;
				ocountry.value = vcountry;
				oname.value = vname;
				oaddrs.value = vaddrs;

				oaddbt.disabled = ( dst.length != 1);
				return ( dst.length == 1 ) ? dst[0]['stamp'] : "";
				}
	//]]></script>
<div class="cbi-section-create cbi-tblsection-create" stylt="width:470px">
  <br />
	<table class="cbi-section-table margin-left:5px" style="width:400px">
		<tr class="cbi-section-table-titles">
			<th class="cbi-section-table-cell" colspan="7"><%:DNS Resolver Filter%></th>
		</tr>
		<tr class="cbi-section-table-descr">
			<th class="cbi-section-table-cell"><%:Resolvers%></th>
			<th class="cbi-section-table-cell"><%:Country%></th>
			<th class="cbi-section-table-cell"><%:Protocol%></th>
			<th class="cbi-section-table-cell"><%:Resolver%></th>
			<th class="cbi-section-table-cell"><%:Address%></th>
			<th class="cbi-section-table-cell"><%:Port%></th>
			<th class="cbi-section-table-cell"><%:Stamp%></th>
		</tr>
		<tr class="cbi-section-table-row">
			<td class="cbi-section-table-cell" style="width:100px">
				<select class="cbi-input-select" id="_newsrv.resolvers" name="_newsrv.resolvers">
					<option value="ALL"><%:ALL%></option>
					<% for _, z in ipairs(rsl) do -%><option value="<%=z%>"><%=z%></option><%- end %>
				</select>
			</td>
			<td class="cbi-section-table-cell" style="width:65px">
				<select class="cbi-input-select" id="_newsrv.country" name="_newsrv.country">
					<option value="ALL"><%:ALL%></option>
					<% for _, z in pairs(ctl) do -%><option value="<%=z%>"><%=z%></option><%- end %>
				</select>
			</td>
			<td class="cbi-section-table-cell" style="width:65px">
				<select class="cbi-input-select" id="_newsrv.proto" name="_newsrv.proto">
					<option value="ALL"><%:ALL%></option>
					<% for _, z in pairs(prl) do -%><option value="<%=z%>"><%=z%></option><%- end %>
				</select>
			</td>
			<td class="cbi-section-table-cell" style="width:65px">
				<select class="cbi-input-select" id="_newsrv.name" name="_newsrv.name">
					<option value="ALL"><%:ALL%></option>
					<% for _, z in pairs(dnss) do -%><option value="<%=z['name']%>"><%=z['name']%></option><%- end %>
				</select>
			</td>
			<td class="cbi-section-table-cell" style="width:100px">
				<select class="cbi-input-select" id="_newsrv.addrs" name="_newsrv.addrs">
					<option value="ALL"><%:ALL%></option>
					<% for _, z in pairs(dnss) do -%><option value="<%=z['addrs']%>"><%=z['addrs']%></option><%- end %>
				</select>
			</td>
			<td class="cbi-section-table-cell" style="width:45px">
				<select class="cbi-input-select" id="_newsrv.ports" name="_newsrv.ports">
					<option value="ALL"><%:ALL%></option>
				</select>
			</td>
			<td class="cbi-section-table-cell"></td>
		</tr>
		<tr class="cbi-section-table-cell">
			<td class="cbi-section-table-cell" style="width:55px">
				<input type="text" class="cbi-input-text" id="_newsrv.stamp" name="_newsrv.stamp" data-optional="false" placeholder="<%:Stamp%>" />
			</td>
			<td class="cbi-section-table-cell">
				<input type="text" class="cbi-input-text" id="_newsrv.alias" name="_newsrv.alias" placeholder="<%:Alias%>" / >
			</td>
			<td class="cbi-section-table-cell">
				<input type="submit" class="cbi-button cbi-button-add" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" id="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" value="<%:Add%>" />
			</td>
			<td class="cbi-section-table-cell"></td>
			<td class="cbi-section-table-cell"></td>
			<td class="cbi-section-table-cell"></td>
			<td class="cbi-section-table-cell"></td>
			<td class="cbi-section-table-cell"></td>
		</tr>
		<tr class="cbi-section-table-descr">
			<td class="cbi-section-table-cell" colspan="7"><textarea class="cbi-input-textarea" style="width: 100%" id="_newsrv.hints" name="_newsrv.hints" rows="8" readonly="true">sample</textarea></td>
		</tr>
	</table></div>

	<script type="text/javascript">//<![CDATA[
		cbi_init_dnslist();
		cbi_bind(document.getElementById('_newsrv.addrs'), 'change',
			function() {
				var a = document.getElementById('_newsrv.alias');
				var r = document.getElementById('_newsrv.resolvers');
				var p = document.getElementById('_newsrv.proto');
				var c = document.getElementById('_newsrv.country');
				var s = document.getElementById('_newsrv.stamp');
				if (!this.className.match(/invalid/))
				{
					if (true)
					{
						a.value = r.value + "." + c.value + "@" + p.value;
						s.value = cbi_init_dnslist();
					}
				}
			});	cbi_bind(document.getElementById('_newsrv.name'), 'change',
			function() {
				var a = document.getElementById('_newsrv.alias');
				var n = document.getElementById('_newsrv.name');
				var p = document.getElementById('_newsrv.proto');
				var c = document.getElementById('_newsrv.country');
				var s = document.getElementById('_newsrv.stamp');
				if (!this.className.match(/invalid/))
				{
					if (true)
					{
						a.value = n.value + "." + c.value + "@" + p.value;
						s.value = cbi_init_dnslist();
					}
				}
			});
		cbi_bind(document.getElementById('_newsrv.country'), 'change', function() {try{cbi_init_dnslist();}catch(e){}});
		cbi_bind(document.getElementById('_newsrv.resolvers'), 'change', function() {try{cbi_init_dnslist();}catch(e){}});
		cbi_bind(document.getElementById('_newsrv.proto'), 'change', function() {try{cbi_init_dnslist();}catch(e){}});
	cbi_bind(document.getElementById('_newsrv.name'), 'change', function() {try{cbi_init_dnslist();}catch(e){}});
		cbi_bind(document.getElementById('_newsrv.addrs'), 'change', function() {try{cbi_init_dnslist();}catch(e){}});
	//]]></script>
