<script type="text/javascript">//<![CDATA[

	function ocserv_disconnect(idx) {
		(new XHR()).post('<%=url('admin/services/ocserv/disconnect')%>/' + idx, { token: '<%=token%>' },
			function(x)
			{
				var tb = document.getElementById('ocserv_status_table');
				if (tb && (idx < tb.rows.length))
					tb.rows[0].parentNode.removeChild(tb.rows[idx]);
			}
		);
	}

	XHR.poll(5, '<%=url('admin/services/ocserv/status')%>', null,
		function(x, st)
		{
			var tb = document.getElementById('ocserv_status_table');
			if (st && tb)
			{
				/* clear all rows */
				while( tb.rows.length > 1 )
					tb.deleteRow(1);

				for( var i = 0; i < st.length; i++ )
				{
					var tr = tb.insertRow(-1);
						tr.className = 'cbi-section-table-row cbi-rowstyle-' + ((i % 2) + 1);

					tr.insertCell(-1).innerHTML = st[i].user;
					tr.insertCell(-1).innerHTML = st[i].group;
					tr.insertCell(-1).innerHTML = st[i].vpn_ip;
					tr.insertCell(-1).innerHTML = st[i].ip;
					tr.insertCell(-1).innerHTML = st[i].device;
					tr.insertCell(-1).innerHTML = st[i].time;
					tr.insertCell(-1).innerHTML = st[i].cipher;
					tr.insertCell(-1).innerHTML = st[i].status;

					tr.insertCell(-1).innerHTML = String.format(
						'<input class="cbi-button cbi-input-remove" type="button" value="<%:Disconnect%>" onclick="ocserv_disconnect(%d)" />',
							st[i].id
					);
				}

				if( tb.rows.length == 1 )
				{
					var tr = tb.insertRow(-1);
						tr.className = 'cbi-section-table-row';

					var td = tr.insertCell(-1);
						td.colSpan = 5;
						td.innerHTML = '<em><br /><%:There are no active users.%></em>';
				}
			}
		}
	);
//]]></script>

<fieldset class="cbi-section">
	<legend><%:Active OpenConnect Users%></legend>
	<table class="cbi-section-table" id="ocserv_status_table">
		<tr class="cbi-section-table-titles">
			<th class="cbi-section-table-cell"><%:User%></th>
			<th class="cbi-section-table-cell"><%:Group%></th>
			<th class="cbi-section-table-cell"><%:IP Address%></th>
			<th class="cbi-section-table-cell"><%:VPN IP Address%></th>
			<th class="cbi-section-table-cell"><%:Device%></th>
			<th class="cbi-section-table-cell"><%:Time%></th>
			<th class="cbi-section-table-cell"><%:Cipher%></th>
			<th class="cbi-section-table-cell"><%:Status%></th>
			<th class="cbi-section-table-cell">&#160;</th>
		</tr>
		<tr class="cbi-section-table-row">
			<td colspan="5"><em><br /><%:Collecting data...%></em></td>
		</tr>
	</table>
</fieldset>
