<%+cbi/valueheader%>

<script type="text/javascript">//<![CDATA[

	function patch(btn,dataname)
	{
		btn.disabled = true;
		btn.value    = '正在添加补丁...';
		murl=dataname
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "dogcom","patch")%>',
			{ set:murl },
			function(x,patch)
			{
			var s = document.getElementById("patch");
			if (s)
			{
				if (patch.ret=="0")
				s.innerHTML ="<font color='red'>"+"补丁添加失败"+"</font>"	
				else if (patch.ret=="-1")
				{
				s.innerHTML ="<font color='green'>"+"补丁已存在</font>"
				}
				else
				{
				s.innerHTML ="<font color='green'>"+"补丁添加成功</font>"
				}
			}
			}
		);

		return false;
	}
//]]></script>


<input type="button" class="cbi-button cbi-input-button cbi-button-apply" value="添加" onclick="patch(this,'patch')" />
<span id="patch"></span>

<script type="text/javascript">//<![CDATA[

	function unpatch(btn,dataname)
	{
		btn.disabled = true;
		btn.value    = '补丁删除中...';
		murl=dataname
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "dogcom","unpatch")%>',
			{ set:murl },
			function(x,unpatch)
			{
			var s = document.getElementById("unpatch");
			if (s)
			{
				if (unpatch.ret =="0")
				s.innerHTML ="<font color='red'>"+"补丁删除失败"+"</font>"	
				else if (unpatch.ret=="-1")
				{
				s.innerHTML ="<font color='green'>"+"补丁已删除"+"</font>"
				}
				else
					{
				s.innerHTML ="<font color='green'>"+"补丁删除成功</font>"
			}
			}
			}
		);

		return false;
	}
//]]></script>


<input type="button" class="cbi-button cbi-input-button cbi-button-apply" value="删除" onclick="unpatch(this,'unpatch')" />
<span id="unpatch"></span>

<%+cbi/valuefooter%>
