<%+cbi/valueheader%>

<span id="<%=cbid%>"><%:Please Wait%></span>
<script>
     XHR.poll(3,'<%=luci.dispatcher.build_url("admin","pcdn","pear_pcdn","get_act_status")%>',null,
            (x,data)=>{
                var status = data.status;
                if (status == 0){
                    document.getElementById('<%=cbid%>').innerHTML = "<%:Not Running%>";
                    //set color to red
                    document.getElementById('<%=cbid%>').style.color = "red";
                }
                else if (status == 1){
                    document.getElementById('<%=cbid%>').innerHTML = "<%:Running%>";
                    //set color to green
                    document.getElementById('<%=cbid%>').style.color = "green";
                }
                else
                {
                    document.getElementById('<%=cbid%>').innerHTML = "<%:Please Wait%>";
                    //set color to yellow
                    document.getElementById('<%=cbid%>').style.color = "yellow";
                }
            });
</script>

<%+cbi/valuefooter%>
