<fieldset class="cbi-section">
	<legend><%:Running Status%></legend>
	<div class="table" width="100%" id="_xlnetacc_status_table">
		<div class="tr"><div class="td left" width="33%"><%:XLNetAcc Running Status%></div><div class="td left" id="_run_state"><em><%:Collecting data...%></em></div></div>
		<div class="tr"><div class="td left" width="33%"><%:DownLink Upgrade Status%></div><div class="td left" id="_down_state"><em><%:Collecting data...%></em></div></div>
		<div class="tr"><div class="td left" width="33%"><%:UpLink Upgrade Status%></div><div class="td left" id="_up_state"><em><%:Collecting data...%></em></div></div>
	</div>
</fieldset>

<script type="text/javascript">//<![CDATA[
	var run_state = document.getElementById('_run_state');
	var down_state = document.getElementById('_down_state');
	var up_state = document.getElementById('_up_state');
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "services", "xlnetacc", "status")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			run_state.innerHTML = status.run_state ? '<em><b><font color=green><%:RUNNING%></font></b></em>' : '<em><b><font color=red><%:NOT RUNNING%></font></b></em>';
			down_state.innerHTML = status.down_state ? status.down_state : '<%:No upgrade information%>';
			up_state.innerHTML = status.up_state ? status.up_state : '<%:No upgrade information%>';
		}
	});
//]]></script>
