config LEDS_APU2
        tristate "PC Engines APU2/APU3 LED support"
        depends on LEDS_CLASS
        depends on LEDS_GPIO
        depends on GPIOLIB
        help
          Say yes here to enable support for the CPU GPIO pins on the PC Engines
          APU2/APU3 board, which enables the front LEDs and Reset Button.
