<div class="cbi-section cbi-tblsection"><h3><%:Tips%></h3>
		<div>
		<%:You can use load balancing for failover.%>
		<br />
		<%:Restore the default configuration method. Input example in the address bar:%> http://192.168.1.1/cgi-bin/luci/admin/services/passwall/reset_config
		<br />
		<%:Hide menu method, input example in the address bar:%> http://192.168.1.1/cgi-bin/luci/admin/services/passwall/hide
		<br />
		<%:After the hidden to the display, input example in the address bar:%> http://192.168.1.1/cgi-bin/luci/admin/services/passwall/show
	</div>
</div>
