<div class="cbi-value">
	<label class="cbi-value-title"></label>
	<div class="cbi-value-field">
		<%:Tips%>：<%:You can use load balancing for failover.%>
		<br />
		<%:Restore the default configuration method. Input example in the address bar:%> http://192.168.1.1/cgi-bin/luci/admin/vpn/passwall/reset_config
		<br />
		<%:Hide menu method, input example in the address bar:%> http://192.168.1.1/cgi-bin/luci/admin/vpn/passwall/hide
		<br />
		<%:After the hidden to the display, input example in the address bar:%> http://192.168.1.1/cgi-bin/luci/admin/vpn/passwall/show
	</div>
</div>
