<% export("cbi_apply_xhr", function(id, configs, redirect) -%>
<fieldset class="cbi-section" id="cbi-apply-<%=id%>">
	<legend><%:Applying changes%></legend>
	<script type="text/javascript">//<![CDATA[
		var apply_xhr = new XHR();

		apply_xhr.post('<%=url('servicectl/restart', table.concat(configs, ","))%>', { token: '<%=token%>' },
			function() {
				var checkfinish = function() {
					apply_xhr.get('<%=url('servicectl/status')%>', null,
						function(x) {
							if( x.responseText == 'finish' )
							{
								var e = document.getElementById('cbi-apply-<%=id%>-status');
								if( e )
								{
									e.innerHTML = '<%:Configuration applied.%>';
									window.setTimeout(function() {
										e.parentNode.style.display = 'none';
										<% if redirect then %>location.href='<%=redirect%>';<% end %>
									}, 1000);
								}
							}
							else
							{
								var e = document.getElementById('cbi-apply-<%=id%>-status');
								if( e && x.responseText ) e.innerHTML = x.responseText;

								window.setTimeout(checkfinish, 1000);
							}
						}
					);
				}

				window.setTimeout(checkfinish, 1000);
			}
		);
	//]]></script>

	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
	<span id="cbi-apply-<%=id%>-status"><%:Waiting for changes to be applied...%></span>
</fieldset>
<%-	end) %>
