<%- self.active:render() %>
	<div class="cbi-page-actions">
		<input type="hidden" name="cbi.delg.current" value="<%=self.current%>" />
<% for _, x in ipairs(self.chain) do %>
		<input type="hidden" name="cbi.delg.path" value="<%=x%>" />
<% end %>
<% if not self.disallow_pageactions then %>
<% if self.allow_finish and not self:get_next(self.current) then %>
	<input class="cbi-button cbi-button-finish" type="submit" value="<%:Finish%>" />
<% elseif self:get_next(self.current) then %>
		<input class="cbi-button cbi-button-next" type="submit" value="<%:Next »%>" />
<% end %>
<% if self.allow_cancel then %>
		<input class="cbi-button cbi-button-cancel" type="submit" name="cbi.cancel" value="<%:Cancel%>" />
<% end %>
<% if self.allow_reset then %>
		<input class="cbi-button cbi-button-reset" type="reset" value="<%:Reset%>" />
<% end %>
<% if self.allow_back and self:get_prev(self.current) then %>
		<input class="cbi-button cbi-button-back" type="submit" name="cbi.delg.back" value="<%:« Back%>" />
<% end %>
<% end %>
		<script type="text/javascript">cbi_d_update();</script>
	</div>
