<%+cbi/valueheader%>
<div<%=
	attr("data-prefix", cbid) ..
	attr("data-browser-path", self.default_path) ..
	attr("data-dynlist", luci.util.serialize_json({
		self.keylist, self.vallist,
		self.datatype, self.optional or self.rmempty
	})) ..

	ifattr(self.size, "data-size", self.size) ..
	ifattr(self.placeholder, "data-placeholder", self.placeholder)
%>>
<%
	local vals = self:cfgvalue(section) or {}
	for i=1, #vals + 1 do
		local val = vals[i]
		if (val and #val > 0) or (i == 1) then
%>
	<input class="cbi-input-text" value="<%=pcdata(val)%>" data-update="change" type="text"<%=
		attr("id", cbid .. "." .. i) ..
		attr("name", cbid) ..
		ifattr(self.size, "size") ..
		ifattr(i == 1 and self.placeholder, "placeholder", self.placeholder)
	%> /><br />
<% end end %>
</div>
<%+cbi/valuefooter%>
