<div class="cbi-map" id="cbi-<%=self.config%>">
	<% if self.title and #self.title > 0 then %><h2 name="content"><%=self.title%></h2><% end %>
	<% if self.description and #self.description > 0 then %><div class="cbi-map-descr"><%=self.description%></div><% end %>

	<p class="alert-message danger">
		<%: The configuration file could not be loaded due to the following error: %><br />
		<code><%=pcdata(self.error)%></code>
	</p>

	<textarea name="cbi.source" style="width:100%; margin-bottom:1em" rows="<%=math.max(self.source:cmatch("\n"), 10)%>"><%=pcdata(self.source)%></textarea>

	<p class="alert-message">
		<%: Edit the raw configuration data above to fix any error and hit "Save" to reload the page. %>
	</p>

	<div class="cbi-page-actions">
		<input class="cbi-button cbi-button-apply" type="submit" name="cbi.save" value="<%:Save%>" />
	</div>
</div>
