	<%- if pageaction then -%>
	<div class="cbi-page-actions">
		<% if redirect then %>
		<div style="float:left">
			<input class="cbi-button cbi-button-link" type="button" value="<%:Back to Overview%>" onclick="location.href='<%=pcdata(redirect)%>'" />
		</div>
		<% end %>

		<% if flow.skip then %>
			<input class="cbi-button cbi-button-skip" type="submit" name="cbi.skip" value="<%:Skip%>" />
		<% end %>
		<% if not autoapply and not flow.hideapplybtn then %>
			<input class="cbi-button cbi-button-apply" type="submit" name="cbi.apply" value="<%:Save & Apply%>" />
		<% end %>
		<% if not flow.hidesavebtn then %>
			<input class="cbi-button cbi-button-save" type="submit" value="<%:Save%>" />
		<% end %>
		<% if not flow.hideresetbtn then %>
			<input class="cbi-button cbi-button-reset" type="button" value="<%:Reset%>" onclick="location.href='<%=REQUEST_URI%>'" />
		<% end %>
	</div>
	<%- end -%>
</form>

<script type="text/javascript">cbi_init();</script>

<%+footer%>
