<%+header%>
<form method="post" name="cbi" action="<%=REQUEST_URI%>" enctype="multipart/form-data" onreset="return cbi_validate_reset(this)" onsubmit="return cbi_validate_form(this, '<%:Some fields are invalid, cannot save values!%>')">
	<div>
		<script type="text/javascript" src="<%=resource%>/cbi.js"<%=
			attr("data-strings", luci.util.serialize_json({
				label = {
					choose = translate('-- Please choose --'),
					custom = translate('-- custom --'),
				},
				path = {
					resource = resource,
					browser  = url("admin/filebrowser")
				}
			}))
		%>></script>
		<input type="hidden" name="token" value="<%=token%>" />
		<input type="hidden" name="cbi.submit" value="1" />
		<input type="submit" value="<%:Save%>" class="hidden" />
	</div>
