<%+cbi/valueheader%>

<%-
	local value = self:formvalue(section)
	if not value or value == "-" then
		value = self:cfgvalue(section) or self.default
	end

	local nwm = require "luci.model.network".init()
	local net = nwm:get_network(value)
-%>

<% if net then %>
<span class="ifacebadge"><%=net:name()%>:
	<%
		local empty = true
		for _, iface in ipairs(net:get_interfaces() or { net:get_interface() }) do
			if not iface:is_bridge() then
				empty = false
	 %>
		<img<%=attr("title", iface:get_i18n())%> style="width:16px; height:16px; vertical-align:middle" src="<%=resource%>/icons/<%=iface:type()%><%=iface:is_up() and "" or "_disabled"%>.png" />
	<% end end %>
	<% if empty then %><em><%:(no interfaces attached)%></em><% end %>
</span>
<% end %>

<%+cbi/valuefooter%>
