<% if self:cfgvalue(self.section) then section = self.section %>
	<fieldset class="cbi-section">
		<% if self.title and #self.title > 0 then -%>
			<legend><%=self.title%></legend>
		<%- end %>
		<% if self.description and #self.description > 0 then -%>
			<div class="cbi-section-descr"><%=self.description%></div>
		<%- end %>
		<% if self.addremove then -%>
			<div class="cbi-section-remove right">
				<input type="submit" class="cbi-button" name="cbi.rns.<%=self.config%>.<%=section%>" value="<%:Delete%>" />
			</div>
		<%- end %>
		<%+cbi/tabmenu%>
		<div class="cbi-section-node<% if self.tabs then %> cbi-section-node-tabbed<% end %>" id="cbi-<%=self.config%>-<%=section%>">
			<%+cbi/ucisection%>
		</div>
		<br />
	</fieldset>
<% elseif self.addremove then %>
	<% if self.template_addremove then include(self.template_addremove) else -%>
	<fieldset class="cbi-section" id="cbi-<%=self.config%>-<%=self.section%>">
		<% if self.title and #self.title > 0 then -%>
			<legend><%=self.title%></legend>
		<%- end %>
		<div class="cbi-section-descr"><%=self.description%></div>
		<input type="submit" class="cbi-button cbi-button-add" name="cbi.cns.<%=self.config%>.<%=self.section%>" value="<%:Add%>" />
	</fieldset>
	<%- end %>
<% end %>
<!-- /nsection -->
