<fieldset class="cbi-section">
	<% if self.title and #self.title > 0 then -%>
		<legend><%=self.title%></legend>
	<%- end %>
	<% if self.description and #self.description > 0 then -%>
		<div class="cbi-section-descr"><%=self.description%></div>
	<%- end %>
	<div class="cbi-section-node">
		<div id="cbi-<%=self.config%>-<%=tostring(self):sub(8)%>">
			<% self:render_children(1, scope or {}) %>
		</div>
		<% if self.error and self.error[1] then -%>
			<div class="cbi-section-error">
				<ul><% for _, e in ipairs(self.error[1]) do -%>
					<li>
						<%- if e == "invalid" then -%>
							<%:One or more fields contain invalid values!%>
						<%- elseif e == "missing" then -%>
							<%:One or more required fields have no value!%>
						<%- else -%>
							<%=pcdata(e)%>
						<%- end -%>
					</li>
				<%- end %></ul>
			</div>
		<%- end %>
	</div>
	<br />
</fieldset>
<%-
	if type(self.hidden) == "table" then
		for k, v in pairs(self.hidden) do
-%>
	<input type="hidden" id="<%=k%>" name="<%=k%>" value="<%=pcdata(v)%>" />
<%-
		end
	end
%>
