<% if not self.embedded then %>
<form method="post" enctype="multipart/form-data" action="<%=REQUEST_URI%>"<%=
			attr("data-strings", luci.util.serialize_json({
				label = {
					choose = translate('-- Please choose --'),
					custom = translate('-- custom --'),
				},
				path = {
					resource = resource,
					browser  = url("admin/filebrowser")
				}
			}))
		%>>
	<div>
		<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
		<input type="hidden" name="token" value="<%=token%>" />
		<input type="hidden" name="cbi.submit" value="1" />
	</div>
<% end %>
	<div class="cbi-map" id="cbi-<%=self.config%>">
		<% if self.title and #self.title > 0 then %><h2 name="content"><%=self.title%></h2><% end %>
		<% if self.description and #self.description > 0 then %><div class="cbi-map-descr"><%=self.description%></div><% end %>
		<% self:render_children() %>
		<br />
	</div>
<%- if self.message then %>
	<div><%=self.message%></div>
<%- end %>
<%- if self.errmessage then %>
	<div class="error"><%=self.errmessage%></div>
<%- end %>
<% if not self.embedded then %>
	<div class="cbi-page-actions">
<%-
	if type(self.hidden) == "table" then
		for k, v in pairs(self.hidden) do
-%>
	<input type="hidden" id="<%=k%>" name="<%=k%>" value="<%=pcdata(v)%>" />
<%-
		end
	end
%>
<% if redirect then %>
	<div style="float:left">
		<input class="cbi-button cbi-button-link" type="button" value="<%:Back to Overview%>" onclick="location.href='<%=pcdata(redirect)%>'" />
	</div>
<% end %>
<%- if self.flow and self.flow.skip then %>
	<input class="cbi-button cbi-button-skip" type="submit" name="cbi.skip" value="<%:Skip%>" />
<% end %>
<%- if self.submit ~= false then %>
	<input class="cbi-button cbi-button-save" type="submit" value="
		<%- if not self.submit then -%><%-:Submit-%><%-else-%><%=self.submit%><%end-%>
	" />
<% end %>
<%- if self.reset ~= false then %>
	<input class="cbi-button cbi-button-reset" type="reset" value="
		<%- if not self.reset then -%><%-:Reset-%><%-else-%><%=self.reset%><%end-%>
	" />
<% end %>
<%- if self.cancel ~= false and self.on_cancel then %>
	<input class="cbi-button cbi-button-reset" type="submit" name="cbi.cancel" value="
		<%- if not self.cancel then -%><%-:Cancel-%><%-else-%><%=self.cancel%><%end-%>
	" />
<% end %>
	</div>
</form>
<% end %>
<script type="text/javascript">cbi_init();</script>
