<%
	local t = require("luci.tools.webadmin")
	local v = self:cfgvalue(section)
	local s = v and nixio.fs.stat(v)
-%>
<%+cbi/valueheader%>
	<% if s then %>
		<%:Uploaded File%> (<%=t.byte_format(s.size)%>)
                <% if self.unsafeupload then %>
		    <input type="hidden"<%= attr("value", v) .. attr("name", cbid) .. attr("id", cbid) %> />
		    <input class="cbi-button cbi-input-image" type="image" value="<%:Replace entry%>" name="cbi.rlf.<%=section .. "." .. self.option%>" alt="<%:Replace entry%>" title="<%:Replace entry%>" src="<%=resource%>/cbi/reload.gif" />
                <% end %>
	<% end %>

        <% if not self.unsafeupload then %>
		<input type="hidden"<%= attr("value", v) .. attr("name", "cbi.rlf." .. section .. "." .. self.option) .. attr("id", "cbi.rlf." .. section .. "." .. self.option) %> />
	<% end %>

	<% if (not s) or (s and not self.unsafeupload) then %>
		<input class="cbi-input-file" type="file"<%= attr("name", cbid) .. attr("id", cbid) %> />
	<% end %>
	<input type="text" class="cbi-input-text" data-update="change"<%=
		attr("name", cbid .. ".textbox") .. attr("id", cbid .. ".textbox") .. attr("value", luci.cbi.AbstractValue.cfgvalue(self, section) or self.default) .. ifattr(self.size, "size") .. ifattr(self.placeholder, "placeholder") .. ifattr(self.readonly, "readonly") .. ifattr(self.maxlength, "maxlength") %> />
<%+cbi/valuefooter%>
