<%+header%>
<link rel="stylesheet" href="/luci-static/vssr/css/vssr.css?v=<%=math.random(1,100000)%>">

<div class="pure-g status">
    <div class="pure-u-1">
        <div class="block pure-g">
            <div class="pure-u-1">
                <h4 id="vssr_status"><span class="green" style="color: #404040;">GeoLite2</span></h4>
                <p style="margin: 1rem; line-height: 1.8em;">This product includes GeoLite2 data created by MaxMind,
                    available from
                    <a href="https://www.maxmind.com">https://www.maxmind.com</a>.</p>

                <h4 id="vssr_status"><span class="green" style="color: #404040;">Flag-icon-css</span></h4>
                <p style="margin: 1rem; line-height: 1.8em;">A collection of all country flags in SVG — plus the CSS for
                    easier integration <a href="https://flagicons.lipis.dev">https://flagicons.lipis.dev</a></p>

            </div>
        </div>
    </div>

</div>
<%+footer%>
