config SPI_GPIO_CUSTOM
	tristate "Custom GPIO-based SPI driver"
	depends on GENERIC_GPIO
	select SPI_GPIO
	help
	  This is an SPI driver to register 1 to 4 custom SPI buses using
	  GPIO lines. Each bus can have up to 8 slaves.
	  The devices will be exposed to userspace as /dev/spidevX.X
	  
	  This module is maily intended to interface microcontrollers
	  and other SPI devices without a specific kernel driver.

	  This support is also available as a module.  If so, the module
	  will be called spi-gpio-custom.
