<script type="text/javascript">//<![CDATA[
XHR.poll(1, '<%=url([[admin]], [[nas]], [[syncthing]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('syncthing_status');
		if (data && tb) {
			if (data.running) {
				var links = '<font color="green"><%:RUNNING%></font>';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<font color="red"><%:NOT RUNNING%></font>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="syncthing_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
