<%+cbi/valueheader%>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[

	function do_macvlan_redial()
	{
		XHR.get('<%=luci.dispatcher.build_url("admin", "network", "macvlan_redial")%>', null,
			function(x, st)
			{
				window.location.href='<%=luci.dispatcher.build_url("admin", "network", "network")%>';
			}
		);
	}
//]]></script>

<input class="cbi-button cbi-input-save" id="cbi-macvlan_rediag-<%=section%>-action" type="button" value="重新拨号" onclick="do_macvlan_redial()" />
<%+cbi/valuefooter%>
