<%#
 Copyright 2016 t123yh <t123yh@outlook.com>
 Licensed to the public under the Apache License 2.0.
-%>

<% css = [[
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
]] -%>

<%+header%>

<% if exitcode == 0 then %>
    <div class="alert alert-success" role="alert"> <%:Command executed successfully.%> </div>
<% else %>
    <div class="alert alert-warning" role="alert"> <%:Command exited with status code %> <%= exitcode %> </div>
<% end %>

<% if stdout ~= "" then %>
    <h3><%:Standard Output%></h3>
    <pre><%= stdout %></pre>
<% end %>

<% if stderr ~= "" then %>
    <h3><%:Standard Error%></h3>
    <pre><%= stderr %></pre>
<% end %>

<script>
    <%# Display top bar on mobile devices -%>
    document.getElementsByClassName('brand')[0].style.setProperty("display", "block", "important");
</script>

<%+footer%>