<%
local kodexplorer_path = luci.sys.exec("echo -n `uci get kodexplorer.@global[0].project_directory`")
local kodexplorer_version = luci.sys.exec("[ -f '" .. kodexplorer_path .. "/ChangeLog.md' ] && echo -n `cat " .. kodexplorer_path .. "/ChangeLog.md | head -1 | awk '{print $2}'`")
-%>

<% if kodexplorer_version ~= nil and kodexplorer_version~="" then %>
<div class="cbi-value">
	<label class="cbi-value-title">
		<%:Version%>
	</label>
	<div class="cbi-value-field">
		<div class="cbi-value-description">
			<span>【 <%=kodexplorer_version%> 】</span>
		</div>
	</div>
</div>
<% end %>