<%+header%>

<link rel="stylesheet" href="/luci-static/resources/fileassistant/fb.css?v=@ver">
<h2 name="content">文件助手</h2>
<fieldset class="cbi-section fb-container">
  <input id="current-path" type="text" class="current-path cbi-input-text" value="/"/>
  <div class="panel-container">
    <div class="panel-title">文件列表</div>
    <button id="upload-toggle" class="upload-toggle cbi-button cbi-button-edit">上传</button>
  </div>
  <div class="upload-container" id="upload-container">
    <input id="upload-file" name="upload-file" class="upload-file" type="file">
    <button type="button" class="cbi-button cbi-input-apply">点我上传</button>
  </div>
  <div id="list-content"></div>
</fieldset>

<script src="/luci-static/resources/fileassistant/fb.js?v=@ver"></script>

<%+footer%>
