<div class="cbi-section-create">
	<% if self.invalid_cts then -%><div class="cbi-section-error"><% end %>
	<input type="text" class="cbi-section-create-name" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.text" />
	<select class="cbi-section-create-name" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.select">
	<%- for k, v in luci.util.kspairs(self.add_select_options) do %>
		<option value="<%=k%>"><%=luci.util.pcdata(v)%></option>
	<% end -%>
	</select>
	<input class="cbi-button cbi-button-add" type="submit" value="<%:Add%>" title="<%:Add%>" />
	<% if self.invalid_cts then %><br /><%:Invalid%></div><% end %>
</div>
