<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<fieldset class="cbi-section">
	<legend>
		<a href="<%=url('admin/services/openvpn')%>"><%:Overview%></a> &raquo;
		<%=luci.i18n.translatef("Instance \"%s\"", self.instance)%>
	</legend>

	<% if self.mode == "basic" then %>
		<a href="<%=url('admin/services/openvpn/advanced', self.instance, "Service")%>"><%:Switch to advanced configuration »%></a>
	<% else %>
		<a href="<%=url('admin/services/openvpn/basic', self.instance)%>"><%:« Switch to basic configuration%></a>
		<hr style="margin:0.5em 0" />
		<%:Configuration category%>:
		<% for i, c in ipairs(self.categories) do %>
			<% if c == self.category then %>
				<strong><%=translate(c)%></strong>
			<% else %>
				<a href="<%=luci.dispatcher.build_url(
					"admin", "services", "openvpn", "advanced", self.instance, c
				)%>"><%=translate(c)%></a>
			<% end %>
			<% if next(self.categories, i) then %>|<% end %>
		<% end %>
	<% end %>
</fieldset>
