# This file should only contain the [engines] section
# It is subject to change by installing OpenSSL engine packages
# Any lines that have the sequence "engine-name=engine-name" will
# be removed when the respective engine gets uninstalled.
# You may avoid that by adding a space before/after the  = sign.

[engines]
