<%+header%>
<h2><%=translate("Usage")%></h2>
<p style="position:relative;">
    <button id="resetDatabase" class="cbi-button" style="position:absolute;right:0;bottom:0;"><%=translate("Reset Database")%></button>
</p>
<p>
    <small><span id="updated"></span> <span id="updating"></span></small>
    <span style="float:right;text-align:right;">
        <label>
            <small><%=translate("Auto Refresh Interval")%></small>
            <select id="intervalSelect" style="width:90px;height:20px;font-size:11px;">
                <option value="-1"><%=translate("Disabled")%></option>
                <option value="1">1 <%=translate("Second")%></option>
                <option value="2">2 <%=translate("Seconds")%></option>
                <option value="3">3 <%=translate("Seconds")%></option>
                <option value="4">4 <%=translate("Seconds")%></option>
                <option value="5" selected="selected">5 <%=translate("Seconds")%></option>
                <option value="10">10 <%=translate("Seconds")%></option>
                <option value="20">20 <%=translate("Seconds")%></option>
                <option value="30">30 <%=translate("Seconds")%></option>
                <option value="40">40 <%=translate("Seconds")%></option>
                <option value="50">50 <%=translate("Seconds")%></option>
                <option value="60">60 <%=translate("Seconds")%></option>
                <option value="120">2 <%=translate("Minutes")%></option>
                <option value="180">3 <%=translate("Minutes")%></option>
                <option value="240">4 <%=translate("Minutes")%></option>
                <option value="360">5 <%=translate("Minutes")%></option>
            </select>
        </label>
        <br/>
        <label>
            <small><%=translate("Per-host Totals")%></small>
            <input id="perHostTotals" type="checkbox" style="vertical-align:middle;"/>
        </label>
        <!-- label>
            <small>Show per host aggregates only</small>
            <input id="showPerHostTotalsOnly" type="checkbox"/>
        </label -->
    </span>
</p>
<table class="table">
    <tbody id="tableBody"><tr><td><%=translate("Loading...")%></td></tr></tbody>
</table>
<!--suppress HtmlUnknownTarget -->
<script src="/luci-static/wrtbwmon.js"></script>
<%+footer%>
