<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2012 David Menting <david@nut-bolt.nl>
 Copyright 2015 GuoGuo <gch981213@gmail.com>
 Licensed to the public under the Apache License 2.0.
-%>

<%
	local sys  = require "luci.sys"
	local util = require "luci.util"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"

	local boardinfo = util.ubus("system", "board")

	local request  = disp.context.path
	local request2 = disp.context.request

	local category = request[1]
	local cattree  = category and disp.node(category)

	local leaf = request2[#request2]

	local tree = disp.node()
	local node = disp.context.dispatched

	local categories = disp.node_childs(tree)

	local c = tree
	local i, r

	-- tag all nodes leading to this page
	for i, r in ipairs(request) do
		if c.nodes and c.nodes[r] then
			c = c.nodes[r]
			c._menu_selected = true
		end
	end
    
    -- send as HTML5
	http.prepare_content("text/html")

	local function nodeurl(prefix, name, query)
		local url = controller .. prefix .. name .. "/"
		if query then
			url = url .. http.build_querystring(query)
		end
		return pcdata(url)
	end

	local function subtree(prefix, node, level)
		if not level then
			level = 1
		end

		local childs = disp.node_childs(node)
		if #childs > 0 then
        
            if level > 2 then
%>
	<ul class="tabs">
		<%  
            end

			local selected_node
			local selected_name
			local i, v

			for i, v in ipairs(childs) do
				local nnode = node.nodes[v]
				if nnode._menu_selected then
					selected_node = nnode
					selected_name = v
				end
                if level > 2 then
		%>
			<li class="tabmenu-item-<%=v%><%- if nnode._menu_selected or (node.leaf and v == leaf) then %> active<% end %>">
			    <a href="<%=nodeurl(prefix, v, nnode.query)%>" class="am-btn am-btn-link"><%=striptags(translate(nnode.title))%></a>
			</li>
		<%      end
			end
            
            if level > 2 then
		%>
	</ul>
<%          end

			if selected_node then
				subtree(prefix .. selected_name .. "/", selected_node, level + 1)
			end
		end
	end
-%>
<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">
 <head>
  <meta charset="utf-8">
  <title><%=striptags( (boardinfo.hostname or "?") .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %> - LuCI</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="<%=media%>/favicon.png">
  <link rel="stylesheet" href="<%=media%>/cascade.css"/>
  <link rel="stylesheet" href="<%=media%>/amazeui-cut.min.css"/>
  <link rel="stylesheet" href="<%=media%>/cbi.css"/>
  <% if node and node.css then %><link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
  <% end -%>
  <% if css then %><style title="text/css">
  <%-= css %>
  </style>
  <% end -%>
  <script src="<%=resource%>/xhr.js"></script>
 </head>

 <body class="lang_<%=luci.i18n.context.lang%> <%- if node then %><%= striptags( node.title ) %><%- end %>">
 <header class="am-topbar am-topbar-fixed-top am-topbar-inverse">
  <h1 class="am-topbar-brand">
    <a href="#"><%=boardinfo.hostname or "?"%></a>
  </h1>
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
          data-am-collapse="{target: '#doc-topbar-collapse'}"><span style="font-size=15px;"><b>↓</b></span></button>
  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
	 <%-
		local function submenu(prefix, node)
			local childs = disp.node_childs(node)
			if #childs > 0 then
	 %>
      <ul class="am-dropdown-content">
			<%-
				for i, r in ipairs(childs) do
					local nnode = node.nodes[r]
					local href  = controller .. prefix .. r ..
						(nnode.query and http.build_querystring(nnode.query) or "")
			%>
	  <li><a href="<%=pcdata(href)%>"><%=pcdata(striptags(translate(nnode.title)))%></a></li>
			<%-
				end
			%>
	</ul>
	<%-
			end
		end

		childs = disp.node_childs(cattree)

		if #childs > 0 then
			for i, r in ipairs(childs) do
				local nnode = cattree.nodes[r]
				local href  = controller .. "/" .. category .. "/" .. r ..
					(nnode.query and http.build_querystring(k.query) or "")
                local grandchildren = disp.node_childs(nnode)
                
                if #grandchildren > 0 then
	%>
	  <li class="am-dropdown" data-am-dropdown>
	    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
             <%=pcdata(striptags(translate(nnode.title)))%>
          </a>
            <%- submenu("/" .. category .. "/" .. r .. "/", nnode) %>
        </li>
	<%          else %>
         <li>
	        <a href="<%=pcdata(href)%>"><%=pcdata(striptags(translate(nnode.title)))%></a>
        </li> 
    <%
                end
			end
		end
	%>
	</ul>

	<%
        -- calculate the number of unsaved changes
		if tree.nodes[category] and tree.nodes[category].ucidata then
			local ucichanges = 0

			for i, j in pairs(require("luci.model.uci").cursor():changes()) do
				for k, l in pairs(j) do
					for m, n in pairs(l) do
						ucichanges = ucichanges + 1;
					end
				end
			end
	%>

	<% if ucichanges > 0 then %>
	<div class="am-topbar-form am-topbar-right">
	  <a class="am-btn am-btn-warning am-btn-sm" href="<%=controller%>/<%=category%>/uci/changes"><%:Unsaved Changes%>: <%=ucichanges%></a>
	</div>
	<% end %>
	<div class="am-topbar-form am-topbar-right">
      <span id="xhr_poll_status" style="display:none" onclick="XHR.running() ? XHR.halt() : XHR.run()">
       <span class="am-btn am-btn-success am-btn-sm" id="xhr_poll_status_on"><%:Auto Refresh%> <%:on%></span>
       <span class="am-btn am-btn-warning am-btn-sm" id="xhr_poll_status_off" style="display:none"><%:Auto Refresh%> <%:off%></span>
      </span>
     </div>
	<% end %>
   </div>
  </header>

<div class="am-g am-g-fixed am-with-topbar-fixed-top am-g-with-margin" style="max-width: 1200px;">
<%- if luci.sys.process.info("uid") == 0 and luci.sys.user.getuser("root") and not luci.sys.user.getpasswd("root") then -%>
  <div>
    <div class="am-panel-group">
	<section class="am-panel am-panel-danger">
        <div class="am-panel-hd"><%:No password set!%></div>
        <div class="am-panel-bd">
          <p><%:There is no password set on this router. Please configure a root password to protect the web interface and enable SSH.%></p>
          <a class="am-btn am-btn-warning am-btn-sm" href="<%=pcdata(luci.dispatcher.build_url("admin/system/admin"))%>"><%:Go to password configuration...%></a>
        </div>
      </section>
    </div>
  </div>
<%- end -%>
  <div>
<% if category then subtree("/" .. category .. "/", cattree) end %>
