<%#
 Copyright 2019 xxx <xxx@xxx.com>
 Licensed to the public under the Apache License 2.0.
-%>

<div class="cbi-value<% if self.error and self.error[section] then %> cbi-value-error<% end %> <% if self.last_child then %> cbi-value-last <% end %>" id="cbi-<%=self.config.."-"..section.."-"..self.option%>" data-index="<%=self.index%>" data-depends="<%=pcdata(self:deplist2json(section))%>">
	<%- if self.title and #self.title > 0 then -%>
	<label class="cbi-value-title"<%= attr("for", cbid) %>><%-=self.title-%></label>
	<div class="cbi-value-field">
	<%- end -%>
		<input data-update="change"<%=
			attr("id", cbid) ..
			attr("name", cbid) ..
			attr("type", self.password and "password" or "text") ..
			attr("class", self.password and "cbi-input-password" or "cbi-input-text") ..
			attr("value", self:cfgvalue(section) or self.default) ..
			ifattr(self.size, "size") ..
			ifattr(self.placeholder, "placeholder") ..
			ifattr(self.readonly, "readonly") ..
			ifattr(self.maxlength, "maxlength") ..
			ifattr(self.datatype, "data-type", self.datatype) ..
			ifattr(self.datatype, "data-optional", self.optional or self.rmempty) ..
			ifattr(self.onmouseover, "onmouseover")
		%> />
		<% if self.description and #self.description > 0 then -%>
			<div class="cbi-value-description">
				<input class="cbi-button cbi-input-<%=self.inputstyle or "button" %>" type="button"<%=
					attr("value", self.description) ..
					ifattr(self.btnclick, "onclick", self.btnclick)
				%> />
			</div>
		<%- end %>
	<%- if self.title and #self.title > 0 then -%>
	</div>
	<%- end -%>
</div>
