<%+cbi/valueheader%>
	<input type="hidden" value="1"<%=
		attr("name", "cbi.cbe." .. self.config .. "." .. section .. "." .. self.option)
	%> />
	<input class="cbi-input-checkbox" data-update="click change" type="checkbox" <% if self.disable == 1 then %>disabled <% end %><%=
		attr("id", cbid) .. attr("name", cbid) .. attr("value", self.enabled or 1) ..
		ifattr((self:cfgvalue(section) or self.default) == self.enabled, "checked", "checked")
	%> />
	<label<%= attr("for", cbid)%>></label>
<%+cbi/valuefooter%>
