config SPRD_MCD
	tristate "SPRD modem power control module"
	default n
	help
	  mcd is a module for spreadtrum AP/CP communicaiton control driver,
	  it can control modem power on/off,triger modem event of assert,watchdog
	  reset,panic.
