name: Build OpenWrt K3 (Lean)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Initialize build environment
        run: |
          sudo apt update
          sudo apt install -y \
            build-essential clang flex bison g++ gawk \
            gcc-multilib g++-multilib gettext git \
            libncurses5-dev libssl-dev python3-distutils \
            rsync unzip zlib1g-dev file wget

      - name: Update & install feeds
        run: |
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Load config
        run: |
          make defconfig

      - name: Download packages
        run: |
          make download -j8

      - name: Compile firmware
        run: |
          make -j$(nproc) V=s

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: OpenWrt-K3-Lean
          path: bin/targets/ramips/mt7621/
