<script type="text/javascript">//<![CDATA[
XHR.poll(5, '<%=url([[admin]], [[vpn]], [[n2n_v2]], [[status]])%>', null,
    function(x, data) {
        var status = document.getElementById('n2n_status');
        if (data && status) {
            if (data.running) {
                status.innerHTML = "<em><b style='color:green;'>N2N v2 VPN <%:RUNNING%></b></em>";
            } else {
                status.innerHTML = "<em><b style='color:red;'>N2N v2 VPN <%:NOT RUNNING%></b></em>";
            }
        }
    }
);
//]]>
</script>
<fieldset class="cbi-section">
    <p id="n2n_status">
        <em><%:Collecting data...%></em>
    </p>
</fieldset>