<script type="text/javascript">//<![CDATA[
XHR.poll(5, '<%=luci.dispatcher.build_url("admin/services/mentohust/status")%>', null,
	function(x, data) {
		var tb = document.getElementById('mentohust_status');
		if (data && tb) {
			if (data.running) {
				var links = '<em><%:The Mentohust service is running.%></em>';
				tb.innerHTML = links;
			} else {
				var links = '<em><%:The Mentohust service is not running.%></em>';
				tb.innerHTML = links;
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 10px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<legend><%:Mentohust Status%></legend>
	<p id="mentohust_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
