<%+cbi/valueheader%>

<input type="button" class="cbi-button cbi-button-apply" value="<%:Start%>" onclick=" return start() "/>
<input type="button" class="cbi-button cbi-button-apply" value="<%:Stop%>" onclick=" return stop() "/>
<input type="button" class="cbi-button cbi-button-apply" value="<%:Reload%>" onclick=" return reload() "/>

<script type="text/javascript">
//<![CDATA[

function start(){
	XHR.get('<%=url([[admin]], [[services]], [[clash]], [[start]])%>',null,function(x, data){}
		);
	window.setTimeout("location.href='/cgi-bin/luci/admin/services/clash/'", 500);
	return
}

function stop(){
	XHR.get('<%=url([[admin]], [[services]], [[clash]], [[stop]])%>',null,function(x, data){}
		);
	window.setTimeout("location.href='/cgi-bin/luci/admin/services/clash/'", 500);
	return
}

function reload(){
	XHR.get('<%=url([[admin]], [[services]], [[clash]], [[reload]])%>',null,function(x, data){}
		);
	window.setTimeout("location.href='/cgi-bin/luci/admin/services/clash/'", 500);
	return
}

//]]>
</script>

<%+cbi/valuefooter%>
