<%+cbi/valueheader%>

<textarea id="log" class="cbi-input-textarea" style="width: 100%;" data-update="change" rows="29" readonly="readonly" > </textarea>

<script type="text/javascript">//<![CDATA[

	var lv = document.getElementById('log');
	lv.style.display="inline"
	XHR.poll(1, '<%=url([[admin]], [[services]], [[clash]], [[logstatus]])%>', null,
		function(x, data) {
			
			var lv = document.getElementById('log');
			if (x.responseText && lv) {
				lv.innerHTML += x.responseText;
				lv.scrollTop = lv.scrollHeight; 
			}
		}
	);

//]]>
</script>
<%+cbi/valuefooter%>
