<%+cbi/valueheader%>
	<select name="file_type" style="width:20%">&nbsp;&nbsp;&nbsp;
		<option value="clash" selected="selected"><%:clash%></option>
		<option value="clashctun"><%:clash(ctun)%></option>
		<option value="clashdtun"><%:clash(premium)%></option>
	</select>
	<input class="cbi-input-file" style="width: 60%" type="file" id="ulfile" name="ulfile" />
	<input type="submit" style="width: 100%" class="cbi-button cbi-input-apply" name="upload" value="<%:Upload%>" /> 
	
<%+cbi/valuefooter%>
 
