<%+header%>

<h2>
  <a id="about" name="about">许可证</a>
</h2>

<p style="text-align:center;">
  <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPLv3</a>
</p>
<p style="text-align:center;">特别指出禁止任何个人或组织将scutclient的代码投入商业使用，由此造成的后果和法律责任后果自负。</p>


<h2>
  <a id="thanks" name="thanks">致谢</a>
</h2>
<p style="text-align:center;">群主的猫<br/>ฅ(⌯͒• ɪ •⌯͒)ฅ❣</p>
<br/>

<p style="text-align:center;">
  <a href="http://weibo.com/scutrouter">华工路由器群官方微博</a><br/>
    QQ审核群：<a href="http://jq.qq.com/?_wv=1027&k=27KCAyx">262939451</a>
</p>

<%+footer%>
