<fieldset>
  <legend><%:Declare%></legend> 
  此插件为 LEDE/QWRT 官方合作版插件, 需要配合雷神手机APP使用
  </p>
  <legend><%:Upgrade Info%></legend>
  <p>
    2024-8-1 <br>
    支持LEDE/QWRT性能优化 <br>
    2024-7-25 <br>
    支持非桥接模式下的旁路由 <br>
    2024-6-5 <br>
    扩充ipset容量, 以支持大容量代理ip库 <br>
    2024-1-22 <br>
    新增自动选择低延迟线路 <br>
    新增下载不限速(switch除外) <br>
    设备名为*时, 显示mac地址 <br>
    <hr/>
    2023-11-28 <br>
    新增对mips设备的支持 <br>
    新增对旁路由的支持 <br>
    解决翻译异常的问题 <br>
    设备管理页面可以显示未识别设备 <br>
  </p>
  <legend><%:Install Dependence%></legend>
  <p>
    插件运行需要借助一些依赖才能运行, 一般第三方固件默认已经集成了大部分的依赖, <br> 
    如果使用的是openwrt官方的固件, 则需要确保依赖安装好了, 以下列出依赖包和注意事项 <br>
    libpcap <br>
    iptables <br>
    kmod-ipt-nat <br>
    iptables-mod-tproxy <br>
    kmod-ipt-tproxy <br>
    kmod-netem(非必须, 针对于一些icmp测速的游戏使用, 只影响界面显示, 实际游戏效果不影响) <br>
    tc-full(非必须, 同kmod-netem) <br>
    kmod-ipt-ipset <br>
    ipset <br>
    curl(谨慎更新, 某些三方固件升级curl, 会导致curl出现问题) <br>
  </p>
  <legend><%:Bridge Mode%></legend>
  <p>
    加速插件无法探知当前插件应该使用什么模式,  <br>
    当前默认使用网桥作为流量转发的设备, <br>
    如果使用旁路由模式或者docker时, 此时默认设备不是网桥, <br>
    此时需要手动调整接口, <br>
    改变接口的地址在 设备管理->路由设备, 选择对应的设备 <br>
  </p>
  <legend><%:Acc Mode%></legend>
    <p>
    当前雷神路由器支持两种加速模式, tproxy 和 tun <br>
    当前默认采用的是tproxy模式, 原因在于tproxy有更好的性能<br>
    tun模式暂时屏蔽, 后续luci会完善一键切换模式
    </p>
  <legend><%:Acc Usage%></legend>
    <p>
    当前雷神加速插件是根据设备类型进行加速的, 也就是说, 如果加速了相应的类型后, 理论上只要连接该路由器的设备都将获得加速效果<br>
    当前支持的设备类型有以下几种:  <br>
    手机:  Android iPhone <br>
    电脑:  Windows MacOS SteamDeck <br>
    主机:  XBox Switch PlayStation <br>
    未识别: Others  <br>
    可以在设备管理中, 插件自己的设备是否被成功识别成对应的设备, 如果不是, 可以选择对应的设备, 这样设备就能成功加速了 <br>
    </p>
    <p>
    一些特殊的说明: <br>
    关于ios设备, 最好是在安装插件之前, 先忘记网络, 等安装完插件后, 再重新连接网络 <br>
    关于android设备, 需要关闭dhcpv6后, 手机重连网络, 以下给出一个 /etc/config/dhcp 的配置 <br>
    config dhcp 'lan'  <br>
    ... 此处是一些其他配置 <br>
    ra 'disable'  <br>
    dhcpv6 'disable' <br>
    list ra_flags 'none' <br>
    ... 此处是一些其他配置 <br>
    </p>
</fieldset>
