<%#
	Argon is a clean HTML5 theme for LuCI. It is based on luci-theme-material and Argon Template

	luci-theme-argon
	Copyright 2019 Jerrykuku <jerrykuku@qq.com>

	Have a bug? Please create an issue here on GitHub!
	https://github.com/jerrykuku/luci-theme-argon/issues

	luci-theme-bootstrap:
	Copyright 2008 Steven Barth <steven@midlink.org>
	Copyright 2008-2016 Jo-Philipp Wich <jow@openwrt.org>
	Copyright 2012 David Menting <david@nut-bolt.nl>

	MUI:
	https://github.com/muicss/mui

	luci-theme-material:
	https://github.com/LuttyYang/luci-theme-material/

	Agron Theme
	https://demos.creative-tim.com/argon-dashboard/index.html

	Login background
	https://unsplash.com/

	Font generate by Icomoon
	https://icomoon.io/

	Licensed to the public under the Apache License 2.0
-%>

<%
	local ver = require "luci.version"
	local disp = require "luci.dispatcher"
	local request  = disp.context.path
	local category = request[1]
	local tree = disp.node()
	local categories = disp.node_childs(tree)
%>
</div>
<footer class="mobile-hide">
	<div class="ftc">
		<a class="luci-link" href="https://github.com/openwrt/luci">Powered by <%= ver.luciname %>
			(<%= ver.luciversion %>)</a> /
		<a href="https://github.com/jerrykuku/luci-theme-argon">ArgonTheme <%# vPKG_VERSION %></a> /
		<%= ver.distversion %>
		<% if #categories > 1 then %>
		<ul class="breadcrumb pull-right" id="modemenu">
			<% for i, r in ipairs(categories) do %>
			<li<% if request[1] == r then %> class="active" <%end%>><a
					href="<%=controller%>/<%=r%>/"><%=striptags(translate(tree.nodes[r].title))%></a> <span
					class="divider">|</span></li>
				<% end %>
		</ul>
		<% end %>
	</div>
</footer>
</div>
</div>

<script>
	// thanks for Jo-Philipp Wich <jow@openwrt.org>
	var luciLocation = <%= luci.http.write_json(luci.dispatcher.context.path) %>;
	var winHeight = $(window).height();
	$(window).resize(function () {
		var winWidth = $(window).width()
		if(winWidth < 600){
			var newHeight = $(this).height();
			var keyboradHeight = newHeight - winHeight;
			$(".ftc").css("bottom", keyboradHeight + 30);
		}
	})
</script>

<script src="<%=media%>/js/script.js"></script>
</body>

</html>
