<%#
	edge is a clean HTML5 theme for LuCI. It is based on luci-theme-material edge Template

	luci-theme-edge
	Copyright 2019 Jerrykuku <jerrykuku@qq.com>

	Have a bug? Please create an issue here on GitHub!
	https://github.com/jerrykuku/luci-theme-edge/issues 

	luci-theme-material: 
	Copyright 2015 Lutty Yang <lutty@wcan.in>
	
	Agron Theme
	https://demos.creative-tim.com/edge-dashboard/index.html 

	Licensed to the public under the Apache License 2.0
-%>

<%
    local sys  = require "luci.sys"
	local util = require "luci.util"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"

	local boardinfo = util.ubus("system", "board")

	local node = disp.context.dispatched
    
    local fs	= require "nixio.fs"
	local nutil = require "nixio.util"
    
    
    
	-- send as HTML5
	http.prepare_content("text/html")
    
    math.randomseed(os.time())
	function glob(...)
		local iter, code, msg = fs.glob(...)
		if iter then
			return nutil.consume(iter)
		else
			return nil, code, msg
		end
	end

	local bgcount = 0
	for f in ipairs(glob("/www/luci-static/edge/img/*")) do
		bgcount = bgcount + 1
	end
    

-%>
<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">

<head>
    <meta charset="utf-8">
    <title>
        <%=striptags( (boardinfo.hostname or "?") .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %>
        - LuCI</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="x5-page-mode" content="app">
    <meta name="browsermode" content="application">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="msapplication-TileColor" content="#5e72e4">
    <meta name="application-name" content="<%=striptags( (boardinfo.hostname or "?") ) %> - LuCI">
    <meta name="apple-mobile-web-app-title" content="<%=striptags( (boardinfo.hostname or "?") ) %> - LuCI">
    <link rel="apple-touch-icon" sizes="60x60" href="<%=media%>/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%=media%>/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%=media%>/icon/apple-icon-144x144.png">
    <link rel="icon" type="image/png" sizes="192x192" href="<%=media%>/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%=media%>/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%=media%>/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%=media%>/icon/favicon-16x16.png">
    <link rel="manifest" href="<%=media%>/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#5e72e4">
    <meta name="msapplication-TileImage" content="<%=media%>/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#5e72e4">
    <link rel="stylesheet" href="<%=media%>/css/cascade.css?v=<%=math.random(1,100000)%>">
    <link rel="shortcut icon" href="<%=media%>/favicon.ico">
    <% if node and node.css then %>
    <link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
    <% end -%>
    <% if css then %>
    <style title="text/css">
        <%=css %>

    </style>
    <% end -%>
    <script src="<%=url('admin/translations', luci.i18n.context.lang)%>?v=2.1"></script>
    <script src="<%=resource%>/cbi.js?v=2.1"></script>
    <script src="<%=resource%>/xhr.js?v=2.1"></script>
    <script src="<%=media%>/js/jquery.min.js?v=2.1"></script>
    
</head>

<body
    class="lang_<%=luci.i18n.context.lang%> <% if node then %><%= striptags( node.title ) %><% end %> <% if luci.dispatcher.context.authsession then %>logged-in<% end %>"
    data-page="<%= table.concat(disp.context.requestpath, "-") %>">
    <div class="login-page">
		<div class="login-container">
			<div class="login-form">