<%

if luci.http.formvalue("frame") == "1" then
	local uci = require "luci.model.uci".cursor()
	local addr = "127.0.0.1"
	local port = "8888"

	uci:foreach("tinyproxy", "tinyproxy",
		function(s)
			addr = s.StatHost or addr
			port = s.Port     or port
			return false
		end)

	local data = false
	local wget = io.popen("wget -qO- http://%s:%s" %{
		luci.util.shellquote(addr),
		luci.util.shellquote(port)
	})

	if wget then
		while true do
			local l = wget:read("*l")
			if not l then
				break
			end

			luci.http.write(l)
			data = true
		end

		wget:close()
	end

	if not data then
		luci.http.write(translate("Failed to retrieve statistics from url:"))
		luci.http.write(" http://%s:%s" %{
			luci.util.pcdata(addr),
			luci.util.pcdata(port)
		})
	end

	return
end

-%>

<%+header%>

<div class="cbi-map">
	<h2 name="content"><%:Tinyproxy Status%></h2>
	<div class="cbi-section">
		<iframe src="<%=REQUEST_URI%>?frame=1" style="width:100%; height:350px; border:none"></iframe>
	</div>
</div>

<%+footer%>
