config mdadm
	option email root
	# list devices /dev/hd*
	# list devices /dev/sd*
	# list devices partitions

config array
	option uuid 52c5c44a:d2162820:f75d3464:799750f8
	option device /dev/md0
	# option name raid:0
	# option super_minor 0
	# list devices /dev/sda1
	# list devices /dev/sdb1
	# option spares 0
	# option spare_group spares
	# option bitmap /bitmap.md
	# option container 00000000:00000000:00000000:00000000
	# option member 1
