menu "MHI device support"

config MHI_NETDEV
       tristate "MHI NETDEV"
       depends on MHI_BUS
       help
	  MHI based net device driver for transferring IP traffic
	  between host and modem. By enabling this driver, clients
	  can transfer data using standard network interface. Over
	  the air traffic goes thru mhi netdev interface.

config MHI_UCI
       tristate "MHI UCI"
       depends on MHI_BUS
       help
	  MHI based uci driver is for transferring data between host and
	  modem using standard file operations from user space. Open, read,
	  write, ioctl, and close operations are supported by this driver.
	  Please check mhi_uci_match_table for all supported channels that
	  are exposed to userspace.

config MHI_SATELLITE
       tristate "MHI SATELLITE"
       depends on MHI_BUS
       help
	  MHI proxy satellite device driver enables NON-HLOS MHI satellite
	  drivers to communicate with device over PCIe link without host
	  involvement. Host facilitates propagation of events from device
	  to NON-HLOS MHI satellite drivers, channel states, and power
	  management over IPC communication. It helps in HLOS power
	  savings.

endmenu
