Package: luci-app-filebrowser
Version: 1.0
Description: File browser app for OpenWrt Luci backend.
Section: extras
Priority: optional
Maintainer: giaulo 
License: CLOSED
Architecture: all
OE: luci-app-filebrowser
Homepage: unknown
Depends: luci-base
Source:  N/A
