#
# Shortcut forwarding engine
#

config SHORTCUT_FE
	tristate "Shortcut Forwarding Engine"
	depends on NF_CONNTRACK
	---help---
	  Shortcut is a fast in-kernel packet forwarding engine.

	  To compile this code as a module, choose M here: the module will be
	  called shortcut-fe.

	  If unsure, say N.
