config RT2860V2_AP
	tristate "Ralink RT2860 802.11n AP support"
	depends on NET_RADIO 
	
config RT2860V2_AP_V24_DATA_STRUCTURE
	bool
	depends on RT2860V2_AP
	default y
	
config  RT2860V2_AP_LED
	bool "LED Support"
	depends on RT2860V2_AP

config  RT2860V2_AP_WSC
	bool "WSC (WiFi Simple Config)"
	depends on RT2860V2_AP

config RT2860V2_AP_HS
	bool "HS2.0 Support"
	depends on RT2860V2_AP

config  RT2860V2_AP_LLTD
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on RT2860V2_AP

config  RT2860V2_AP_WDS
	bool "WDS"
	depends on RT2860V2_AP

config  RT2860V2_AP_NINTENDO
	bool "Nintendo"
	depends on RT2860V2_AP

config  RT2860V2_AP_WMM_ACM
	bool "WMM ACM"
	depends on RT2860V2_AP

config  RT2860V2_AP_MBSS
	bool "MBSSID"
	depends on RT2860V2_AP

config	NEW_MBSSID_MODE
	bool "New MBSSID MODE"
	depends on RT2860V2_AP
	depends on RT2860V2_AP_MBSS
	depends on RALINK_RT3883 || RALINK_RT3352 || RALINK_RT5350
	default n

config  RT2860V2_AP_APCLI
	bool "AP-CLient Support"
	depends on RT2860V2_AP

config  RT2860V2_AP_IGMP_SNOOP
	bool "IGMP snooping"
	depends on RT2860V2_AP

config  RT2860V2_AP_NETIF_BLOCK
	bool "NETIF Block"
	depends on RT2860V2_AP
	help
	Support Net interface block while Tx-Sw queue full

config  RT2860V2_AP_DFS
	bool "DFS"
	depends on RT2860V2_AP

config  RT2860V2_AP_CARRIER
	bool "Carrier Detect"
	depends on RT2860V2_AP

config  RT2860V2_AP_DLS
	bool "DLS ((Direct-Link Setup) Support"
	depends on RT2860V2_AP

config  RT2860V2_AP_IDS
	bool "IDS (Intrusion Detection System) Support"
	depends on RT2860V2_AP

config  RT2860V2_AP_MESH
	bool "MESH Support"
	depends on RT2860V2_AP

config  RT2860V2_HW_ANTENNA_DIVERSITY
	bool "Antenna Diversity Support"
	depends on RT2860V2_AP
	depends on RALINK_RT5350

config  RT2860V2_RT3XXX_AP_ANTENNA_DIVERSITY
	bool "Antenna Diversity Support"
	depends on RT2860V2_AP

config  RT2860V2_AP_WAPI
	bool "WAPI Support"
	depends on RT2860V2_AP

config  RT2860V2_AP_COC
	bool "CoC Support"
	depends on RT2860V2_AP

config  RT2860V2_AP_MEMORY_OPTIMIZATION
	bool "Memory Optimization"
	depends on RT2860V2_AP

config  RT2860V2_AP_VIDEO_TURBINE
	bool "Video Turbine support"
	depends on RT2860V2_AP

config  RA_CLASSIFIER
	tristate "Ralink Flow Classifier"
	depends on RT2860V2_AP_VIDEO_TURBINE
	default n

config  RT2860V2_80211N_DRAFT3
	bool "802.11n Draft3"
	depends on RT2860V2_AP

config  RT2860V2_AP_INTELLIGENT_RATE_ADAPTION
	bool "Intelligent Rate Adaption"
	depends on RT2860V2_AP

config  RT2860V2_AP_TXBF
	bool "Tx Beam Forming"
	depends on RT2860V2_AP
	depends on RALINK_RT3883

config  RT2860V2_AP_RTMP_INTERNAL_TX_ALC
	bool "TSSI Compensation"
	depends on RT2860V2_AP
	depends on RALINK_RT3350 || RALINK_RT3352 || RALINK_RT5350

#config  RT2860V2_EXT_CHANNEL_LIST
#	bool "Extension Channel List"
#	depends on RT2860V2_AP

#config  RT2860V2_KTHREAD
#	bool "Kernel Thread"
#	depends on RT2860V2_AP

#config  RT2860V2_AUTO_CH_SELECT_ENHANCE
#	bool "Auto Channel Selection Enhancement"
#	depends on RT2860V2_AP

#config  RT2860V2_80211R_FT
#	bool "802.11r Fast BSS Transition"
#	depends on RT2860V2_AP

#config  RT2860V2_80211R_RR
#	bool "802.11k Radio Resource Management"
#	depends on RT2860V2_AP

#config  RT2860V2_SINGLE_SKU
#	bool "Single SKU"
#	depends on RT2860V2_AP

#config  RT2860V2_MCAST_RATE_SPECIFIC
#	bool "User specific tx rate of mcast pkt"
#	depends on RT2860V2_AP

#config  RT2860V2_SNMP
#	bool "Net-SNMP Support"
#	depends on RT2860V2_AP
