config MT_STA_SUPPORT
	tristate "Ralink RT2860 802.11n/ac STA support"
#	depends on NET_RADIO 
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

config  ETH_CONVERT_SUPPORT
	bool "Ethernet Convert Mode Support"
	depends on MT_STA_SUPPORT
	default y

config COEX_SUPPORT
	bool "Coex Support"
	depends on MT_STA_SUPPORT
	default n

#config MUMIMO_SUPPORT
#        bool "MU-MIMO Support"
#        depends on WIFI_DRIVER
#        default y

#config DOT11R_FT_SUPPORT
#	bool "802.11r Fast BSS Transition"
#	depends on MT_STA_SUPPORT

#config DOT11K_RRM_SUPPORT
#	bool "802.11k Radio Resource Management"
#	depends on MT_STA_SUPPORT

#config SNIFFER_SUPPORT
#	bool "SNIFFER"
#	depends on MT_STA_SUPPORT
#	default n

config CFG80211_SUPPORT
	bool "CFG80211"
	depends on MT_STA_SUPPORT
	depends on CFG80211
	default n

#config CON_WPS_SUPPORT
#	bool "Concurrent WPS Support"
#	depends on MT_STA_SUPPORT
#	depends on APCLI_SUPPORT
#	depends on WSC_INCLUDED
#	depends on WSC_V2_SUPPORT
#	default n
	
#config COC_SUPPORT
#	bool "CoC Support"
#	depends on MT_STA_SUPPORT
#	default n

#config  RT2860V2_SNMP
#	bool "Net-SNMP Support"
#	depends on MT_STA_SUPPORT

#config MCAST_RATE_SPECIFIC
#	bool "User specific tx rate of mcast pkt"
#	depends on MT_STA_SUPPORT

#config EXT_BUILD_CHANNEL_LIST
#	bool "Extension Channel List"
#	depends on MT_STA_SUPPORT

#config AUTO_CH_SELECT_ENHANCE
#	bool "Auto Channel Selection Enhancement"
#	depends on MT_STA_SUPPORT

#config AIRPLAY_SUPPORT
#	bool "AIRPLAY Support"
#	depends on MT_STA_SUPPORT
#	default n

