config e2guardian 'e2guardian'
	option languagedir '/usr/share/e2guardian/languages'
	option language 'ukenglish'
	option loglevel '2'
	option logexceptionhits '2'
	option logfileformat '1'
	option loglocation '/var/log/e2guardian/access.log'
	option maxuploadsize '-1'
	option filterports '8080'
	option proxyip '127.0.0.1'
	option proxyport '3128'
	option proxytimeout '20'
	option proxyexchange '20'
	option pcontimeout '55'
	option accessdeniedaddress 'http://YOURSERVER.YOURDOMAIN/cgi-bin/e2guardian.pl'
	option usecustombannedimage 'on'
	option custombannedimagefile '/usr/share/e2guardian/transparent1x1.gif'
	option usecustombannedflash 'on'
	option custombannedflashfile '/usr/share/e2guardian/blockedflash.swf'
	option filtergroups '1'
	option filtergroupslist '/etc/e2guardian/lists/filtergroupslist'
	option bannediplist '/etc/e2guardian/lists/bannediplist'
	option exceptioniplist '/etc/e2guardian/lists/exceptioniplist'
	option perroomdirectory '/etc/e2guardian/lists/bannedrooms/'
	option showweightedfound 'on'
	option weightedphrasemode '2'
	option urlcachenumber '1000'
	option urlcacheage '900'
	option scancleancache 'on'
	option phrasefiltermode '2'
	option preservecase '0'
	option hexdecodecontent 'off'
	option forcequicksearch 'off'
	option reverseaddresslookups 'off'
	option reverseclientiplookups 'off'
	option logclienthostnames 'off'
	option createlistcachefiles 'on'
	option prefercachedlists 'off'
	option maxcontentfiltersize '256'
	option maxcontentramcachescansize '2000'
	option maxcontentfilecachescansize '20000'
	option filecachedir '/tmp'
	option deletedownloadedtempfiles 'on'
	option initialtrickledelay '20'
	option trickledelay '10'
	option downloadmanager '/etc/e2guardian/downloadmanagers/fancy.conf'
	option downloadmanager '/etc/e2guardian/downloadmanagers/default.conf'
	option contentscannertimeout '60'
	option contentscanexceptions 'off'
	option recheckreplacedurls 'off'
	option forwardedfor 'off'
	option usexforwardedfor 'off'
	option logconnectionhandlingerrors 'on'
	option logchildprocesshandling 'off'
	option maxchildren '180'
	option minchildren '20'
	option minsparechildren '16'
	option preforkchildren '10'
	option maxsparechildren '32'
	option maxagechildren '500'
	option maxips '0'
	option ipcfilename '/tmp/.dguardianipc'
	option urlipcfilename '/tmp/.dguardianurlipc'
	option ipipcfilename '/tmp/.dguardianipipc'
	option nodaemon 'off'
	option nologger 'off'
	option logadblocks 'off'
	option loguseragent 'off'
	option softrestart 'off'
