
config option
	option enable '0'
	option rproxy '0'
	option nf_limit '300'

config mentohust
	option ServiceName 'internet'
	option Username ''
	option Password ''
	option Nic 'eth0'
	option IP '0.0.0.0'
	option Mask '255.255.255.0'
	option Gateway '0.0.0.0'
	option DNS '0.0.0.0'
	option PingHost '0.0.0.0'
	option Timeout '8'
	option EchoInterval '30'
	option RestartWait '15'
	option MaxFail '8'
	option StartMode '0'
	option DhcpMode '0'
	option DaemonMode '0'
	option ShowNotify '0'
	option Version '0.00'
	option DataFile '/var/etc/mentohust'
	option DhcpScript 'udhcpc -i'

