[global]
pid = |PID|
error_log = |ERROR_LOG|
[www]
user = root
listen = |SOCK|
listen.mode = 0666
listen.allowed_clients = 127.0.0.1
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
chdir = /
