config server
    option enable '0'
    option debug '0'
    option refresh_token ''
    option host '0.0.0.0'
    option port '8080'
    option auth_user ''
    option auth_password ''
    option read_buffer_size '10485760'
    option cache_size '1000'
    option cache_ttl '600'
    option root '/'
    option no_trash '0'
