config globals
	option 'description'	'Cifsd on OpenWrt'

config share
	option name 'testshare'
	option path '/tmp'
	option read_only 'no'
	option guest_ok 'yes'
	option create_mask '0666'
	option dir_mask '0777'
	option force_root '1'
