@import url("flag-icon.min.css?v=1.16");
@import url("sweetalert2.css?v=1.16");
@import url("pure.css?v=1.16");

/**  Common  **/
.pure-img {
    max-height: 100%;
    width: auto;
}

.pure-imgw {
    max-width: 100%;
    height: auto;
}

.pure-u-5-8 {
    display: flex;
    align-items: center;

}

.gap {
    margin-right: 0.5rem;
}


/**  复写theme  **/

.cbi-section {

    border: 0;
    border-radius: .375rem;

    overflow-x: auto;
    overflow-y: hidden;
}

.cbi-section-node {

    border: 0;
    border-radius: .375rem;
    margin-bottom: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0rem 0;
}

#cbi-vssr {
    overflow-x: hidden;
}

#cbi-vssr .panel-title {
    width: 100%;
    display: block;
    margin-bottom: 0;
    padding: .8755rem 1.5rem;

    margin-bottom: 0rem;
    letter-spacing: .1rem;

    font-weight: 600;
    box-sizing: border-box;
}

/**  Top StatusBar  **/
.status {
    margin: 0.5rem -0.5rem 1rem -0.5rem;
}

.status .block {
    margin: 0.5rem 0.5rem;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    font-family: inherit;
    min-width: inherit;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem;
    background-color: #fff;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
}

.status .block .img-con {
    margin: 1rem;

}

.status .block .green {
    font-size: 1.25rem;
    color: #2dce89;
}

.status .block .red {
    font-size: 1.25rem;
    color: #fb6340;
}

.status .block img {
    width: 48px;
    height: auto;
    float: right;
}

.status .block h4 {
    font-size: .8125rem;
    font-weight: 600;
    margin: 1rem;
    color: #8898aa !important;
    line-height: 1.8em;
}

/**  Server List  **/

.p-in5 {
    margin: 8px !important;
}

.cbi-section-table-row {
    position: relative;
    background-color: #edf3f8;
    margin: 10px !important;
    padding: 8px 15px 8px 70px;
    box-shadow: 0 0 5px 0 rgba(136, 152, 170, .75);
    border-radius: .5rem;
    border: 0;
    color: #525f7f;
    text-align: left;
    line-height: 1.7em;
    overflow: hidden;
    letter-spacing: normal;

}

.cbi-section-table-row:hover {
    background: #fff;

}

.cbi-section-table-row.fast {
    background: #5e72e4;
    color: #fff;
}

.ssr-button:link,
.ssr-button:hover,
.ssr-button:focus,
.ssr-button:visited,
.ssr-button:active {

    outline: 0;
    text-decoration: none;
    box-shadow: none;
}

.cbi-section-table-row.fast .ssr-button {
    color: #fff;
}

.cbi-section-table-row.fast .ssr-button:hover,
.cbi-section-table-row.fast .ssr-button:focus,
.cbi-section-table-row.fast .ssr-button:active {
    color: #fff;
    outline: 0;
    text-decoration: none;
    box-shadow: none;
}

.cbi-section-table-row.fast .host_con {
    color: #fff !important;
}

.host_con {
    position: absolute;
    left: 0;
    width: 70px;
    text-align: left;
    height: 22px;
    font-weight: bold;
}

.host_con.fast {
    color: #6f9a37;
}

.host_con.nopass {
    color: #dc3545;
}

.host_con.middle {
    color: #fbc658;
}

.host_con.slow {
    color: #fb6340;
}

.host_ok {
    color: #fff;
    background: #2dce89;
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;
}

.host_error {
    color: #fff;
    background: #f5365c;
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;
}

.loadings.hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.loadings span {
    animation: anim-rotate 2s infinite linear;
    height: 30px;
}

.flag-icon:before {
    position: absolute;
}

.alias {
    margin-bottom: 1px;
    padding-left: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.incon {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 64px;
    height: 100%;
    border: 0;
    border-right: #d1dfed 1px solid;
    background-position: top;
}

.incon .pure-imgw {
    transition: all 0.2s;
}

.incon .tp {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    background: #525f7f;
}


.cbi-section-table-cell {
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.ssr-button {
    background: none;
    border: none;
    color: #525f7f;
    padding: 0 0.2rem 0 0;
    height: auto;
    line-height: 1.5em;
    box-shadow: none;
}

.ssr-button:hover,
.ssr-button:focus,
.ssr-button:active {

    outline: 0;
    text-decoration: none;
    box-shadow: none;
}

.cbi-section h3 {
    margin-left: 10px;
    margin-top: 1rem;
}

.cbi-button-check {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
    background-image: none;
    float: right;
    margin-right: 18px;
    margin-top: .25rem !important;
    outline: none;
}

.cbi-button-check:focus {
    outline: none;
}

/**  Bottom StatusBar  **/

footer.mobile-hide {
    display: block;
}

.mar-10 {
    margin-left: 50px;
    margin-right: 10px;
}

.status-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .3);
    color: #525f7f;
    background: #fff;
    z-index: 5;
    box-sizing: border-box;
}

.status-bar .inner {
    margin: 1em;
}

.status-bar .inner .flag {
    height: 3em;
    display: block;
    float: left;
    margin-right: 1em;
}

.status-bar .inner .status-info {
    font-weight: bold;
    line-height: 1.5em;
}

.status-bar .icon-con {
    height: 3em;
    text-align: right;
}

/**  Node choose panel  **/

.choose_node .gap {
    margin: 0.5rem 1rem;
    position: relative;
}

.choose_node .gap .cbi-button {
    width: 100% !important;
}


/**  Subscribe panel  **/

.modals-bg {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.2s;
}

.modals-bg.hide {
    visibility: hidden;
    opacity: 0;
}

.modals {
    position: fixed;
    z-index: 100;
    width: 60%;
    height: 500px;
    background: #172b4d;
    left: 20%;
    top: 15%;
    color: #fff;
    border-radius: 10px;
    padding: 20px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

.modals.hide {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
}

.modals h2 {
    padding: 0 !important;
    background-color: transparent !important;
    color: #fff !important;
    margin-bottom: 0.5em !important;
}

.modals h3 {
    font-size: 14px;
    color: #f5365c !important;
    background: transparent;
    margin: 0;
    padding: 0;
}

#log_content3 {
    border: 0;
    width: 99%;
    height: calc(100% - 4rem);
    font-family: 'Lucida Console';
    font-size: 11px;
    line-height: 1.5em;
    background: transparent;
    color: #FFFFFF;
    outline: none;
    margin-top: 10px;
    padding-left: 3px;
    padding-right: 22px;
    overflow: hidden
}

@media screen and (max-width: 2000px) {
    .pure-u-1-5 {
        width: 25%;
    }
}

@media screen and (max-width: 1600px) {
    .pure-u-1-5 {
        width: 33.33333333%;
    }
}

@media screen and (max-width: 1200px) {
    .pure-u-1-5 {
        width: 50%;
    }

    .status .pure-u-1-5 {
        width: 33.333%;
    }

    .modals {
        position: fixed;
        z-index: 100;
        width: 80%;
        height: 500px;
        background: #172b4d;
        left: 10%;
        top: 15%;
        color: #fff;
        border-radius: 10px;
        padding: 20px;
    }
}

@media screen and (max-width: 700px) {
    .pure-u-1-4 {
        width: 50%;
    }

    .pure-u-1-2 {
        width: 100%;
    }

    .pure-u-1-5 {
        width: 100%;
        font-size: 14px;
    }

    .status .pure-u-1-5 {
        width: 50%;
    }

    .cbi-button-add {
        position: fixed;
        padding: 0.3rem 0.5rem;
        z-index: 1000;
        width: 50px !important;
        height: 50px !important;
        bottom: 90px;
        color: #fff;
        right: 5px;
        font-size: 16px;
        border-radius: 50%;
        display: block;
        background-color: #fb6340 !important;
        border-color: #fb6340 !important;
        box-shadow: 0 0 1rem 0 rgba(136, 152, 170, .75);
        background-image: none;
    }

    .choose_node .pure-u-1-2 {
        width: 50%;
    }

    .modals-bg {
        position: fixed;
        z-index: 100000;

    }

    .modals {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .status-bar .pure-u-1-2 {
        width: 50%;
    }

    .status-bar .inner .flag {
        height: 3em;
        display: block;
        float: left;
        margin-right: 1em;
    }

    .status-bar .icon-con {
        height: 2.5em;
        text-align: right;
    }

    .p-in5 {
        padding-bottom: 3rem;
    }

    .cbi-page-actions {
        padding-bottom: 4rem !important;
    }
}

@media (prefers-color-scheme: dark) {
    .block {
        background-color: #3c3c3c !important;
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.35);
    }

    .cbi-section-table-row {
        color: #ccc;
        background-color: #3c3c3c !important;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
    }

    .incon:nth-child(2) {
        border-right: #1e1e1e 1px solid;
    }

    .ssr-button {
        color: #ccc;
    }

}