
<!-- ++ BEGIN ++ Dynamic DNS ++ overview_startstop.htm ++ -->
<%+cbi/valueheader%>

<% if self:cfgvalue(section) ~= false then
-- We need to garantie that function cfgvalue run first to set missing parameters
%>
	<!-- style="font-size: 100%;" needed for openwrt theme to fix font size -->
	<!-- type="button" onclick="..." enable standard onclick functionality   -->
	<input class="cbi-button cbi-input-<%=self.inputstyle or "button" %>" style="font-size: 100%;" type="button" onclick="onclick_startstop(this.id)"
	<%=
	attr("name", section) .. attr("id", cbid) .. attr("value", self.inputtitle) .. ifattr(self.disabled, "disabled")
	%> />
<% end %>

<%+cbi/valuefooter%>
<!-- ++ END ++ Dynamic DNS ++ overview_startstop.htm ++ -->
