
<!-- ++ BEGIN ++ Dynamic DNS ++ overview_enabled.htm ++ -->
<%+cbi/valueheader%>

<input type="hidden" value="1"<%=
	attr("name", "cbi.cbe." .. self.config .. "." .. section .. "." .. self.option)
%> />
                                                                 <!-- modified to call own function -->
<input class="cbi-input-checkbox" onclick="cbi_d_update(this.id)" onchange="onchange_enabled(this.id)" type="checkbox"<%=
	attr("id", cbid) .. attr("name", cbid) .. attr("value", self.enabled or 1) ..
	ifattr((self:cfgvalue(section) or self.default) == self.enabled, "checked", "checked")
%> />
<label<%= attr("for", cbid)%>></label>

<%+cbi/valuefooter%>
<!-- ++ END ++ Dynamic DNS ++ overview_enabled.htm ++ -->
