<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<%
	local uci = luci.model.uci.cursor_state()
	local ast = require "luci.asterisk"

	function digit_pattern(s,t)
		return "<code style='padding: 2px; border:1px solid #CCCCCC; background-color: #FFFFFF'%s>%s</code>"
			%{ t and " title='" .. t .. "'" or "", s }
	end

	function rowstyle(i)
		return "cbi-rowstyle-%i" %{
			( i % 2 ) == 0 and 2 or 1
		}
	end

	function format_matches(z)
		local html = { }

		if type(z) ~= "table" then
			z = { matches = { z } }
		end

		if z.localprefix then
			for _, m in ipairs(z.matches) do
				html[#html+1] =
					digit_pattern(z.localprefix, "local prefix") .. " " ..
					digit_pattern(m)
			end
		end

		if z.intlmatches and #z.intlmatches > 0 then
			for _, i in ipairs(z.intlmatches) do
				for _, m in ipairs(z.matches) do
					html[#html+1] = "%s %s" %{
						digit_pattern("(%s)" % i, "intl. prefix"),
						digit_pattern(m)
					}
				end
			end
		else
			for _, m in ipairs(z.matches) do
				html[#html+1] = digit_pattern(m)
			end
		end

		return table.concat(html, "; ")
	end
%>


<form method="post" action="<%=url('admin/asterisk/dialplans')%>" enctype="multipart/form-data">
	<div>
		<script type="text/javascript" src="/luci-static/resources/cbi.js"></script>
		<input type="hidden" name="cbi.submit" value="1" />
		<input type="submit" value="Save" class="hidden" />
	</div>

<div class="cbi-map" id="cbi-asterisk">
	<h2 name="content">Outgoing Call Routing</h2>
	<div class="cbi-map-descr">
		Here you can manage your dial plans which are used to route outgoing calls from your local extensions.<br /><br />
		Related tasks:<br />
		<a href="<%=url('admin/asterisk/dialplans/zones')%>" class="cbi-title-ref">Manage dialzones</a> |
		<a href="<%=url('admin/asterisk/voicemail/mailboxes')%>" class="cbi-title-ref">Manage voicemail boxes</a> |
		<a href="<%=url('admin/asterisk/meetme/rooms')%>" class="cbi-title-ref">Manage meetme rooms</a>
	</div>
	<!-- tblsection -->
	<fieldset class="cbi-section" id="cbi-asterisk-sip">
		<!--<legend>Dialplans</legend>-->
		<div class="cbi-section-descr"></div>

		<% for i, plan in pairs(ast.dialplan.plans()) do %>
		<div class="cbi-section-node">
			<table class="cbi-section-table">
				<tr class="cbi-section-table-titles">
					<th style="text-align: left; padding: 3px" class="cbi-section-table-cell">
						<big>Dialplan <em><%=plan.name%></em></big>
					</th>
					<td>
						<a href="<%=url('admin/asterisk/dialplans')%>?delplan=<%=plan.name%>">
							<img style="border:none" alt="Remove this dialplan" title="Remove this dialplan" src="/luci-static/resources/cbi/remove.gif" />
						</a>
					</td>
				</tr>

				<!-- dialzones -->
				<% local zones_used = { }; local row = 0 %>
				<% for i, zone in ipairs(plan.zones) do zones_used[zone.name] = true %>
				<tr class="cbi-section-table-row <%=rowstyle(row)%>">
					<td style="text-align: left; padding: 3px" class="cbi-section-table-cell">
						<strong>&#x2514; Dialzone <em><%=zone.name%></em></strong> (<%=zone.description%>)
						<p style="padding-left: 1em; margin-bottom:0">
							Lines:
							<%=ast.tools.hyperlinks(
								zone.trunks, function(v)
									return luci.dispatcher.build_url("admin", "asterisk", "trunks", "%s") % v:lower()
								end
							)%><br />
							Matches:
							<%=format_matches(zone)%>
						</p>
					</td>
					<td style="width:5%" class="cbi-value-field">
						<a href="<%=url('admin/asterisk/dialplans/out', zone.name)%>">
							<img style="border:none" alt="Edit dialzone" title="Edit dialzone" src="/luci-static/resources/cbi/edit.gif" />
						</a>
						<a href="<%=url('admin/asterisk/dialplans')%>?delzone.<%=plan.name%>=<%=zone.name%>">
							<img style="border:none" alt="Remove from this dialplan" title="Remove from this dialplan" src="/luci-static/resources/cbi/remove.gif" />
						</a>
					</td>
				</tr>
				<% row = row + 1; end %>
				<!-- /dialzones -->

				<!-- voicemail -->
				<% local boxes_used = { } %>
				<% for ext, box in luci.util.kspairs(plan.voicemailboxes) do boxes_used[box.id] = true %>
				<tr class="cbi-section-table-row <%=rowstyle(row)%>">
					<td style="text-align: left; padding: 3px" class="cbi-section-table-cell">
						<strong>&#x2514; Voicemailbox <em><%=box.id%></em></strong> (<%=box.name%>)
						<p style="padding-left: 1em; margin-bottom:0">
							Owner: <%=box.name%> |
							eMail: <%=#box.email > 0 and box.email or 'n/a'%> |
							Pager: <%=#box.page  > 0 and box.page  or 'n/a'%><br />
							Matches: <%=format_matches(ext)%>
						</p>
					</td>
					<td style="width:5%" class="cbi-value-field">
						<a href="<%=url('admin/asterisk/voicemail/mailboxes')%>">
							<img style="border:none" alt="Manage mailboxes ..." title="Manage mailboxes ..." src="/luci-static/resources/cbi/edit.gif" />
						</a>
						<a href="<%=url('admin/asterisk/dialplans')%>?delvbox.<%=plan.name%>=<%=ext%>">
							<img style="border:none" alt="Remove from this dialplan" title="Remove from this dialplan" src="/luci-static/resources/cbi/remove.gif" />
						</a>
					</td>
				</tr>
				<% row = row + 1; end %>
				<!-- /voicemail -->

				<!-- meetme -->
				<% local rooms_used = { } %>
				<% for ext, room in luci.util.kspairs(plan.meetmerooms) do rooms_used[room.room] = true %>
				<tr class="cbi-section-table-row <%=rowstyle(row)%>">
					<td style="text-align: left; padding: 3px" class="cbi-section-table-cell">
						<strong>&#x2514; MeetMe Room <em><%=room.room%></em></strong>
						<% if room.description and #room.description > 0 then %> (<%=room.description%>)<% end %>
						<p style="padding-left: 1em; margin-bottom:0">
							Matches: <%=format_matches(ext)%>
						</p>
					</td>
					<td style="width:5%" class="cbi-value-field">
						<a href="<%=url('admin/asterisk/meetme/rooms')%>">
							<img style="border:none" alt="Manage conferences ..." title="Manage conferences ..." src="/luci-static/resources/cbi/edit.gif" />
						</a>
						<a href="<%=url('admin/asterisk/dialplans')%>?delmeetme.<%=plan.name%>=<%=ext%>">
							<img style="border:none" alt="Remove from this dialplan" title="Remove from this dialplan" src="/luci-static/resources/cbi/remove.gif" />
						</a>
					</td>
				</tr>
				<% row = row + 1; end %>
				<!-- /meetme -->

				<tr class="cbi-section-table-row">
					<td style="text-align: left; padding: 3px" class="cbi-section-table-cell" colspan="2">
						<hr style="margin-bottom:0.5em; border-width:0 0 1px 0" />

						Add Dialzone:<br />
						<select style="width:30%" name="addzone.<%=plan.name%>">
							<option value="">-- please select --</option>
							<% for _, zone in luci.util.kspairs(ast.dialzone.zones()) do %>
								<% if not zones_used[zone.name] then %>
									<option value="<%=zone.name%>"><%=zone.name%> (<%=zone.description%>)</option>
								<% end %>
							<% end %>
						</select>
						<br /><br />

						Add Voicemailbox:<br />
						<select style="width:20%" name="addvbox.<%=plan.name%>" onchange="this.form['addvboxext.<%=plan.name%>'].value=this.options[this.selectedIndex].value.split('@')[0]">
							<option value="">-- please select --</option>
							<% for ext, box in luci.util.kspairs(ast.voicemail.boxes()) do %>
								<% if not boxes_used[box.id] then %>
									<option value="<%=box.id%>"><%=box.id%> (<%=box.name%>)</option>
								<% end %>
							<% end %>
						</select>
						as extension
						<input type="text" style="width:5%" name="addvboxext.<%=plan.name%>" />
						<br /><br />

						Add MeetMe Conference:<br />
						<select style="width:20%" name="addmeetme.<%=plan.name%>" onchange="this.form['addmeetmeext.<%=plan.name%>'].value=this.options[this.selectedIndex].value">
							<option value="">-- please select --</option>
							<% for ext, room in luci.util.kspairs(ast.meetme.rooms()) do %>
								<%# if not rooms_used[room.room] then %>
									<option value="<%=room.room%>">
										<%=room.room%>
										<% if room.description and #room.description > 0 then %>(<%=room.description%>)<% end %>
									</option>
								<%# end %>
							<% end %>
						</select>
						as extension
						<input type="text" style="width:5%" name="addmeetmeext.<%=plan.name%>" />
						<br /><br />

						<input type="submit" class="cbi-button cbi-button-add" value="Add item &raquo;" title="Add item ..."/>
					</td>
				</tr>

			</table>

			<div class="cbi-section-create cbi-tblsection-create"></div>
		</div>
		<br />
		<% end %>

		<div class="cbi-section-node">
			<div class="cbi-section-create cbi-tblsection-create" style="padding: 3px">
				<h3>Create a new dialplan</h3>
				The name is required and must be unique. It may only contain the characters A-Z, a-z, 0-9 and _ .<br />

				<%- if create_error then %>
					<br /><span style="color:red">Invalid name given!</span><br />
				<% end -%>

				<br />
				<input type="text" class="cbi-section-create-name" name="addplan" style="width:200px" />
				<input type="submit" class="cbi-button cbi-button-add" value="Add dialplan" title="Add dialplan"/>
			</div>
		</div>

	</fieldset>
</div>
</form>
<div class="clear"></div>
<%+footer%>
