config service procd
	option enabled 0

config service log
	option enabled 0
	option debug 0
	option kernel 1
	option syslog 1

config service hostapd
	option enabled 0
	option wpa_log 1
	option wpa_nl_rx 0
	option wpa_nl_tx 0
	option wpa_nl_ctrl 0

config service wpa_supplicant
	option enabled 0
	option wpa_log 1
	option wpa_nl_rx 0
	option wpa_nl_tx 0
	option wpa_nl_ctrl 0

config service netifd
	option enabled 0
	option netifd_log 1
	option netifd_nl 0

config service umdns
	option enabled 0
