<%#
 Copyright 2017 Xingwang Liao <kuoruan@gmail.com>
 Licensed to the public under the Apache License 2.0.
-%>

<% css = [[

	#troubleshoot_text {
		padding: 20px;
		text-align: left;
	}
	#troubleshoot_text pre {
		word-break: break-all;
		margin: 0;
	}
	.description {
		background-color: #33CCFF;
	}

]]
-%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[
	XHR.poll(15, '<%=url("admin/network/qos_gargoyle/troubleshooting/data")%>', null,
		function(x, data) {
			var tshoot = document.getElementById('troubleshoot_text');
			if (data.hasOwnProperty("show")) {
				tshoot.innerHTML = String.format(
					'<pre>%s%s%s%s</pre>',
					'<span class="description">Output of &#34;/etc/init.d/qos_gargoyle show&#34; : </span><br /><br />',
					data.show,
					'<br /><br /><span class="description">Output of &#34;cat /tmp/qosmon.status&#34; : </span><br /><br />',
					data.mon
				);
			} else {
				tshoot.innerHTML = '<strong><%:Error collecting troubleshooting information%></strong>';
			}
		}
	);
//]]></script>

<div id="troubleshoot">
	<fieldset class="cbi-section">
		<legend><%:Troubleshooting Data%></legend>
		<div id="troubleshoot_text"><img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" /><%:Collecting data...%></div>
	</fieldset>
</div>

<%+footer%>
