
<div id="upload-container" class="cbi-value cbi-value-last">
  <label class="cbi-value-title" for="archive"><%:Upload%></label>
  <div class="cbi-value-field">
    <input type="file" name="upload_archive" accept="application/x-tar" id="upload_archive" />
  </div>
  <br>
  <label class="cbi-value-title" for="path"><%:Path%></label>
  <div class="cbi-value-field">
    <input type="text" class="cbi-input-text" name="path" placeholder="/home/myfiles" id="path" />
  </div>
  <br>
  <div class="cbi-value-field">
    <input type="button"" class="cbi-button cbi-button-action important" id="upload" name="upload" value="<%:Upload%>" />
    <input type="button"" class="cbi-button cbi-button-action important" id="download" name="download" value="<%:Download%>" />
  </div>
</div>
<script type="text/javascript">
  let btnUpload = document.getElementById('upload')
  btnUpload.onclick = function (e) {
    let uploadArchive = document.getElementById('upload_archive')
    let uploadPath = document.getElementById('path').value
    if (!uploadArchive.value || !uploadPath) {
      alert("<%:Please input the PATH and select the file !%>")
      return
    }
    let fileName = uploadArchive.files[0].name
    let formData = new FormData()
    formData.append('upload-filename', fileName)
    formData.append('upload-path', uploadPath)
    formData.append('upload-archive', uploadArchive.files[0])
    let xhr = new XMLHttpRequest()
    xhr.open("POST", "/cgi-bin/luci/admin/services/docker/container_put_archive/<%=self.container%>", true)
    xhr.onload = function() {
      if (xhr.status == 200) {
        uploadArchive.value = ''
        alert("<%:Upload Success%> !")
      }
      else {
        alert("<%:Upload Error%>:" + xhr.statusText)
      }
    }
    xhr.send(formData)
  }
  let btnDownload = document.getElementById('download')
  btnDownload.onclick = function (e) {
    let downloadPath = document.getElementById('path').value
    if (!downloadPath) {
      alert("<%:Please input the PATH !%>")
      return
    }
    window.open("/cgi-bin/luci/admin/services/docker/container_get_archive/?id=<%=self.container%>&path=" + encodeURIComponent(downloadPath))
  }
</script>
