<script type="text/javascript">
	const units = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
	function niceBytes(x) {
		let l = 0, n = parseInt(x, 10) || 0;
		while (n >= 1024 && ++l) {
			n = n / 1024;
		}
		return (n.toFixed(n < 10 && l > 0 ? 1 : 0) + ' ' + units[l]);
	}

	fnWindowLoad = function () {
		XHR.get('<%=luci.dispatcher.build_url("admin/docker/get_system_df")%>/', null, (x, info)=>{
			if(!info || !info.Volumes || !info.Volumes.forEach) return
			info.Volumes.forEach(item=>{
        console.log(info)
				const size_c =	document.getElementsByClassName("volume_size_" + item.Name)
				size_c[0].innerText =  item.UsageData ? niceBytes(item.UsageData.Size) : '-'
			})
		})
  }
</script>