<%#
 Copyright 2017 Jo-Philipp Wich <jo@mein.io>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>

<h2 name="content"><%:Netlink Bandwidth Monitor - Backup / Restore %></h2>

<fieldset class="cbi-section">
	<legend><%:Restore Database Backup%></legend>
	<p>
		<form method="POST" action="<%=url("admin/nlbw/restore")%>" enctype="multipart/form-data">
			<input type="hidden" name="token" value="<%=token%>" />
			<input type="file" name="archive" accept="application/gzip,.gz" />
			<input type="submit" value="<%:Restore%>" class="cbi-button cbi-button-apply" />
		</form>

		<% if message then %>
			<div class="alert-message"><%=message%></div>
		<% end %>
	</p>

	<legend><%:Download Database Backup%></legend>
	<p>
		<form method="GET" action="<%=url("admin/nlbw/download")%>">
			<input type="submit" value="<%:Generate Backup%>" class="cbi-button cbi-button-link" />
		</form>
	</p>
</fieldset>

<%+footer%>
