config I2C_GPIO_CUSTOM
	tristate "Custom GPIO-based I2C driver"
	depends on GENERIC_GPIO
	select I2C_GPIO
	help
	  This is an I2C driver to register 1 to 4 custom I2C buses using
	  GPIO lines.

	  This support is also available as a module.  If so, the module
	  will be called i2c-gpio-custom.
