<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content"><%:Configuration%> / <%:Apply%></h2>

<% if changes then %>
	<%+cbi/apply_xhr%>
	<%+admin_uci/changelog%>

	<%- cbi_apply_xhr('uci-apply', configs) -%>

	<p><strong><%:The following changes have been committed%>:</strong></p>
	<%- uci_changelog(changes) -%>
<% else %>
	<p><strong><%:There are no pending changes to apply!%></strong></p>
<% end %>

<%+footer%>
