<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content"><%:Configuration%> / <%:Changes%></h2>

<% if changes then %>
	<%+admin_uci/changelog%>
	<%- uci_changelog(changes) -%>
<% else %>
	<p><strong><%:There are no pending changes!%></strong></p>
<% end %>

<div class="cbi-page-actions">
	<% local r = luci.http.formvalue("redir"); if r and #r > 0 then %>
	<div style="float:left">
		<form class="inline" method="get" action="<%=controller%>/<%=luci.util.pcdata(r)%>">
			<input class="cbi-button cbi-button-link" style="float:left; margin:0" type="submit" value="<%:Back%>" />
		</form>
	</div>
	<% end %>

	<div style="text-align:right">
		<form class="inline" method="post" action="<%=controller%>/admin/uci/apply">
			<input type="hidden" name="token" value="<%=token%>" />
			<input type="hidden" name="redir" value="<%=pcdata(luci.http.formvalue("redir"))%>" />
			<input class="cbi-button cbi-button-apply" type="submit" value="<%:Apply%>" />
		</form>
		<form class="inline" method="post" action="<%=controller%>/admin/uci/saveapply">
			<input type="hidden" name="token" value="<%=token%>" />
			<input type="hidden" name="redir" value="<%=pcdata(luci.http.formvalue("redir"))%>" />
			<input class="cbi-button cbi-button-save" type="submit" value="<%:Save & Apply%>" />
		</form>
		<form class="inline" method="post" action="<%=controller%>/admin/uci/revert">
			<input type="hidden" name="token" value="<%=token%>" />
			<input type="hidden" name="redir" value="<%=pcdata(luci.http.formvalue("redir"))%>" />
			<input class="cbi-button cbi-button-reset" type="submit" value="<%:Revert%>" />
		</form>
	</div>
</div>

<%+footer%>
