<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2009 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2017-2018 Stan Grishin <stangri@melmac.net>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content"><%:Reboot Device to an Alternative Partition%> - <%:Confirm%></h2>
<p>
	<%_ WARNING: An alternative partition might have its own settings and completely different firmware.<br /><br />
		As your network configuration and WiFi SSID/password on alternative partition might be different,
			you might have to adjust your computer settings to be able to access your device once it reboots.<br /><br />
		Please also be aware that alternative partition firmware might not provide an easy way to switch active partition
			and boot back to the currently active partition.<br /><br />
		Click "Proceed" below to reboot device to an alternative partition. %>
</p>

<div class="cbi-page-actions right">
	<form class="inline" action="<%=REQUEST_URI%>" method="post">
		<input type="hidden" name="token" value="<%=token%>" />
		<input type="hidden" name="step" value="2" />
		<input class="cbi-button cbi-button-reset important" name="cancel" type="submit" value="<%:Cancel%>" />
		<input class="cbi-button cbi-button-apply important" type="submit" value="<%:Proceed%>" />
	</form>
</div>

<%+footer%>
