<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<html>
	<head>
		<title><%=luci.sys.hostname()%> - <%= title or translate("Rebooting...") %></title>
		<link rel="stylesheet" type="text/css" media="screen" href="<%=media%>/cascade.css?v=git-19.271.68204-f8775ee" />
		<script type="text/javascript" src="<%=resource%>/xhr.js?v=git-19.271.68204-f8775ee"></script>
		<script type="text/javascript">//<![CDATA[
			var interval = window.setInterval(function() {
				var img = new Image();
				var target = ('https:' == document.location.protocol ? 'https://' : 'http://') + <%=addr and "'%s'" % addr or "window.location.host"%>;
		
				img.onload = function() {
					window.clearInterval(interval);
					window.location.replace(target);
				};
				
				img.src = target + '<%=resource%>/icons/loading.gif?' + Math.random();
				
			}, 5000);
		//]]></script>
	</head>
	<body>
		<header>
			<div class="fill">
				<div class="container">
					<p class="brand"><%=luci.sys.hostname() or "?"%></p>
				</div>
			</div>
		</header>
		&#160;
		<div class="main">
			<div id="maincontainer">
				<div id="maincontent" class="container">
					<h2 name="content" id="applyreboot-container" ><%:System%> - <%= title or translate("Rebooting...") %></h2>
					<div class="cbi-section" id="applyreboot-section">
						<div>
							<%= msg or translate("Changes applied.") %>
						</div>
						<div>
							<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
							<%:Waiting for changes to be applied...%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>