<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2009 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2017-2018 Stan Grishin <stangri@melmac.net>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content"><%:Power Off Device%> - <%:Confirm%></h2>
<p>
	<%_ WARNING: Power off might result in a reboot on a device which doesn't support power off.<br /><br />
		Click "Proceed" below to power off your device. %>
</p>

<div class="cbi-page-actions right">
	<form class="inline" action="<%=REQUEST_URI%>" method="post">
		<input type="hidden" name="token" value="<%=token%>" />
		<input type="hidden" name="step" value="2" />
		<input class="cbi-button cbi-button-reset important" name="cancel" type="submit" value="<%:Cancel%>" />
		<input class="cbi-button cbi-button-apply important" type="submit" value="<%:Proceed%>" />
	</form>
</div>

<%+footer%>
