<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[frps]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('frps_status');
		if (data && tb) {
			if (data.running) {
				tb.innerHTML = '<em><b><font color=green> <%:Frps%>' + data.bin_version + '<%:RUNNING%></font></b></em>';
			} else {
				tb.innerHTML = '<em><b><font color=red> <%:Frps%>' + data.bin_version + '<%:NOT RUNNING%></font></b></em>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="frps_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
