<fieldset class="cbi-section">
	<table>
		<tr>
		<td width="8%" align="center" id="_Dreamacro"><%:Collecting data...%></td>
		<td width="8%" align="center" id="_vernesong"><%:Collecting data...%></td>
		<td width="8%" align="center" id="_frainzy1477"><%:Collecting data...%></td>
		<td width="8%" align="center" id="_SukkaW"><%:Collecting data...%></td>
		<td width="8%" align="center" id="_lhie1_dev"><%:Collecting data...%></td>
		<td width="8%" align="center" id="_ConnersHua_dev"><%:Collecting data...%></td>
		<td width="8%" align="center" id="_haishanh"><%:Collecting data...%></td>
		<td width="8%" align="center" id="_MaxMind"><%:Collecting data...%></td>
		<td width="8%" align="center" id="_FQrabbit"><%:Collecting data...%></td>
		<td width="8%" align="center" id="_Fndroid"><%:Collecting data...%></td>
		<td width="8%" align="center" id="_Alecthw"><%:Collecting data...%></td>
		<td width="8%" align="center" id="_Tindy_X"><%:Collecting data...%></td>
		</tr>
	</table>
</fieldset>

<script type="text/javascript">//<![CDATA[
	var Dreamacro = document.getElementById('_Dreamacro');
	var vernesong = document.getElementById('_vernesong');
	var frainzy1477 = document.getElementById('_frainzy1477');
	var SukkaW = document.getElementById('_SukkaW');
	var lhie1_dev = document.getElementById('_lhie1_dev');
	var ConnersHua_dev = document.getElementById('_ConnersHua_dev');
	var MaxMind = document.getElementById('_MaxMind');
	var haishanh = document.getElementById('_haishanh');
	var FQrabbit = document.getElementById('_FQrabbit');
	var Fndroid = document.getElementById('_Fndroid');
	var Alecthw = document.getElementById('_Alecthw');
	var Tindy_X = document.getElementById('_Tindy_X');
  Dreamacro.innerHTML = '<img src="https://avatars3.githubusercontent.com/u/8615343?s=460&v=4" loading="lazy" style="border-radius:50%;" title="Dreamacro" alt="Dreamacro" width="50" onerror="return imgerrorfun(this,this.src)" onclick="return Dreamacro_rediret()" />';
	vernesong.innerHTML = '<img src="https://avatars2.githubusercontent.com/u/42875168?s=460&v=4" loading="lazy" style="border-radius:50%;" title="vernesong" alt="vernesong" width="50" onerror="return imgerrorfun(this,this.src)" onclick="return vernesong_rediret()" />';
  frainzy1477.innerHTML = '<img src="https://avatars2.githubusercontent.com/u/49537471?s=460&v=4" loading="lazy" style="border-radius:50%;" title="frainzy1477" alt="frainzy1477" width="50" onerror="return imgerrorfun(this,this.src)" onclick="return frainzy1477_rediret()" />';
  SukkaW.innerHTML = '<img src="https://avatars1.githubusercontent.com/u/40715044?s=460&v=4" loading="lazy" style="border-radius:50%;" title="SukkaW" alt="SukkaW" width="50" onerror="return imgerrorfun(this,this.src)" onclick="return SukkaW_rediret()" />';
  lhie1_dev.innerHTML = '<img src="https://avatars1.githubusercontent.com/u/11873197?s=460&v=4" loading="lazy" style="border-radius:50%;" title="lhie1" alt="lhie1" width="50" onerror="return imgerrorfun(this,this.src)" onclick="return lhie1_rediret()" />';
  ConnersHua_dev.innerHTML = '<img src="https://avatars1.githubusercontent.com/u/11730838?s=460&v=4" loading="lazy" style="border-radius:50%;" title="ConnersHua" alt="ConnersHua" width="50" onerror="return imgerrorfun(this,this.src)" onclick="return ConnersHua_rediret()" />';
  MaxMind.innerHTML = '<img src="https://avatars3.githubusercontent.com/u/1181834?s=200&v=4" loading="lazy" style="border-radius:50%;" title="MaxMind" alt="MaxMind" width="50" onerror="return imgerrorfun(this,this.src)" onclick="return MaxMind_rediret()" />';
  haishanh.innerHTML = '<img src="https://avatars1.githubusercontent.com/u/1166872?s=460&v=4" loading="lazy" style="border-radius:50%;" title="haishanh" alt="haishanh" width="50" onerror="return imgerrorfun(this,this.src)" onclick="return haishanh_rediret()" />';
  FQrabbit.innerHTML = '<img src="https://avatars1.githubusercontent.com/u/29931248?s=460&v=4" loading="lazy" style="border-radius:50%;" title="FQrabbit" alt="FQrabbit" width="50" onerror="return imgerrorfun(this,this.src)" onclick="return FQrabbit_rediret()" />';
  Fndroid.innerHTML = '<img src="https://avatars1.githubusercontent.com/u/16091562?s=400&v=4" loading="lazy" style="border-radius:50%;" title="Fndroid" alt="Fndroid" width="50" onerror="return imgerrorfun(this,this.src)" onclick="return Fndroid_rediret()" />';
  Alecthw.innerHTML = '<img src="https://avatars1.githubusercontent.com/u/22856212?s=460&u=c8b48950a87572e5887ef836cf7dc1a97be7a7fd&v=4" loading="lazy" style="border-radius:50%;" title="Alecthw" alt="Alecthw" width="50" onerror="return imgerrorfun(this,this.src)" onclick="return Alecthw_rediret()" />';
  Tindy_X.innerHTML = '<img src="https://avatars0.githubusercontent.com/u/49061470?s=460&u=22a89312bf2de411e87340e04b5f9d149f7366cc&v=4" loading="lazy" style="border-radius:50%;" title="Tindy X" alt="Tindy X" width="50" onerror="return imgerrorfun(this,this.src)" onclick="return Tindy_X_rediret()" />';
  
	  function Dreamacro_rediret()
    {
        url1='https://github.com/Dreamacro';
        window.open(url1);
    };
    function vernesong_rediret()
    {
        url2='https://github.com/vernesong';
        window.open(url2);
    };
    function frainzy1477_rediret()
    {
        url3='https://github.com/frainzy1477';
        window.open(url3);
    };
    function SukkaW_rediret()
    {
        url4='https://github.com/SukkaW';
        window.open(url4);
    };
    function lhie1_rediret()
    {
        url5='https://github.com/lhie1';
        window.open(url5);
    };
    function ConnersHua_rediret()
    {
        url6='https://github.com/ConnersHua';
        window.open(url6);
    };
    function MaxMind_rediret()
    {
        url9='https://dev.maxmind.com/geoip/geoip2/geolite2/';
        window.open(url9);
    };
    function haishanh_rediret()
    {
        url10='https://github.com/haishanh';
        window.open(url10);
    };
    function Fndroid_rediret()
    {
        url11='https://github.com/Fndroid';
        window.open(url11);
    };
    function FQrabbit_rediret()
    {
        url12='https://github.com/FQrabbit';
        window.open(url12);
    };
    function Alecthw_rediret()
    {
        url13='https://github.com/alecthw';
        window.open(url13);
    };
    
    function Tindy_X_rediret()
    {
        url14='https://github.com/tindy2013';
        window.open(url14);
    };
    
    function imgerrorfun(imgobj,imgSrc){
       setTimeout(function(){
         imgobj.src=imgSrc;
       },1000*10);
     };

//]]></script>