
&otp {
	u-boot,dm-pre-reloc;
};

&macphy_bgs {
	u-boot,dm-pre-reloc;
};

&macphy_txlevel {
	u-boot,dm-pre-reloc;
};

&gmac0 {
	u-boot,dm-pre-reloc;
};

&mdio0 {
	u-boot,dm-pre-reloc;
	ethernet-phy@2 {
		u-boot,dm-pre-reloc;
	};
};

&gmac0_stmmac_axi_setup {
	u-boot,dm-pre-reloc;
};

&gmac0_mtl_rx_setup {
	u-boot,dm-pre-reloc;
	queue0 {
		u-boot,dm-pre-reloc;
	};
};

&gmac0_mtl_tx_setup {
	u-boot,dm-pre-reloc;
	queue0 {
		u-boot,dm-pre-reloc;
	};
};

&fephym0_led_link {
	u-boot,dm-pre-reloc;
};

&fephym0_led_spd {
	u-boot,dm-pre-reloc;
};

&gmac1 {
	u-boot,dm-pre-reloc;
};

&mdio1 {
	u-boot,dm-pre-reloc;
	rgmii_phy: phy@1 {
		u-boot,dm-pre-reloc;
	};
};

&rgmii_miim {
	u-boot,dm-pre-reloc;
};

&rgmii_tx_bus2 {
	u-boot,dm-pre-reloc;
};

&rgmii_rx_bus2 {
	u-boot,dm-pre-reloc;
};

&rgmii_rgmii_clk {
	u-boot,dm-pre-reloc;
};

&rgmii_rgmii_bus {
	u-boot,dm-pre-reloc;
};

&gmac1_stmmac_axi_setup {
	u-boot,dm-pre-reloc;
};

&gmac1_mtl_rx_setup {
	u-boot,dm-pre-reloc;
	queue0 {
		u-boot,dm-pre-reloc;
	};
};

&gmac1_mtl_tx_setup {
	u-boot,dm-pre-reloc;
	queue0 {
		u-boot,dm-pre-reloc;
	};
};
