<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2012 Daniel Golle <dgolle@allnet.de>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content"><%:Flash operations%></h2>
<fieldset class="cbi-section">
	<legend><%:Flash new firmware image%></legend>
	<% if upgrade_avail then %>
		<form method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
			<div class="cbi-section-descr"><%:Upload a sysupgrade-compatible image. %></div>
			<div class="cbi-section-node">
				<div class="cbi-value cbi-value-last<% if image_invalid then %> cbi-value-error<% end %>">
					<label class="cbi-value-title" for="image"><%:Image%>:</label>
					<div class="cbi-value-field">
						<input type="file" name="image" id="image" />
						<input type="submit" class="cbi-button cbi-input-apply" value="<%:Flash image...%>" />
					</div>
				</div>
			</div>
			<% if image_invalid then %>
				<div class="cbi-section-error"><%:The uploaded image file does not contain a supported format. Make sure that you choose the generic image format for your platform. %></div>
			<% end %>
		</form>
	<% else %>
		<div class="cbi-section-descr"><%:Sorry, there is no sysupgrade support present; a new firmware image must be flashed manually. Please refer to the wiki for device specific install instructions.%></div>
	<% end %>
</fieldset>

<%+footer%>
