<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2012 Daniel Golle <dgolle@allnet.de>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>
<h2 name="content"><%:System%></h2>
<h3><%:Reboot%></h3>
<p><%:Reboots the operating system of your device%></p>
<%- if not reboot then -%>
<p><a href="<%=controller%>/failsafe/reboot?reboot=1"><%:Perform reboot%></a></p>
<%- else -%>
<p><%:Please wait: Device rebooting...%></p>
<script type="text/javascript">setTimeout("location='<%=controller%>'", 60000)</script>
<%- end -%>
<%+footer%>
