<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2009 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2012 Daniel Golle <dgolle@allnet.de>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content"><%:Flash Firmware%> - <%:Verify%></h2>
<p>
	<%_ The flash image was uploaded.
		Below is the checksum and file size listed,
		compare them with the original file to ensure data integrity.<br />
		Click "Proceed" below to start the flash procedure. %>

	<% if storage > 0 and size > storage then %>
		<br /><br />
		<div class="error"><%:It appears that you are trying to
			flash an image that does not fit into the flash memory, please verify
			the image file! %></div>
	<% end %>

</p>

<fieldset class="cbi-section">
	<ul>
		<li><%:Checksum%>: <code><%=checksum%></code></li>
		<li><%:Size%>: <%
			local w = require "luci.tools.webadmin"
			write(w.byte_format(size))

			if storage > 0 then
				write(luci.i18n.translatef(
					" (%s available)",
					w.byte_format(storage)
				))
			end
		%></li>
	</ul>
</fieldset>

<div class="cbi-page-actions right">
	<form style="display:inline" action="<%=REQUEST_URI%>" method="post">
		<input class="cbi-button cbi-button-reset" type="submit" value="<%:Cancel%>" />
	</form>
	<form style="display:inline" action="<%=REQUEST_URI%>" method="post">
		<input type="hidden" name="step" value="2" />
		<input class="cbi-button cbi-button-apply" type="submit" value="<%:Proceed%>" />
	</form>
</div>

<%+footer%>
