/**
 *  Rosy is a theme for LuCI. It is based on luci-theme-bootstrap
 *
 *  luci-theme-rosy
 *     Copyright 2018 Rosy Song <rosysong@rosinson.com>
 *     Copyright 2018 Yan Lan Shen <yanlan.shen@rosinson.com>
 *
 *   Have a bug? Please create an issue here on GitHub!
 *       https://github.com/rosywrt/luci-theme-rosy/issues
 *
 *  luci-theme-bootstrap:
 *      Copyright 2008 Steven Barth <steven@midlink.org>
 *      Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 *      Copyright 2012 David Menting <david@nut-bolt.nl>
 *
 *  Licensed to the public under the Apache License 2.0
 */

@font-face {
    font-family: 'icomoon';
    src: url('fonts/font.eot');
    src: url('fonts/font.eot') format('embedded-opentype'),
    url('fonts/font.ttf') format('truetype'),
    url('fonts/font.woff') format('woff'),
    url('fonts/font.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.table { display: table; position: relative; }
.tr    { display: table-row; }
.thead { display: table-header-group; }
.tbody { display: table-row-group; }
.tfoot { display: table-footer-group; }
.td, .th {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    padding: .5em;
}

.th {
    font-weight: bold;
}

.tr.placeholder {
    height: 4em;
}

.tr.placeholder > .td {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 3em;
    background: inherit;
}

.table[width="33%"], .th[width="33%"], .td[width="33%"] { width: 33%; }
.table[width="100%"], .th[width="100%"], .td[width="100%"] { width: 100%; }

.col-1 { flex: 1 1 30px !important; -webkit-flex: 1 1 30px !important; }
.col-2 { flex: 2 2 60px !important; -webkit-flex: 2 2 60px !important; }
.col-3 { flex: 3 3 90px !important; -webkit-flex: 3 3 90px !important; }
.col-4 { flex: 4 4 120px !important; -webkit-flex: 4 4 120px !important; }
.col-5 { flex: 5 5 150px !important; -webkit-flex: 5 5 150px !important; }
.col-6 { flex: 6 6 180px !important; -webkit-flex: 6 6 180px !important; }
.col-7 { flex: 7 7 210px !important; -webkit-flex: 7 7 210px !important; }
.col-8 { flex: 8 8 240px !important; -webkit-flex: 8 8 240px !important; }
.col-9 { flex: 9 9 270px !important; -webkit-flex: 9 9 270px !important; }
.col-10 { flex: 10 10 300px !important; -webkit-flex: 10 10 300px !important; }

.cbi-button-up,
.cbi-button-down,
.cbi-value-helpicon,
.showSide,
.main > .loading > span {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 0.8rem;
    background-color: #EEE;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #BFC9D2;
    font-family: Microsoft Yahei, WenQuanYi Micro Hei, sans-serif, "Helvetica Neue", Helvetica, Hiragino Sans GB;
}
body.logged-in {
    height: auto;
}

select {
    padding: 0.36rem 0.8rem;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

select,
input,
.cbi-dropdown {
    background-color: transparent;
    color: rgba(0, 0, 0, .87);
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, .26);
    outline: 0;
    padding: 0;
    border-radius: 0;
    background-image: none;
    height: 1.8rem;
    font-size: 0.8rem;
}

select:not([multiple="multiple"]):focus,
input:focus {
    border-color: #0099CC;
}

select[multiple="multiple"] {
    height: auto;
}

code {
    color: #0099CC;
}

abbr {
    color: #005470;
    text-decoration: underline;
    cursor: help;
}

hr {
    margin: 1rem 0;
    border-color: #EEE;
    opacity: 0.1;
}

footer {
    text-align: right;
    padding: 1rem;
    color: #aaa;
    font-size: 0.8rem;
    text-shadow: 0px 0px 2px #BBB;
}

footer > a {
    color: #aaa;
    text-decoration: none;
}

.main {
    height: 100%;
    overflow: hidden;
}
.logged-in .main {
    height: auto;
}

.main > .loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: block;
    background-color: #34414A;
    top: 0;
}

.main > .loading > span {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

.main > .loading > span::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.main > .loading > span > .loading-img {
    margin-right: 0.2rem;
    display: inline-block;
    vertical-align: middle;
}

.main > .loading > span p {
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    vertical-align: middle;
}

.main-left {
    float: left;
    width: 15%;
    height: 100%;
    background-color: white;
    position: fixed;
}

.main-right {
    padding: 0 1% 0 4%;
    float: right;
    width: 85%;
    height: 100%;
    background-color: #EBF1F6;
}

.logged-in .main-right {
    background-color: #BFC9D2;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

header {
    padding: 7% 0;
    height: 100%;
    background: #556270;
    color: white;
    text-align: center;
}

header .brand {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    cursor: default;
}

.danger {
    background-color: #FA8072 !important;
    color: black;
}

.warning {
    background-color:  #F0E68C;
    color: black;
}

.success {
    background-color: #90EE90 !important;
    color: black;
}

.alert-message {
    margin: 2rem 0 0 0;
    padding: 1rem;
    border: 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    font-family: inherit;
    min-width: inherit;
    border-radius: 0;
    background-color: #FFF;
}


.error {
    color: red;
}

.alert-message > h4 {
    font-size: 110%;
}

.alert-message > * {
    margin: .5rem 0;
}

#maincontent > .container > div:nth-child(1).alert-message.warning > a {
    font: inherit;
    overflow: visible;
    text-transform: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    min-width: 6rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    line-height: 1.42857143;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    margin-top: 2rem;
    text-decoration: inherit;
}

.main > .main-left > .nav {
    padding-top: 14%;
    width: 85%;
    height: 64%;
    position: absolute;
    right: -10%;
    top: 18%;
    background-color: #fff;
    border-radius: 5px;
}

.main > .main-left > .nav > li a {
    color: #556270;
    display: block;
}

.main > .main-left > .nav > li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.main > .main-left > .nav > .slide {
    padding: 0;
}

.main > .main-left > .nav > .slide > ul {
    display: none;
}

.main > .main-left > .nav > .slide > .menu {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: default;
    font-size: 1.15rem;
}

.main > .main-left > .nav > .slide > .menu:hover {
    background: #D4D4D4;
}

.main > .main-left > .nav > .slide:hover {
    background: none;
}

.main > .main-left > .nav > .slide > .slide-menu > li {
    padding: 0.4rem 2rem;
}

.main > .main-left > .nav > .slide > .slide-menu > .active {
    background-color: #556270;
}

.main > .main-left > .nav > .slide > .slide-menu > li > a {
    text-decoration: none;
    white-space: nowrap;
}

.main > .main-left > .nav > .slide > .slide-menu > .active > a {
    color: white;
}

.main > .main-left > .nav > .slide > .slide-menu > li:hover {
    background: #D4D4D4;
}

.main > .main-left > .nav > .slide > .slide-menu > .active:hover {
    background-color: #556270;
    cursor: hand;
}

.main > .main-left > .nav > .logout {
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 2rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

h2 {
    margin: 1rem 0 0 0;
    padding: .5rem;
    font-size: 30px;
    padding-bottom: 10px;
    background: #fff;
    border-radius: 5px;
}

h3 {
    margin: 2rem 0 0 0;
    font-size: 1.4rem;
    padding-bottom: 10px;
}

h4 {
    margin: 2rem 0 0 0;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.cbi-section {
    margin: 1rem 0 0 0;
    padding: 2rem;
    border: 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    font-family: inherit;
    min-width: inherit;
    background-color: #FFF;
    -webkit-overflow-scrolling: touch;
}

.logged-in .cbi-section {
    border-radius: 5px;
}

.cbi-map-descr + fieldset {
    margin-top: 1rem;
}

.cbi-section > legend {
    display: none !important;
}

fieldset > fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.cbi-section > h3:first-child,
.panel-title {
    width: 100%;
    display: block;
    line-height: 1;
    color: #404040;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
    margin: 0;
}

.cbi-page-actions {
    margin-top: 1rem;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table, .table {
    margin-top: 1rem;
    width: 100%;
    background: #fff;
    border-radius: 5px;
}

table > tbody > tr > td, table > tbody > tr > th, table > tfoot > tr > td, table > tfoot > tr > th, table > thead > tr > td, table > thead > tr > th,
.table > .tbody > .tr > .td, .table > .tbody > .tr > .th, .table > .tfoot > .tr > .td, .table > .tfoot > .tr > .th, .table > .thead > .tr > .td, .table > .thead > .tr > .th {
    padding: .5rem;
    border-top: 1px solid #ddd;
    white-space: nowrap;
}

.cbi-section-table-cell {
    white-space: nowrap;
    align-self: flex-end;
    flex: 1 1 auto;
}

.cbi-section-table {
    border: none;
}

.cbi-section-table-row {
    text-align: center;
    margin-bottom: 1rem;
    background: #f4f4f4;
}

.cbi-section-table-row:last-child {
    margin-bottom: 0;
}

.cbi-section-table-row > .cbi-value-field .cbi-input-select,
.cbi-section-table-row > .cbi-value-field .cbi-input-text,
.cbi-section-table-row > .cbi-value-field .cbi-input-password,
.cbi-section-table-row > .cbi-value-field .cbi-dropdown {
    width: 100%;
}

.cbi-section-table-row > .cbi-value-field [data-dynlist] > input,
.cbi-section-table-row > .cbi-value-field input.cbi-input-password {
    width: calc(100% - 1.5rem);
}

div > table > tbody > tr:nth-of-type(2n),
div > .table > .tbody > .tr:nth-of-type(2n) {
    background-color: #f9f9f9;
}

div > table > tbody > tr:nth-of-type(2n),
div > .table > .tbody > .tr:nth-of-type(2n) {
    background-color: #f9f9f9;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

/* fix progress bar */
#swaptotal > div,
#swapfree > div,
#memfree > div,
#membuff > div,
#conns > div,
#memtotal > div {
    width: 100% !important;
    height: 1.2rem !important;
}

#swaptotal > div > div,
#swapfree > div > div,
#memfree > div > div,
#membuff > div > div,
#conns > div > div,
#memtotal > div > div {
    height: 100% !important;
    background-color: #0099CC !important;
}

/* fix multiple table */

table table,
.table .table {
    border: none;
}

.cbi-value-field table,
.cbi-value-field .table {
    border: none;
}

td > table > tbody > tr > td,
.td > .table > .tbody > .tr > .td {
    border: none;
}

.cbi-value-field > table > tbody > tr > td,
.cbi-value-field > .table > .tbody > .tr > .td {
    border: none;
}

/* button style */

.btn, .cbi-button {
    -webkit-appearance: none;
    text-transform: uppercase;
    color: #333;
    background-color: #46b8da;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    padding: 0 0.8rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.8rem;
    width: auto;
    display: inline-block;
    text-decoration: none;
}

.logged-in .alert-message.warning {
    font-size: 14px;
    margin: 2rem 0 0 0;
    background: #F0E68C;
    border-radius: 5px;
}

.logged-in .alert-message.warning a {
    padding: .5rem 0 0;
    background-color: transparent;
    color: #5BC0DE;
    font-size: 16px;
}

.btn:hover,
.btn:focus,
.btn:active,
.cbi-button:hover,
.cbi-button:focus,
.cbi-button:active,
.cbi-page-actions .cbi-button-apply + .cbi-button-save:hover,
.cbi-page-actions .cbi-button-apply + .cbi-button-save:focus,
.cbi-page-actions .cbi-button-apply + .cbi-button-save:active {
    outline: 0;
    text-decoration: none;
}

.btn:hover,
.btn:focus,
.cbi-button:hover,
.cbi-button:focus {
}

.btn:disabled,
.cbi-button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.60;
}

.cbi-page-actions .cbi-button-apply,
.cbi-section-actions .cbi-button-edit,
.cbi-button-edit.important,
.cbi-button-apply.important,
.cbi-button-reload.important,
.cbi-button-action.important {
    color: #fff;
    background-color: #C73727;
}

.cbi-page-actions .cbi-button-save,
.cbi-button-add.important,
.cbi-button-save.important,
.cbi-button-positive.important {
    color: #fff;
    background-color: #5bc0de;
}

.cbi-button-remove.important,
.cbi-button-reset.important,
.cbi-button-negative.important {
    color: #fff;
    background-color: #d9534f;
}

.cbi-button-find,
.cbi-button-link,
.cbi-button-up,
.cbi-button-down,
.cbi-button-neutral {
    background-color: #46b8da;
    color: #fff;
}

.cbi-page-actions .cbi-button-apply + .cbi-button-save,
.cbi-button-add,
.cbi-button-save,
.cbi-button-positive,
.cbi-button-apply {
    color: #fff;
    background-color: #46b8da;
}

.cbi-section-remove > .cbi-button,
.cbi-button-remove,
.cbi-button-reset,
.cbi-button-negative {
    color: #fff;
    background-color: #EB6B5D;
}

.cbi-page-actions .cbi-button-link:first-child {
    float: left;
}

.a-to-btn {
    text-decoration: none;
}

/* table */

.tabs {
    width: 100%;
    margin: 1rem 0 0;
    padding-left: 0.5rem;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.cbi-tabmenu > li,
.tabs > li {
    display: inline-block;
    padding: 0.6rem 0rem;
}

.cbi-tabmenu > li > a,
.tabs > li > a {
    text-decoration: none;
    color: #404040;
    padding: 0.5rem 0.8rem;
}

.tabs > li[class~="active"],
.tabs > li:hover {
    cursor: pointer;
    border-bottom: 0.2rem solid #0099CC;
    color: #0099CC;
    margin-bottom: -0.18751rem;
}

.tabs > li[class~="active"] > a {
    color: #0099cc;
}

.tabs > li:hover {
    border-bottom: 0.18751rem solid #C9C9C9;
}

.cbi-tabmenu {
    border-top: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
}

.cbi-tabmenu > li:hover {
    background-color: #F1F1F1;
    border-radius: 5px;
}

.cbi-tabmenu > li[class~="cbi-tab"] {
    background-color: #fff;
    border-radius: 5px;
}

.cbi-tabmenu {
    background-color: #D4D4D4;
    border-radius: 5px;
    margin-top: 1rem;
}

.cbi-section-node {
    margin-top: 1rem;
}

.cbi-section-remove:nth-of-type(2n),
.cbi-section-node:nth-of-type(2n){
    background-color: #f9f9f9;
}

.cbi-section-node-tabbed {
    padding: 0;
    margin-top: 0;
    border-bottom: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
}

.cbi-tabcontainer > .cbi-value:nth-of-type(2n) {
    background-color: #f9f9f9;
}

.cbi-value-field,
.cbi-value-description {
    display: table-cell;
    line-height: 1.25;
}

.cbi-value-helpicon > img {
    display: none;
}

.cbi-value-helpicon:before {
    content: "\f059";
}

.cbi-value-description {
    font-size: small;
    opacity: 0.5;
    padding: 0.5rem 0 0 0;
}

.cbi-value-title {
    word-wrap: break-word;
    padding-top: 0.6rem;
    width: 23rem;
    float: left;
    text-align: right;
    padding-right: 2rem;
    display: table-cell;
}

.cbi-value {
    padding: 0.3rem 1rem;
    display: inline-block;
    width: 100%;
}

.cbi-section-table-descr > .cbi-section-table-cell,
.cbi-section-table-titles > .cbi-section-table-cell {
    border: none;
}

.td[data-title]::before {
    content: attr(data-title) ":\20";
    font-weight: bold;
    text-align: left;
    display: none;
    padding: .25rem 0;
    white-space: nowrap;
}

.tr.placeholder .td[data-title]::before {
    display: none;
}

.tr[data-title]::before,
.tr.cbi-section-table-titles.named::before {
    content: attr(data-title) "\20";
    font-weight: bold;
    text-align: center;
    display: table-cell;
    align-self: center;
    flex: 1 1 5%;
    padding: .25rem;
    white-space: normal;
    word-wrap: break-word;
    vertical-align: middle;
}

.cbi-rowstyle-1 {
    background-color: #f9f9f9;
}

.cbi-rowstyle-2 {
    background-color: #eee;
}

.cbi-rowstyle-2 .cbi-button-up,
.cbi-rowstyle-2 .cbi-button-down {
    background-color: #FFF !important;
}

.cbi-section-table .cbi-section-table-titles .cbi-section-table-cell {
    width: auto !important;
}

.td.cbi-section-actions {
    text-align: right;
    vertical-align: middle;
}

.td.cbi-section-actions > * {
    display: flex;
}

.td.cbi-section-actions > * > *,
.td.cbi-section-actions > * > form > * {
    flex: 1 1 4em;
    margin: 0 1px;
}

.td.cbi-section-actions > * > form {
    display: inline-flex;
    margin: 0;
}

/* desc */
.cbi-section-descr,
.cbi-map-descr {
    padding: 0.5rem;
    color: #999;
    font-size: small;
}


.cbi-dropdown {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    padding: 0;
    height: auto;
}

.cbi-dropdown:focus {
    outline: 2px solid #4b6e9b;
}

.cbi-dropdown > ul {
    margin: 0 !important;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    width: 100%;
}

.cbi-dropdown > ul.preview {
    display: none;
}

.cbi-dropdown > .open {
    border: 2px outset #eee;
    flex-basis: 15px;
    background: #eee;
}

.cbi-dropdown > .open,
.cbi-dropdown > .more {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 2em;
    padding: 0 .25em;
}

.cbi-dropdown > .more,
.cbi-dropdown > ul > li[placeholder] {
    color: #777;
    font-weight: bold;
    text-shadow: 1px 1px 0px #fff;
    display: none;
}

.cbi-dropdown > ul > li {
    display: none;
    padding: .25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: center;
    align-self: center;
    min-height: 20px;
}

.cbi-dropdown > ul > li .hide-open { display: initial; }
.cbi-dropdown > ul > li .hide-close { display: none; }

.cbi-dropdown > ul > li[display]:not([display="0"]) {
    border-left: 1px solid #ccc;
}

.cbi-dropdown[empty] > ul {
    max-width: 1px;
}

.cbi-dropdown > ul > li > form {
    display: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.cbi-dropdown > ul > li img {
    vertical-align: middle;
    margin-right: .25em;
}

.cbi-dropdown > ul > li > form > input[type="checkbox"] {
    margin: 0;
    height: auto;
}

.cbi-dropdown > ul > li input[type="text"] {
    height: 20px;
}

.cbi-dropdown[open] {
    position: relative;
}

.cbi-dropdown[open] > ul.dropdown {
    display: block;
    background: #f6f6f5;
    border: 1px solid #918e8c;
    position: absolute;
    z-index: 1000;
    max-width: none;
    min-width: 100%;
    width: auto;
}

.cbi-dropdown > ul > li[display],
.cbi-dropdown[open] > ul.preview,
.cbi-dropdown[open] > ul.dropdown > li,
.cbi-dropdown[multiple] > ul > li > label,
.cbi-dropdown[multiple][open] > ul.dropdown > li,
.cbi-dropdown[multiple][more] > .more,
.cbi-dropdown[multiple][empty] > .more {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.cbi-dropdown[empty] > ul > li,
.cbi-dropdown[optional][open] > ul.dropdown > li[placeholder],
.cbi-dropdown[multiple][open] > ul.dropdown > li > form {
    display: block;
}

.cbi-dropdown[open] > ul.dropdown > li .hide-open { display: none; }
.cbi-dropdown[open] > ul.dropdown > li .hide-close { display: initial; }

.cbi-dropdown[open] > ul.dropdown > li {
    border-bottom: 1px solid #ccc;
}

.cbi-dropdown[open] > ul.dropdown > li[selected] {
    background: #b0d0f0;
}

.cbi-dropdown[open] > ul.dropdown > li.focus {
    background: linear-gradient(90deg, #a3c2e8 0%, #84aad9 100%);
}

.cbi-dropdown[open] > ul.dropdown > li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.cbi-dropdown[disabled] {
    pointer-events: none;
    opacity: .6;
}

.cbi-dropdown .zonebadge {
    width: 100%;
}

.cbi-dropdown[open] .zonebadge {
    width: auto;
}


/* luci */

.hidden {
    display: none
}

.left, .left::before {
    text-align: left !important;
}

.right, .right::before {
    text-align: right !important;
}

.center, .center::before {
    text-align: center !important;
}

.top {
    align-self: flex-start !important;
    vertical-align: top !important;
}

.bottom {
    align-self: flex-end !important;
    vertical-align: bottom !important;
}

.inline {
    display: inline;
}

/* select */
.cbi-value-field .cbi-dropdown {
    min-width: 15rem;
}

.cbi-value-field .cbi-input-select {
    width: 15rem;
}

.th[data-type="button"], .td[data-type="button"],
.th[data-type="fvalue"], .td[data-type="fvalue"] {
    flex: 1 1 2em;
    text-align: center;
}

.ifacebadge {
    display: inline-flex;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.5rem 1rem;
    background: #fff;
}

td > .ifacebadge,
.td > .ifacebadge {
    background-color: #F0F0F0;
    font-size: 0.9rem;
}

.ifacebadge > em,
.ifacebadge > img {
    display: inline-block;
    margin: 0 .2rem;
    align-self: flex-start;
}

.ifacebadge > img + img {
    margin: 0 .2rem 0 0;
}

.network-status-table {
    display: flex;
    flex-wrap: wrap;
}

.network-status-table .ifacebox {
    margin: .5em;
    flex-grow: 1;
}

.network-status-table .ifacebox-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.network-status-table .ifacebox-body > span {
    flex: 10 10 auto;
}

.network-status-table .ifacebox-body > div {
    display: flex;
    flex-wrap: wrap;
}

.network-status-table .ifacebox-body .ifacebadge {
    flex: 1 1 auto;
    margin: .5em .25em 0 .25em;
    padding: .5em;
    min-width: 220px;
    background-color: #fff;
    align-items: center;
}

/*textarea*/

.cbi-input-textarea {
    width: 100%;
    min-height: 14rem;
    padding: 0.8rem;
    font-size: 0.8rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}

#content_syslog {
    margin: 1rem 0
}

#syslog {
    width: 100%;
    min-height: 15rem;
    padding: 1rem;
    font-size: small;
    color: #5F5F5F;
    border-radius: 5px;
    resize: none;
    margin-bottom: 20px;
    background-color: #FFF;
    border: none;
}

/* change */

.uci-change-list {
    font-family: monospace;
}

.uci-change-list ins,
.uci-change-legend-label ins {
    text-decoration: none;
    border: 1px solid #00FF00;
    background-color: #CCFFCC;
    display: block;
    padding: 2px;
}

.uci-change-list del,
.uci-change-legend-label del {
    text-decoration: none;
    border: 1px solid #FF0000;
    background-color: #FFCCCC;
    display: block;
    font-style: normal;
    padding: 2px;
}

.uci-change-list var,
.uci-change-legend-label var {
    text-decoration: none;
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    display: block;
    font-style: normal;
    padding: 2px;
}

.uci-change-list var ins,
.uci-change-list var del {
    border: none;
    white-space: pre;
    font-style: normal;
    padding: 0px;
}

.uci-change-legend {
    padding: 5px;
}

.uci-change-legend-label {
    width: 150px;
    float: left;
}

.uci-change-legend-label > ins,
.uci-change-legend-label > del,
.uci-change-legend-label > var {
    float: left;
    margin-right: 4px;
    width: 10px;
    height: 10px;
    display: block;
}

.uci-change-legend-label var ins,
.uci-change-legend-label var del {
    line-height: 6px;
    border: none;
}

.uci-change-list var,
.uci-change-list del,
.uci-change-list ins {
    padding: 0.5rem;
}

/* other fix */
#iwsvg,
#iwsvg2,
#bwsvg {
    border: 1px solid #D4D4D4 !important;
    border-top: none !important;
    margin-top: 1rem;
    border-radius: 5px;
}

.ifacebox {
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    display: inline-flex;
    flex-direction: column;
    line-height: 1.2em;
    min-width: 100px;
}

.ifacebox-head {
    padding: .25em;
    background: #eee;
}

.ifacebox-head.active {
    background: #90c0e0;
}

.ifacebox-body {
    padding: .25em;
}

.cbi-image-button {
    margin-left: 0.5rem;
}

.zonebadge {
    padding: 0.2rem 0.5rem;
    display: inline-block;
}

.zonebadge .ifacebadge {
    padding: .2rem .3rem;
    margin: 0.1rem 0.2rem;
    border: 1px solid #6C6C6C;
}

.zonebadge > input[type="text"] {
    padding: 0.16rem 1rem;
    min-width: 10rem;
    margin-top: 0.3rem;
}

.zonebadge > em,
.zonebadge > strong {
    margin: 0 0.2rem;
    display: inline-block;
}

.cbi-value-field .cbi-input-checkbox,
.cbi-value-field .cbi-input-radio {
    margin-top: 0.5rem;
    height: 1rem;
}

.td .cbi-input-checkbox,
.td .cbi-input-radio {
    margin-top: 0;
}

.cbi-value-field > input + .cbi-value-description {
    padding: 0;
}

.cbi-value-field > ul > li {
    display: flex;
}

.cbi-value-field > ul > li > label {
    margin-top: 0.5rem;
}

.cbi-value-field > ul > li .ifacebadge {
    background-color: #eee;
    margin-left: 0.4rem;
    margin-top: -0.5rem;
}

.cbi-section-table-row > .cbi-value-field .cbi-dropdown {
    min-width: 7rem;
}

.cbi-section-create {
    margin: .5rem -3px;
    display: inline-flex;
    align-items: center;
}

.cbi-section-create > * {
    margin: 0.5rem;
}

.cbi-section-remove {
    padding: 0.5rem;
}

div.cbi-value var, td.cbi-value-field var, .td.cbi-value-field var {
    font-style: italic;
    color: #0069D6;
}

small {
    font-size: 90%;
    white-space: normal;
    line-height: 1.42857143;
}

.cbi-button-up,
.cbi-button-down {
    display: inline-block;
    min-width: 0;
    padding: 0.2rem 0.3rem;
    font-size: 1.2rem;
}

.cbi-optionals {
    padding: 1rem 1rem 0 1rem;
    border-top: 1px solid #CCC;
}

.cbi-dropdown-container {
    position: relative;
}

.cbi-tooltip-container {
    cursor: help;
}

.cbi-tooltip {
    position: absolute;
    z-index: 1000;
    left: -1000px;
    opacity: 0;
    transition: opacity .25s ease-out;
    pointer-events: none;
}

.cbi-tooltip-container:hover .cbi-tooltip {
    left: auto;
    opacity: 1;
    transition: opacity .25s ease-in;
}

.zonebadge .cbi-tooltip {
    padding: .25rem;
    background: inherit;
    margin: -1.5rem 0 0 -.5rem;
}

.zonebadge-empty {
    background: repeating-linear-gradient(45deg,rgba(204,204,204,0.5),rgba(204,204,204,0.5) 5px,rgba(255,255,255,0.5) 5px,rgba(255,255,255,0.5) 10px);
    color: #404040;
}

.zone-forwards {
    display: flex;
    min-width: 10rem;
}

.zone-forwards > * {
    flex: 1 1 45%;
}

.zone-forwards > span {
    flex-basis: 10%;
    text-align: center;
    padding: 0 .25rem;
}

.zone-forwards .zone-src,
.zone-forwards .zone-dest {
    display: flex;
    flex-direction: column;
}

#diag-rc-output > pre {
    background-color: #f5f5f5;
    display: block;
    padding: 8.5px;
    margin: 0 0 18px;
    line-height: 1.5rem;
    -moz-border-radius: 3px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.4rem;
    color: #404040;
}

input[name="ping"],
input[name="traceroute"],
input[name="nslookup"] {
    width: 80%;
}

header .pull-right > * {
    position: relative;
    top: 0.45rem;
    cursor: pointer;
}

.refresh {
    position: absolute;
    top: 8%;
    left: 0;
    text-align: left;;
}

#xhr_poll_status > .label.success {
    background-color: #14CE14;
}

.label {
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #ffffff !important;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #bfbfbf;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    text-shadow: none;
    text-decoration: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notice {
    background-color: #5BC0DE;
    margin-bottom: 16px;
    display: block;
}

#cbi_apply_overlay .alert-message.notice {
	background-color: #556270;
	color: #fff;
	border-radius: 5px;
}

.showSide {
    display: none;
}

.darkMask {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.56);
    content: "";
    z-index: 99;
    display: none;
}

/* fix Main Login*/
.node-main-login form{
    width: 35%;
    height: 130%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
    border-radius: 5px;
}
.node-main-login form .cbi-section {
    padding: 0;
    line-height: normal;
    width: 100%;
}

.node-main-login > .main .cbi-value-title {
    padding: 0;
    position: absolute;
    top: -4px;
    background: #fff;
    font-size: 14px;
    left: 12%;
    width: auto;
}

.node-main-login > .main .cbi-value-field {
    width: 100%;
    max-width: 330px;
}

.node-main-login > .main .cbi-value-field input {
    padding-left: 8px;
    width: 100%;
    height: 40px;
    border: 1px solid #9D9D9D;
    border-radius: 5px;
}

.node-main-login > .main #maincontent {
    height: 100%;
    text-align: center;
    position: relative;
}

.node-main-login > .main .container {
    width: 80%;
    height: 50%;
    display: inline-block;
    background-color: #34414A;
    position: absolute;
    right: 50%;
    top: 18%;
    transform: translateX(50%);
    border-radius: 5px;
}

.node-main-login > .main .alert-message.warning {
    padding: 0px 10%;
    margin: 0;
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
}

.node-main-login > .main form .alert-message.warning {
    right: -120%;
    padding: 0 0%;
    width: 100%;
}

.node-main-login > .main .alert-message > h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.node-main-login > .main .alert-message > p {
    line-height: 1.5rem;
}

.node-main-login > .main .alert-message a {
    font-size: 16px;
    padding: 8px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-transform: none;
}

.node-main-login > .main .cbi-value {
    display: block;
    position: relative;
    max-width: 330px;
    margin: 6% auto;
}

.node-main-login > .main .cbi-value > * {
    display: inline-block !important;
}
.node-main-login > .main .cbi-page-actions input {
    margin: 0 auto 6%;
    display: block;
    width: 90%;
    max-width: 300px;
    height: 40px;
}
.node-main-login footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    right: 0;
}

/* fix status overview */

.node-status-overview > .main fieldset:nth-child(4) .td:nth-child(2) {
    white-space: normal;
}

/* fix status firewall */
.lang_enFirewall .cbi-tabmenu {
    border: none;
    margin-top: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.lang_enFirewall .cbi-tabmenu .cbi-tab,
.lang_enFirewall .cbi-tabmenu > li:hover,
.node-network-network .cbi-section .cbi-tabmenu,
.node-network-network .cbi-section .cbi-tabmenu .cbi-tab,
.node-network-network .cbi-section .cbi-tabmenu .cbi-tab-disabled:hover {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.lang_enFirewall.logged-in .cbi-section {
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* fix status processes */

.node-status-processes > .main .table .tr .td:nth-child(3) {
    white-space: normal;
}

.node-status-iptables > .main div > .cbi-map > form {
    margin: 2rem 2rem 0 0;
}

/* fix system system and fix Network DHCP*/
.node-system-system .cbi-tabmenu,
.node-system-system .cbi-tabmenu > li[class~="cbi-tab"],
.node-system-system .cbi-tabmenu > li:hover,
.node-network-dhcp .cbi-tabmenu,
.node-network-dhcp .cbi-tabmenu > li[class~="cbi-tab"],
.node-network-dhcp .cbi-tabmenu > li:hover {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* fix system reboot */
.node-system-reboot > .main > .main-right p,
.node-system-reboot > .main > .main-right h3 {
    padding-left: 2rem;
}

/* fix Services  Network Shares*/
.node-services-samba > .main .cbi-tabcontainer:nth-child(3) .cbi-value-title {
    margin-bottom: 1rem;
    width: auto;
}

.node-services-samba > .main .cbi-tabcontainer:nth-child(3) .cbi-value-field {
    display: list-item;
}

.node-services-samba > .main .cbi-tabcontainer:nth-child(3) .cbi-value-description {
    padding-top: 1rem;
}

/* fix System Software*/
.node-system-packages > .main table tr td:nth-child(1) {
    width: auto !important;
}

.node-system-packages > .main table tr td:nth-last-child(1) {
    white-space: normal;
    font-size: small;
    color: #404040;
}

.node-system-packages > .main .cbi-tabmenu > li > a, .tabs > li > a {
    padding: 0.5rem 0.8rem;
}

.node-system-packages > .main .cbi-value > pre {
    background-color: #eee;
    padding: 0.5rem;
    overflow: auto;
}

.node-status-iptables fieldset,
.node-system-packages fieldset,
.node-system-flashops fieldset {
    margin-top: 0;
}

.node-status-iptables .cbi-tabmenu,
.node-system-packages .cbi-tabmenu,
.node-system-flashops .cbi-tabmenu {
    border: none;
}

.node-system-flashops form.inline + form.inline {
    margin-left: 0;
}

#cbi-firewall-redirect table *,
#cbi-network-switch_vlan table *,
#cbi-firewall-zone table * {
    font-size: small;
}

#cbi-firewall-redirect table input[type="text"],
#cbi-network-switch_vlan table input[type="text"],
#cbi-firewall-zone table input[type="text"] {
    width: 5rem;
}

#cbi-firewall-redirect table select,
#cbi-network-switch_vlan table select,
#cbi-firewall-zone table select {
    min-width: 3.5rem;
}

#cbi-network-switch_vlan .th,
#cbi-network-switch_vlan .td {
    flex-basis: 12%;
}

/* language fix */
body.lang_pl.node-main-login .cbi-value-title {
    width: 12rem;
}

/* applyreboot fix */

#applyreboot-container {
	margin: 2rem;
}
header .fill .container p.brand {
	font-size: 40px;
}
#applyreboot-section {
	margin: 2rem;
	line-height: 300%;
}
#maincontent.container {
	position: absolute;
	z-index: 99999;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	color: #fff;
}
#maincontent.container h2 {
	color: #fff;
	background: transparent;
}
#maincontent.container #applyreboot-section {
	background: transparent;
	border: 1px solid #ffffff78;
}

@media screen and (max-width: 1420px){
    .main > .main-left > .nav > .slide > .menu {
        padding-left: .5rem;
        font-size: 14px;
    }
    .main > .main-left > .nav > .slide > .slide-menu > li {
        padding-left: 1rem;
        font-size: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .node-main-login > .main #maincontent {
        position: static;
    }
    .node-main-login .main {
        max-width: 384px;
        margin: 0 auto;
    }
    .node-main-login .main-left {
        float: none;
        position: static;
        height: 14%;
        width: 100%;
    }
    .node-main-login .main-left header,
    .node-main-login {
        background-color: #fff;
    }
    .node-main-login .main-left header .brand {
        font-size: 36px;
    }
    .main-left header::before,
    .logged-in header .refresh::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    .main-left header .brand {
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
    .node-main-login .main-right {
        padding: 0;
        width: 100%;
        float: none;
        background-color: #fff;
        height: auto;
    }
    .node-main-login > .main .container {
        background-color: #fff;
        width: 100%;
        height: 100%;
        position: static;
        transform: none;
        display: block;
    }
    .node-main-login > .main .alert-message.warning {
        position: static;
        color: #34414a;
        width: 100%;
        padding: 0;
        transform: none;
        text-align: center;
        font-size: 14px;
    }
    .node-main-login > .main .alert-message a {
        background-color: #6E99C9;
        display: block;
    }
    .node-main-login form {
        width: 100%;
        height: auto;
        position: static;
        transform: none;
    }
    .node-main-login > .main .cbi-value {
        width: 100%;
        margin: 8% 0;
        padding: 0;
        max-width: 100%;
    }
    .node-main-login > .main .cbi-value-field {
        max-width: 100%;
    }
    .node-main-login > .main .cbi-value-title {
        top: -8px;
        left: 4%;
    }
    .node-main-login > .main .cbi-page-actions input {
        width: 100%;
        max-width: none;
    }

    .logged-in .main-left {
        height: 64px;
        top: 0;
        width: 100%;
        z-index: 999;
    }
    .logged-in header {
        padding: 0 0 0 1rem;
        text-align: left;
        background: #fff;
    }
    .logged-in header .showSide {
        display: inline-block;
        height: 50px;
        width: 50px;
        background: url(./menu-logo.png) no-repeat center center / cover;
    }
    header .brand {
        color: #34414A;
    }
    .logged-in header .refresh {
        text-align: right;
        top: 50%;
        right: 2%;
        transform: translateY(-50%);
        left: auto;
    }
    .logged-in header .refresh > span,
    .logged-in header .refresh > a {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        border-radius: 5px;
    }
    #xhr_poll_status > .label.success {
        border-radius: 5px;
    }
    .logged-in .main-left .nav {
        padding: 0;
        right: 0;
        top: 100%;
        width: 100%;
        height: 0;
        border-radius: 0;
        overflow: hidden;
        background-color: #556270;
    }
    .main > .main-left > .nav > li a {
        color: #fff;
        font-size: 18px;
    }
    .main > .main-left > .nav > .slide > ul {
        display: block;
    }
    .main > .main-left > .nav > .slide {
        position: absolute;
        text-align: center;
        top: 30%;
    }
    .main > .main-left > .nav > .slide > .menu {
        padding: 0;
        pointer-events: none;
        color: #ffffff7d;
    }
    .main > .main-left > .nav > .slide > .slide-menu > li {
        padding: .5rem 0;
    }
    .main > .main-left > .nav > .slide > .menu:hover {
        background: transparent;
    }

    .logged-in .main-right {
        padding: 0 1% 0 1%;
        height: 100%;
        width: 100%;
        float: none;
        margin-top: 88px;
    }
}

@media screen and (max-width: 992px) {
    .main-left {
        width: 0;
        position: fixed;
        z-index: 100;
    }

    .main-right {
        width: 100%;
    }

    .cbi-value-title {
        width: 9rem;
        padding-right: 1rem;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div * {
        width: 100% !important;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div input[type="text"] {
        margin: 3rem 0 0 0 !important;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div:nth-child(4) input[type="text"] {
        margin: 0 !important;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div select,
    .node-network-diagnostics > .main .cbi-map fieldset > div input[type="button"] {
        margin: 1rem 0 0 0;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div {
        width: 100% !important;
    }
    #diag-rc-output > pre {
        font-size: 1rem;
    }
    .tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .th, .td {
        flex: 2 2 25%;
        align-self: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        display: inline-block;
    }

    .td select,
    .td input[type="text"] {
        word-wrap: normal;
        width: 100%;
    }

    .td [data-dynlist] > input,
    .td input.cbi-input-password {
        width: calc(100% - 1.5rem);
    }

    .td[data-type="button"],
    .td[data-type="fvalue"] {
        flex: 1 1 12.5%;
        text-align: left;
    }
    .th.cbi-value-field,
    .td.cbi-value-field,
    .th.cbi-section-table-cell,
    .td.cbi-section-table-cell {
        flex-basis: auto;
    }

    .cbi-section-table-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .td.cbi-value-field,
    .cbi-section-table-cell {
        text-align: center;
        display: inline-block;
        flex: 10 10 auto;
    }

    .td.cbi-section-actions {
        text-align: right;
        align-self: flex-end;
        vertical-align: bottom;
    }

    .tr.table-titles,
    .tr.cbi-section-table-titles,
    .tr.cbi-section-table-descr {
        display: none;
    }

    .tr[data-title]::before,
    .tr.cbi-section-table-titles.named::before {
        display: block;
        flex: 1 1 100%;
        background: #eef;
        font-size: .9rem;
        border-bottom: 1px solid rgba(0, 0, 0, .26);
    }

    .td[data-title] {
        text-align: left;
    }

    .td[data-title]::before {
        display: block;
    }

    .hide-sm,
    .hide-xs {
        display: none;
    }
}

@media screen and (max-width: 880px) {
    .main {
        overflow: visible;
    }
    .main > .main-left > .nav > .slide {
        margin-bottom: 1.5rem;
        display: block;
        position: static;
        text-align: left;
    }
    .main > .main-left > .nav > .slide > .menu {
        font-size: 26px;
        padding-left: 1rem;
        pointer-events: auto;
    }
    .main > .main-left > .nav > .slide > ul {
        display: none;
    }
    .main > .main-left > .nav > .slide > .slide-menu > li > a {
        padding-left: 2rem;
    }
    .main > .main-left > .nav > .slide > .active{
        background-color: transparent !important;
    }
    .main > .main-left > .nav > .slide > .slide-menu > .active {
        background-color: #617080;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 1rem;
    }

    .main > .main-left > .nav > .slide > .menu {
        font-size: 1.3rem;
    }

    .main > .main-left > .nav > .slide > .slide-menu > li > a {
        font-size: 1.1rem;
    }

    .cbi-value > .cbi-value-field {
        display: inline-block;
    }

    .cbi-tabmenu > li, .tabs > li {
        padding: 0.6rem 0rem;
    }

    .cbi-tabmenu > li > a, .tabs > li > a {
        padding: 0.2rem 0.3rem;
        font-size: 0.9rem;
    }

    .cbi-page-actions > div > input {
        display: none;
    }

    .node-main-login > .main .container {
        padding: 0.5rem 1rem 2rem 1rem;
    }

    .node-main-login > .main .cbi-value {
        padding: 0;
    }

    .node-main-login > .main form > div:nth-last-child(1) {
        margin-top: 2rem;
    }

    .node-main-login > .main .cbi-value-title {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
    .node-main-login form h2,
    .node-main-login form .cbi-map-descr {
        display: none;
    }

    .tabs > li > a {
        font-size: 0.9rem;
    }

    select,
    input {
        font-size: 0.9rem;
    }

    .mobile-hide {
        display: none;
    }

    .panel-title {
        font-size: 1rem;
        padding-bottom: .5rem;
    }

    .node-system-packages > .main .cbi-value.cbi-value-last > div {
        width: 100% !important;
    }

    .node-system-packages > .main .cbi-value .cbi-value-field input {
        width: 100%;
    }

    .node-status-iptables > .main div > .cbi-map > form {
        position: static !important;
        margin: 0 0 2rem 0;
        padding: 2rem;
        border: 0;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        font-family: inherit;
        min-width: inherit;
        border-radius: 0;
        background-color: #FFF;
        -webkit-overflow-scrolling: touch;
    }

    .node-status-iptables > .main div > .cbi-map > form input[type="submit"] {
        width: 100% !important;
        margin: 0;
    }

    .node-status-iptables > .main div > .cbi-map > form input[type="submit"] + input[type="submit"] {
        margin-top: 1rem;
    }

    .th, .td {
        flex-basis: 50%;
    }

    .td.cbi-value-field {
        flex-basis: 100%;
    }

    .td.cbi-value-field[data-type="dvalue"] {
        flex-basis: 50%;
    }

    .td.cbi-value-field[data-type="button"],
    .td.cbi-value-field[data-type="fvalue"] {
        flex-basis: 25%;
        text-align: left;
    }

    .tr[data-title]::before,
    .tr.cbi-section-table-titles.named::before {
        font-size: 1rem;
    }

    .hide-xs {
        display: none;
    }

    .logged-in .main-left {
        height: 33px;
    }
    .logged-in header {
        padding: 0 0 0 3px;
    }
    .main-left header .brand {
        font-size: 18px;
    }
    .logged-in header .showSide {
        height: 25px;
        width: 25px;
    }
    .logged-in .main-right {
        margin-top: 44px;
        padding-bottom: 1rem;
    }
    .cbi-value {
        padding: 0.3rem 1rem 0.3rem 0;
    }
    .logged-in .cbi-value-title  {
        font-size: 10px;
    }
    .cbi-section > h3:first-child, .panel-title {
        font-size: 1rem;
    }
    .td[data-title]::before {
        font-size: 6px;
    }
    .logged-in .cbi-section-error li {
        font-size: 10px;
    }
    .node-main-login > .main .cbi-value-title {
        top: -13px;
    }
}

@media screen and (min-width: 992px) {
    .cbi-value-field .cbi-dropdown {
        min-width: 20rem;
    }
}

*:focus {
    outline: 0;
}
