config MT_AP_SUPPORT
	tristate "UnifyMAC 802.11n AP support"
#	depends on NET_RADIO 
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

config MT_WDS_SUPPORT
	bool "WDS"
	depends on MT_AP_SUPPORT

config MT_MBSS_SUPPORT
	bool "MBSSID"
	depends on MT_AP_SUPPORT

config MT_NEW_MBSSID_MODE
	bool "New MBSSID MODE"
	depends on MT_AP_SUPPORT && MT_MBSS_SUPPORT
	depends on RALINK_RT3883 || RALINK_RT3352 || RALINK_RT5350 || RALINK_RT6352 || RALINK_MT7620
	default n

config MT_ENHANCE_NEW_MBSSID_MODE
    bool "Enhanced MBSSID mode"
    depends on MT_NEW_MBSSID_MODE
    default n

config MT_APCLI_SUPPORT
	bool "AP-Client Support"
	depends on MT_AP_SUPPORT
	default y

config ROAMING_ENHANCE_SUPPORT
	bool "Roaming Enhance Support"
	depends on MT_AP_SUPPORT
	depends on APCLI_SUPPORT
	default n

config MT_MULTI_APCLI_SUPPORT
	bool "MULTI AP-Client Support"
	depends on MT_APCLI_SUPPORT

config MT_MAC_REPEATER_SUPPORT
	bool "MAC Repeater Support"
	depends on MT_AP_SUPPORT
	depends on MT_APCLI_SUPPORT
	depends on RALINK_RT6352 || RALINK_MT7620 || RALINK_MT7603E
	default y

config MT_AIRPLAY_SUPPORT
	bool "AirPlay Support"
	depends on MT_APCLI_SUPPORT

#config MT_MESH_SUPPORT
#	bool "MESH Support"
#	depends on MT_AP_SUPPORT

config MT_DFS_SUPPORT
	bool "DFS"
	depends on MT_AP_SUPPORT
	select RALINK_TIMER_DFS

config MT_DOT11R_FT_SUPPORT
	bool "802.11r Fast BSS Transition"
	depends on MT_AP_SUPPORT

config MT_DOT11K_RRM_SUPPORT
	bool "802.11k Radio Resource Management"
	depends on MT_AP_SUPPORT
	default n
	
config MT7603E_INTERWORKING
	bool "802.11u Interworking/Gas Support"
        depends on MT_AP_SUPPORT
        default n
config MT7603E_MAP_SUPPORT
	bool "Multi-AP Support"
	depends on MT_AP_SUPPORT
	#select MBO_SUPPORT
	default n
	
config MT_LLTD_SUPPORT
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on MT_AP_SUPPORT
	default y

config MT_NINTENDO_AP
	bool "Nintendo AP"
	depends on MT_AP_SUPPORT

config MT_COC_SUPPORT
	bool "CoC Support"
	depends on MT_AP_SUPPORT
	default n

#config  RT2860V2_SNMP
#	bool "Net-SNMP Support"
#	depends on RLT_AP_SUPPORT

config MT_MCAST_RATE_SPECIFIC
	bool "User specific tx rate of mcast pkt"
	depends on MT_AP_SUPPORT

config MT_PREVENT_ARP_SPOOFING_SUPPORT
	bool "Detect ARP spoof pkts attack"
	depends on MT_AP_SUPPORT

#config MT_EXT_BUILD_CHANNEL_LIST
#	bool "Extension Channel List"
#	depends on MT_AP_SUPPORT

#config MT_AUTO_CH_SELECT_ENHANCE
#	bool "Auto Channel Selection Enhancement"
#	depends on MT_AP_SUPPORT


