config MT7603E_RLT_AP_SUPPORT
	tristate "MT7603 802.11n AP support"
#	depends on NET_RADIO 
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

#config RLT_AP_SUPPORT
#	bool "7603"
#	depends on MT7603E_RLT_AP_SUPPORT
#	default y
config MT7603E_WDS_SUPPORT
	bool "WDS"
	depends on MT7603E_RLT_AP_SUPPORT

config MT7603E_MBSS_SUPPORT
	bool "MBSSID"
	depends on MT7603E_RLT_AP_SUPPORT

config MT7603E_SNIFFER_SUPPORT
	bool "SNIFFER"
	depends on MT7603E_RLT_AP_SUPPORT
	default n
config MT7603E_CFG80211_SUPPORT
	bool "CFG80211"
	depends on MT7603E_RLT_AP_SUPPORT
	default n

config MT7603E_SNIFFER_MIB_CMD
	bool "SNIFFER_MIB_CMD"
	depends on MT7603E_SNIFFER_SUPPORT
	default n

config MT7603E_ALL_NET_EVENT
	bool "ALL_NET_EVENT"
	depends on MT7603E_RLT_AP_SUPPORT
	default n

config MT7603E_ACL_V2_SUPPORT
	bool "ACL_V2"
	depends on MT7603E_RLT_AP_SUPPORT
	
config MT7603E_NEW_MBSSID_MODE
	bool "New MBSSID MODE"
	depends on MT7603E_RLT_AP_SUPPORT && MT7603E_MBSS_SUPPORT
	depends on RALINK_RT3883 || RALINK_RT3352 || RALINK_RT5350 || MT7603E_RALINK_RT6352 || RALINK_MT7620
	default n

config MT7603E_ENHANCE_NEW_MBSSID_MODE
    bool "Enhanced MBSSID mode"
    depends on MT7603E_NEW_MBSSID_MODE
    default n

config MT7603E_APCLI_SUPPORT
	bool "AP-Client Support"
	depends on MT7603E_RLT_AP_SUPPORT
	default y
	
config ROAMING_ENHANCE_SUPPORT
	bool "Roaming Enhance Support"
	depends on MT7603E_RLT_AP_SUPPORT
	depends on APCLI_SUPPORT
	default n

config MT7603E_MULTI_APCLI_SUPPORT
	bool "MULTI AP-Client Support"
	depends on MT7603E_APCLI_SUPPORT

config MT7603E_MAC_REPEATER_SUPPORT
	bool "MAC Repeater Support"
	depends on MT7603E_RLT_AP_SUPPORT
	depends on MT7603E_APCLI_SUPPORT
	depends on MT7603E_RALINK_RT6352 || RALINK_MT7620 || MT7603E_RALINK_MT7603E || MT7603E_RALINK_MT7603U
	default y

config MT7603E_AIRPLAY_SUPPORT
	bool "AirPlay Support"
	depends on MT7603E_APCLI_SUPPORT

#config MT7603E_MESH_SUPPORT
#	bool "MESH Support"
#	depends on MT7603E_RLT_AP_SUPPORT

config MT7603E_DFS_SUPPORT
	bool "DFS"
	depends on MT7603E_RLT_AP_SUPPORT
	select RALINK_TIMER_DFS

config MT7603E_DOT11R_FT_SUPPORT
	bool "802.11r Fast BSS Transition"
	depends on MT7603E_RLT_AP_SUPPORT

config MT7603E_DOT11K_RRM_SUPPORT
	bool "802.11k Radio Resource Management"
	depends on MT7603E_RLT_AP_SUPPORT
	default n

config MT7603E_WNM_SUPPORT
	bool "802.11v Wireless Network Management Support"
	depends on MT7603E_RLT_AP_SUPPORT
	default n

config MT7603E_INTERWORKING
	bool "802.11u Interworking/Gas Support"
        depends on MT_AP_SUPPORT
        default n

config MT7603E_MAP_SUPPORT
	bool "Multi-AP Support"
	depends on MT_AP_SUPPORT
	#select MBO_SUPPORT
	default n

config MT7603E_BAND_STEERING_7603
	bool "Band Steering"
	depends on MT7603E_RLT_AP_SUPPORT
	default n

config MT7603E_LLTD_SUPPORT
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on MT7603E_RLT_AP_SUPPORT
	default y

config MT7603E_NINTENDO_AP
	bool "Nintendo AP"
	depends on MT7603E_RLT_AP_SUPPORT

config MT7603E_COC_SUPPORT
	bool "CoC Support"
	depends on MT7603E_RLT_AP_SUPPORT
	default n

#config  MT7603E_RT2860V2_SNMP
#	bool "Net-SNMP Support"
#	depends on MT7603E_RLT_AP_SUPPORT

config MT7603E_MCAST_RATE_SPECIFIC
	bool "User specific tx rate of mcast pkt"
	depends on MT7603E_RLT_AP_SUPPORT

config MT7603E_PREVENT_ARP_SPOOFING_SUPPORT
	bool "Detect ARP spoof pkts attack"
	depends on MT7603E_RLT_AP_SUPPORT

#config MT7603E_EXT_BUILD_CHANNEL_LIST
#	bool "Extension Channel List"
#	depends on MT7603E_RLT_AP_SUPPORT

#config MT7603E_AUTO_CH_SELECT_ENHANCE
#	bool "Auto Channel Selection Enhancement"
#	depends on MT7603E_RLT_AP_SUPPORT

config MT7603E_SECURITY_IMPROVEMENT_SUPPORT
	bool "WPA2 security improvement support"
	depends on MT7603E_RLT_AP_SUPPORT
	default n
	---help---
	  WPA2 security improvement support


config MT7603E_WPA3_SUPPORT
	bool "WPA3 support"
	select MT7603E_DOT11W_PMF_SUPPORT
	select MT7603E_SECURITY_IMPROVEMENT_SUPPORT
	depends on MT7603E_RLT_AP_SUPPORT
	default n
	---help---
	  WPA3 support

config MT7603E_OWE_SUPPORT
	bool "Enhanced Open/OWE support"
	select MT7603E_DOT11W_PMF_SUPPORT
	depends on MT7603E_RLT_AP_SUPPORT
	default n
	---help---
	  Enhanced Open/OWE support

config MT7603E_NEW_BW2040_COEXIST_SUPPORT
	bool "New BW20/40 Coexist support"
	depends on MT7603E_RLT_AP_SUPPORT
	default y
	---help---
	  Both Beacon and Radio fallback to BW20 for anti-interference
