<% if not self.embedded then %>
<form method="post" enctype="multipart/form-data" action="<%=REQUEST_URI%>"<%=
			attr("data-strings", luci.util.serialize_json({
				label = {
					choose = translate('-- Please choose --'),
					custom = translate('-- custom --'),
				},
				path = {
					resource = resource,
					browser  = url("admin/filebrowser")
				}
			}))
		%>>
			<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
			<input type="hidden" name="token" value="<%=token%>" />
			<input type="hidden" name="cbi.submit" value="1" /><%
	end

	%><div class="cbi-map" id="cbi-<%=self.config%>"><%

	if self.title and #self.title > 0 then
		%><h2 name="content"><%=self.title%></h2><%
	end

	if self.description and #self.description > 0 then
		%><div class="cbi-map-descr"><%=self.description%></div><%
	end

	self:render_children()

	%></div><%

	if self.message then
		%><div class="alert-message notice"><%=self.message%></div><%
	end

	if self.errmessage then
		%><div class="alert-message warning"><%=self.errmessage%></div><%
	end

	if not self.embedded then
		if type(self.hidden) == "table" then
			local k, v
			for k, v in pairs(self.hidden) do
				%><input type="hidden" id="<%=k%>" name="<%=k%>" value="<%=pcdata(v)%>" /><%
			end
		end

		local display_back   = (self.redirect)
		local display_cancel = (self.cancel ~= false and self.on_cancel)
		local display_skip   = (self.flow and self.flow.skip)
		local display_submit = (self.submit ~= false)
		local display_reset  = (self.reset ~= false)

		if display_back or display_cancel or display_skip or display_submit or display_reset then
			%><div class="cbi-page-actions"><%

			if display_back then
				%><input class="cbi-button cbi-button-link" type="button" value="<%:Back to Overview%>" onclick="location.href='<%=pcdata(self.redirect)%>'" /> <%
			end

			if display_cancel then
				local label = pcdata(self.cancel or translate("Cancel"))
				%><input class="cbi-button cbi-button-link" type="button" value="<%=label%>" onclick="cbi_submit(this, 'cbi.cancel')" /> <%
			end

			if display_skip then
				%><input class="cbi-button cbi-button-neutral" type="button" value="<%:Skip%>" onclick="cbi_submit(this, 'cbi.skip')" /> <%
			end

			if display_submit then
				local label = pcdata(self.submit or translate("Submit"))
				%><input class="cbi-button cbi-button-save" type="submit" value="<%=label%>" /> <%
			end

			if display_reset then
				local label = pcdata(self.reset or translate("Reset"))
				%><input class="cbi-button cbi-button-reset" type="reset" value="<%=label%>" /> <%
			end

			%></div><%
		end

		%></form><%
	end
%>

<script type="text/javascript">cbi_init();</script>
