<%+cbi/valueheader%>
<span class="pingtime" hint="<%=self:cfgvalue(section)%>">-- ms</span>
<%+cbi/valuefooter%>

</fieldset>
<!-- /tblsection --><script type="text/javascript">
	//<![CDATA[
	var pings = document.getElementsByClassName('pingtime');
	for(var i = 0; i < pings.length; i++) {
		XHR.get('/cgi-bin/luci/admin/services/shadowsocksr/ping', {
				index: i,
				domain: pings[i].getAttribute("hint")
			},
			function(x, result) {
				pings[result.index].innerHTML = (result.ping ? "<b><font color=green>"+result.ping+"</font></b> ms" : "<b><font color=red> 检测失败 </font></b>");
			}
		);
		XHR.poll(10,'/cgi-bin/luci/admin/services/shadowsocksr/ping',{
				index: i,
				domain: pings[i].getAttribute("hint")
			},
			function(x, result) {
				pings[result.index].innerHTML = (result.ping ? "<b><font color=green>"+result.ping+"</font></b> ms" : "<b><font color=red> 检测失败 </font></b>");
			}
		);
	}
	//]]>
</script>
