
config django 'global'
	option static_url 'static/'
	option debug 'false'

config django 'allowed_hosts'
	list uci_allow_all_ips_of 'loopback'
	list uci_allow_all_ips_of 'lan'
#	list allowed_host "example.com"

config django 'database'
	option engine 'django.db.backends.sqlite3'
	option name 'db.sqlite3'
