
config global
	option global_server 'nil'
	option monitor_enable '1'
	option tunnel_enable '0'
	option tunnel_port '5300'
	option tunnel_forward '8.8.4.4:53'
        option tunnel_address '0.0.0.0'
	option pdnsd_enable '0'
	option run_mode 'router'
		
config servers
	option auth_enable '0'
	option fast_open '0'
	option server '127.0.0.1'
	option server_port '8388'
	option local_port '1234'
	option password 'hello!!'
	option timeout '60'
	option encrypt_method 'rc4-md5'
	option protocol 'origin'
	option obfs 'plain'
	option obfs_param ''
	option kcp_enable '0'
	option kcp_port '4000'
	option kcp_password ''
	option kcp_param '--nocomp'

config socks5_proxy
	option server 'nil'
	option local_port '1080'
	option local_address '0.0.0.0'

config access_control
	option lan_ac_mode '0'
	option router_proxy '1'
	option wan_bp_list '/etc/china_ssr.txt'

config server_global
	option enable_server '0'	

config server_config
	option server '0.0.0.0'
	option server_port '8388'
	option password 'hello!!'
	option timeout '60'
	option encrypt_method 'rc4-md5'
	option protocol 'origin'
	option obfs 'plain'
	option obfs_param ''	
	option fast_open '0'
	option enable '1'

config	server_subscribe
	option auto_update '0'

config udp2raw
	option server '127.0.0.1'
	option server_port '600'
	option local_port '400'
	option key 'passwd'
	option raw_mode 'faketcp'
	option seq_mode '3'
	option cipher_mode 'xor'
	option auth_mode 'simple'

config udpspeeder
	option server '127.0.0.1'
	option server_port '400'
	option local_port '500'
	option key 'passwd'
	option speeder_mode '0'
	option fec '2:4'
	option mtu '1250'
	option queue_len '1'
	option timeout '8'
