config ROTARY_GPIO_CUSTOM
	tristate "Custom GPIO-based rotary driver"
	depends on GENERIC_GPIO
	help
	  This is a driver to register 1 to 4 custom rotary encoder using
	  GPIO lines.

	  This support is also available as a module.  If so, the module
	  will be called rotary-gpio-custom.
