<%+cbi/valueheader%>
<div style="text-align: center; margin:0 auto; display:block; white-space: nowrap;">
	<label class="cbi-value" style="display:inline-block; width: 100%;" for="ulfile"><%:Upload File Type%>&nbsp;<%:(Click to select)%>&nbsp;&nbsp;&nbsp;
	<select name="file_type" style="width:auto">&nbsp;&nbsp;&nbsp;
		<option value="config" selected="selected"><%:Config File%> (.yaml)</option>
		<option value="proxy-provider"><%:Proxy Provider File%></option>
		<option value="rule-provider"><%:Rule Provider File%></option>
		<option value="clash">[Dev] <%:Core File%> (.tar.gz)</option>
		<option value="clash_tun">[TUN] <%:Core File%> (.gz)</option>
		<option value="clash_meta">[Meta] <%:Core File%> (.tar.gz)</option>
		<option value="backup-file"><%:Backup File%> (.tar.gz)</option>
	</select>
  <input class="cbi-input-file" style="width: 30%" type="file" id="ulfile" name="ulfile" />
	<input type="submit" class="btn cbi-button cbi-input-reload" name="upload" value="<%:Upload%>" />
	<input type="submit" class="btn cbi-button cbi-button-reset" value="<%:Backup%>" onclick="return backup_all_file(this)"/>
</div>
<%+cbi/valuefooter%>

<script type="text/javascript">//<![CDATA[

function backup_all_file(btn)
{
	btn.value    = '<%:Backup%>';
	btn.disabled = true;
	window.location.href='<%="backup"%>';
	btn.disabled = false;
	return false;
};

//]]></script>