<%+header%>
<% 
local sys = require "luci.sys" 
local utl = require "luci.util" 
local fs = require "nixio.fs"
local uci = require "luci.model.uci".cursor()
-%>

<script type="text/javascript" src="<%=resource%>/xhr.js"></script>
<script type="text/javascript">//<![CDATA[
	function sendcmd(event)
	{
		var device = document.getElementById("devlist").value;
		var command = document.getElementById("atcommand").value.replace(/\s/g, "").replace(/"/g, '\\"');
		var atresponse =document.getElementById("atresponse").value;
		if ( command.length == 0 )
		{
			document.getElementById("atresponse").value= '<%:请输入AT命令!%>\r' + r;
			return false;
		}
		XHR.get('<%=luci.dispatcher.build_url("admin", "modemtools", "send_atcmd")%>',
				{ command: command , device: device},
				function(x, res)
				{
					var pd = res.response;
					document.getElementById("atresponse").value=pd + '\r' + atresponse;
				}
			);
	}
	function sendclean(event)
	{
		document.getElementById("atresponse").value='';
	}
//]]></script>

<div class="cbi-map" id="cbi-misc">
<h2><a id="content" name="content"><%:AT命令工具%></a></h2>
<head>
    <style>
    input {
        vertical-align: bottom;
    }
 	textarea{
		background:#373737;
		border:none;
		color:#FFF;
	}
    </style>
</head>

<fieldset class="cbi-section" id="cbi-term">
	<table border="0">
    <tr>
		<td width="10%"><div align="right"><%:模块端口 : %></div></td>
		<td width="15%">
			<select style="width:200px" name="usbdevlist" id="devlist">
				<option value="/dev/ttyUSB0">ttyUSB0</option>
				<option value="/dev/ttyUSB1">ttyUSB1</option>
				<option value="/dev/ttyUSB2">ttyUSB2</option>
				<option value="/dev/ttyUSB3" selected>ttyUSB3</option>
				<option value="/dev/ttyUSB4">ttyUSB4</option>
				<option value="/dev/ttyUSB5">ttyUSB5</option>
				<option value="/dev/ttyUSB6">ttyUSB6</option>
				<option value="/dev/ttyUSB7">ttyUSB7</option>
				<option value="/dev/ttyUSB8">ttyUSB8</option>
				<option value="/dev/ttyUSB9">ttyUSB9</option>
				<option value="/dev/ttyUSB10">ttyUSB10</option>
				<option value="/dev/ttyUSB11">ttyUSB11</option>
				<option value="/dev/ttyUSB12">ttyUSB12</option>
			</select>
		</td>
		<td width="10%"><div align="right"><%:AT命令 : %></div></td>
		<td width="25%"><input style="visibility:visible;width: 200px;maxlength="200" type="text" name="atcommand" id="atcommand" class="cbi-input-text"></input></td>
		<td width="10%">
			<input style="visibility:visible" type="submit" id="sendat" class="cbi-button cbi-button-apply" value="<%:发送%>" onclick="return sendcmd()" />
			<input style="visibility:visible" type="submit" id="sendclean" class="cbi-button cbi-button-reset" value="<%:清除%>" onclick="return sendclean()" />
		</td>
	</tr>
    </table>
	<textarea readonly="readonly"  name="atresponse" id="atresponse" rows="50" style="width: 100%;" maxlength="160"></textarea>
</fieldset>
</div>

<%+footer%>
