
config option
	option enable '1'
	option debug '0'

config scutclient
	option password ''
	option username ''
	
config drcom
	option hostname 'Lenovo-PC'
	option server_auth_ip '202.38.210.131'
	option version '4472434f4d0096022a'
	option hash '2ec15ad258aee9604b18f2f8114da38db16efd00'
	option dns '222.201.130.30'
	option authexe '/etc/init.d/sysntpd restart'
