<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content"><%:Statistics%></h2>

<form action="" method="get">
	<select name="host">
		<% for i, host in ipairs(hosts) do %>
			<option<% if host == current_host then %> selected="selected"<% end %>><%=pcdata(host)%></option>
		<% end %>
	</select>
	<input class="cbi-button cbi-button-apply" type="submit" name="submit" value="<%:Display Host »%>" />
	<select name="timespan">
		<% for i, span in ipairs(timespans) do %>
			<option<% if span == current_timespan then %> selected="selected"<% end %>><%=span%></option>
		<% end %>
	</select>
	<input class="cbi-button cbi-button-apply" type="submit" name="submit" value="<%:Display timespan »%>" />
</form>

<br />
<hr />
<br />

<div style="text-align: center">
	<% for i, img in ipairs(images) do %>
		<img src="<%=REQUEST_URI%>?img=<%=img%>&#38;host=<%=current_host%>" />
		<br />
	<% end %>
</div>

<%+footer%>

