CONFIG_SELINUX=y
CONFIG_FEATURE_TAR_SELINUX=y
CONFIG_CHCON=y
CONFIG_GETENFORCE=y
CONFIG_GETSEBOOL=y
CONFIG_LOAD_POLICY=y
CONFIG_MATCHPATHCON=y
CONFIG_RUNCON=y
CONFIG_SELINUXENABLED=y
CONFIG_SESTATUS=y
CONFIG_SETFILES=y
CONFIG_FEATURE_SETFILES_CHECK_OPTION=y
CONFIG_RESTORECON=y
CONFIG_SETSEBOOL=y
CONFIG_SETENFORCE=y
