<%#
 Copyright 2014 Aedan Renner <chipdankly@gmail.com>
 Copyright 2018 Florian Eckert <fe@dev.tdt.de>
 Licensed to the public under the GNU General Public License v2.
-%>

<%+header%>

<ul class="cbi-tabmenu">
	<li class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/status/mwan/overview")%>"><%:Interface%></a></li>
	<li class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/status/mwan/detail")%>"><%:Detail%></a></li>
	<li class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/status/mwan/diagnostics")%>"><%:Diagnostics%></a></li>
	<li class="cbi-tab"><a href="<%=luci.dispatcher.build_url("admin/status/mwan/troubleshooting")%>"><%:Troubleshooting%></a></li>
</ul>

<script type="text/javascript">//<![CDATA[
	XHR.poll(15, '<%=luci.dispatcher.build_url("admin", "status", "mwan", "troubleshooting_display")%>', null,
		function(x)
		{
			var output = document.getElementById('diag-rc-output');
			output.innerHTML = String.format('<pre>%h</pre>', x.responseText);
		}
	);
//]]></script>

<div class="cbi-map">
	<h2 name="content"><%:MWAN Status - Troubleshooting%></h2>
	<%if not require("luci.sys").init.enabled("mwan3") then%>
	<div><strong><%:INFO: MWAN not running%></strong></div>
	<%end%>
	<fieldset class="cbi-section">
		<span id="diag-rc-output">
			<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align: middle;" />
			<%:Collecting data...%>
		</span>
	</fieldset>
</div>

<%+footer%>
