<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<html>
	<head>
		<title><%=luci.sys.hostname()%> - <% if title then %><%=title%><% else %><%:Rebooting...%><% end %></title>
		<link rel="stylesheet" type="text/css" media="screen" href="<%=media%>/cascade.css" />
		<script type="text/javascript" src="<%=resource%>/xhr.js"></script>
		<script type="text/javascript">//<![CDATA[
			var interval = window.setInterval(function() {
				var img = new Image();

				img.onload = function() {
					window.clearInterval(interval);
					location.href = ('https:' == document.location.protocol ? 'https://' : 'http://') + '<%=addr or luci.http.getenv("SERVER_NAME")%>/';
				};

				img.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + '<%=addr or luci.http.getenv("SERVER_NAME")%><%=resource%>/icons/loading.gif?' + Math.random();
			}, 5000);
		//]]></script>
	</head>
	<body>
		<div id="maincontainer">
			<div id="maincontent">
				<h2 name="content"><%:System%> - <% if title then %><%=title%><% else %><%:Rebooting...%><% end %></h2>
				<fieldset class="cbi-section">
					<p>
						<% if msg then %><%=msg%><% else %><%:Changes applied.%><% end %>
					</p>
					<p>
						<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
						<%:Waiting for changes to be applied...%>
					</p>
				</fieldset>
			</div>
		</div>
	</body>
</html>
