<%+cbi/valueheader%>

<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=url('admin/system/clock_status')%>', null,
		function(x, rv)
		{
			var s = document.getElementById('<%=self.option%>-clock-status');
			if (s)
			{
				s.innerHTML = rv.timestring || '?';
			}
		}
	);

	function sync_clock(btn)
	{
		btn.disabled = true;
		btn.value    = '<%:Synchronizing...%>';

		(new XHR()).post('<%=url('admin/system/clock_status')%>',
			{ token: '<%=token%>', set: Math.floor((new Date()).getTime() / 1000) },
			function()
			{
				btn.disabled = false;
				btn.value    = '<%:Sync with browser%>';
			}
		);

		return false;
	}
//]]></script>

<span id="<%=self.option%>-clock-status"><em><%:Collecting data...%></em></span>
<input type="button" class="cbi-button cbi-button-apply" value="<%:Sync with browser%>" onclick="return sync_clock(this)" />

<%+cbi/valuefooter%>
