/* Taken from luci-theme-bootstrap */

.tabs, .cbi-tabmenu {
	margin: 0 0 18px;
	padding: 0;
	list-style: none;
	zoom: 1;
}

.tabs:before,
.cbi-tabmenu:before,
.tabs:after,
.cbi-tabmenu:after {
	display: table;
	content: "";
	zoom: 1;
}

.tabs:after, .cbi-tabmenu:after {
	clear: both;
}

.tabs > li, .cbi-tabmenu > li {
	float: left;
}

.tabs > li > a, .cbi-tabmenu > li > a {
	display: block;
}

.tabs,
.cbi-tabmenu {
	border-color: #ddd;
	border-style: solid;
	border-width: 0 0 1px;
}

.tabs > li,
.cbi-tabmenu > li {
	position: relative;
	margin-bottom: -1px;
}

.tabs > li > a,
.cbi-tabmenu > li > a {
	padding: 0 15px;
	margin-right: 2px;
	line-height: 34px;
	border: 1px solid transparent;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.tabs > li > a:hover,
.cbi-tabmenu > li > a:hover {
	text-decoration: none;
	background-color: #eee;
	border-color: #eee #eee #ddd;
}

.tabs .active > a, .tabs .active > a:hover,
.cbi-tabmenu .active > a, .cbi-tabmenu .active > a:hover,
.cbi-tab > a:link, .cbi-tab > a:hover {
	color: #808080;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	cursor: default;
}

.tabs .menu-dropdown, .tabs .dropdown-menu,
.cbi-tabmenu .menu-dropdown, .cbi-tabmenu .dropdown-menu {
	top: 35px;
	border-width: 1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.tabs a.menu:after, .tabs .dropdown-toggle:after,
.cbi-tabmenu a.menu:after, .cbi-tabmenu .dropdown-toggle:after {
	border-top-color: #999;
	margin-top: 15px;
	margin-left: 5px;
}

.tabs li.open.menu .menu, .tabs .open.dropdown .dropdown-toggle,
.cbi-tabmenu li.open.menu .menu, .cbi-tabmenu .open.dropdown .dropdown-toggle {
	border-color: #999;
}

.tabs li.open a.menu:after, .tabs .dropdown.open .dropdown-toggle:after,
.cbi-tabmenu li.open a.menu:after, .cbi-tabmenu .dropdown.open .dropdown-toggle:after {
	border-top-color: #555;
}

form {
	margin-bottom: 18px;
}

fieldset {
	margin-bottom: 9px;
	padding-top: 9px;
}

fieldset legend {
	display: block;
	font-size: 19.5px;
	line-height: 1;
	color: #404040;
	padding-top: 20px;
	*padding: 0 0 5px 0px;
	/* IE6-7 */

	*line-height: 1.5;
	/* IE6-7 */

}

form .clearfix,
form .cbi-value {
	margin-bottom: 18px;
	zoom: 1;
	overflow: hidden;
}

form .clearfix:before, form .clearfix:after,
form .cbi-value:before, form .cbi-value:after  {
	display: table;
	content: "";
	zoom: 1;
}

form .clearfix:after
form .cbi-value:after {
	clear: both;
}

label,
input,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: normal;
}

form .input,
form .cbi-value-field {
	margin-left: 200px;
}

form .cbi-value label.cbi-value-title {
	padding-top: 6px;
//	font-size: 13px;
	line-height: 18px;
	float: left;
	width: 180px;
	text-align: right;
	color: #404040;
}

input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

input,
textarea,
select,
.uneditable-input {
	display: inline-block;
}

select {
	padding: initial;
}

input[type=checkbox], input[type=radio] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 3px 0;
	*margin-top: 0;
	/* IE6-7 */

	line-height: normal;
	border: none;
}

input[type=file] {
	background-color: #ffffff;
	padding: initial;
	border: initial;
	line-height: initial;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: auto !important;
}

input[type=button], input[type=reset], input[type=submit] {
	width: auto;
	height: auto;
}

select, input[type=file] {
	*height: auto;
	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
}

select[multiple] {
	height: inherit;
	background-color: #ffffff;
}

textarea {
	height: auto;
}

.uneditable-input {
	background-color: #ffffff;
	display: block;
	border-color: #eee;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	cursor: not-allowed;
}

::-moz-placeholder {
	color: #bfbfbf;
}

::-webkit-input-placeholder {
	color: #bfbfbf;
}

input, textarea {
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input:focus, textarea:focus {
	outline: 0;
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type=file]:focus, input[type=checkbox]:focus, select:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: 1px dotted #666;
}

form .clearfix.error > label, form .clearfix.error .help-block, form .clearfix.error .help-inline {
	color: #b94a48;
}

form .clearfix.error input, form .clearfix.error textarea {
	color: #b94a48;
	border-color: #ee5f5b;
}

form .clearfix.error input:focus, form .clearfix.error textarea:focus {
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

form .clearfix.error .input-prepend .add-on, form .clearfix.error .input-append .add-on {
	color: #b94a48;
	background-color: #fce6e6;
	border-color: #b94a48;
}

form .clearfix.warning > label, form .clearfix.warning .help-block, form .clearfix.warning .help-inline {
	color: #c09853;
}

form .clearfix.warning input, form .clearfix.warning textarea {
	color: #c09853;
	border-color: #ccae64;
}

form .clearfix.warning input:focus, form .clearfix.warning textarea:focus {
	border-color: #be9a3f;
	-webkit-box-shadow: 0 0 6px #e5d6b1;
	-moz-box-shadow: 0 0 6px #e5d6b1;
	box-shadow: 0 0 6px #e5d6b1;
}

form .clearfix.warning .input-prepend .add-on, form .clearfix.warning .input-append .add-on {
	color: #c09853;
	background-color: #d2b877;
	border-color: #c09853;
}

form .clearfix.success > label, form .clearfix.success .help-block, form .clearfix.success .help-inline {
	color: #468847;
}

form .clearfix.success input, form .clearfix.success textarea {
	color: #468847;
	border-color: #57a957;
}

form .clearfix.success input:focus, form .clearfix.success textarea:focus {
	border-color: #458845;
	-webkit-box-shadow: 0 0 6px #9acc9a;
	-moz-box-shadow: 0 0 6px #9acc9a;
	box-shadow: 0 0 6px #9acc9a;
}

form .clearfix.success .input-prepend .add-on, form .clearfix.success .input-append .add-on {
	color: #468847;
	background-color: #bcddbc;
	border-color: #468847;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	background-color: #f5f5f5;
	border-color: #ddd;
}

.actions,
.cbi-page-actions {
	background: #f5f5f5;
	margin-bottom: 18px;
	padding: 17px 20px 18px 150px;
	border-top: 1px solid #ddd;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	text-align: right;
}

.actions .secondary-action,
.cbi-page-actions .secondary-action{
	float: right;
}

.actions .secondary-action a,
.cbi-page-actions .secondary-action a {
	line-height: 30px;
}

.actions .secondary-action a:hover,
.cbi-page-actions .secondary-action a:hover {
	text-decoration: underline;
}

.help-inline, .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #999999;
  font-size: 1.3rem;
}

.help-inline {
	padding-left: 5px;
	*position: relative;
	/* IE6-7 */

	*top: -5px;
	/* IE6-7 */

}

.help-block {
	display: block;
	max-width: 600px;
}




/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
table {
	width: 100%;
	margin-bottom: 18px;
	padding: 0;
	font-size: 13px;
	border-collapse: collapse;
}

table th, table td {
	padding: 10px 10px 9px;
	line-height: 18px;
	text-align: left;
}

table th {
	padding-top: 9px;
	font-weight: bold;
	vertical-align: middle;
}

table td {
	vertical-align: top;
	border-top: 1px solid #ddd;
}

table tbody th {
	border-top: 1px solid #ddd;
	vertical-align: top;
}

/* LuCI specific items */
.hidden { display: none }

#memtotal > div,
#memfree > div,
#memcache > div,
#membuff > div,
#conns > div  {
	  border: 1px solid #CCCCCC;
	  border-radius: 3px 3px 3px 3px;
	  color: #808080;
	  display: inline-block;
	  font-size: 13px;
	  height: 22 dpx;
	  line-height: 18px;
}

#xhr_poll_status {
	  cursor: pointer;
}

form.inline { display: inline }

header .pull-right { padding-top: 8px; }

#modemenu li:last-child span.divider { display: none }

#syslog {  width: 100%; }

.cbi-section-table tbody tr:nth-child(odd) td, .cbi-section-table tbody tr:nth-child(odd) th {
	background-color: #f9f9f9;
}

.cbi-section-table tbody tr:hover td, .cbi-section-table tbody tr:hover th  {
	background-color: #f5f5f5;
}

.cbi-section-table tr.cbi-section-table-descr th {
	font-weight: normal;
}

.left { text-align: left !important; }

.right { text-align: right !important; }

.cbi-value-field { line-height: 1.5em; }

.cbi-value-field input[type=checkbox],
.cbi-value-field input[type=radio] {
	margin-top: 8px;
	margin-right: 6px;
}

table table td,
.cbi-value-field table td {
	border: none;
}

table.cbi-section-table input,
table.cbi-section-table textarea,
table.cbi-section-table select {
	width: auto;
}

table.cbi-section-table td.cbi-section-table-cell {
	white-space: nowrap;
	text-align: right;
}

table.cbi-section-table td.cbi-section-table-cell select {
	width: inherit;
}

.cbi-value-description { display: inline; }

.cbi-value-description img { vertical-align: middle; }

.cbi-section-error {
	border: 1px solid #FF0000;
	border-radius: 3px;
	background-color: #FCE6E6;
	padding: 5px;
}

.cbi-section-error ul { margin: 0 0 0 20px; }

.cbi-section-error ul li {
	color: #FF0000;
	font-weight: bold;
}

.ifacebox {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin: 0 10px;
	text-align: center;
	white-space: nowrap;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ifacebox .ifacebox-head {
	border-bottom: 1px solid #CCCCCC;
	padding: 2px;
}

.ifacebox .ifacebox-body {
	padding: 6px;
}

.ifacebadge {
	display: inline-block;
	white-space: nowrap;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 2px;
	margin-left: 2px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ifacebadge-active {
	border-color: #000000;
	font-weight: bold;
}

.zonebadge {
	padding: 2px;
	border-radius: 4px;
	display: inline-block;
	white-space: nowrap;
	color: #666666;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	cursor: pointer;
}

.zonebadge > em,
.zonebadge > strong {
	margin: 5px;
	display: inline-block;
}

.zonebadge input {
	width: 6em;
}

.zonebadge-empty {
	border: 1px dashed #AAAAAA;
	color: #AAAAAA;
	font-style: italic;
	font-size: smaller;
}

div.cbi-value var,
td.cbi-value-field var {
	font-style: italic;
	color: #0069D6;
}

.uci-change-list {
	font-family: monospace;
}

.uci-change-list ins,
.uci-change-legend-label ins {
	text-decoration: none;
	border: 1px solid #00FF00;
	background-color: #CCFFCC;
	display: block;
	padding: 2px;
}

.uci-change-list del,
.uci-change-legend-label del {
	text-decoration: none;
	border: 1px solid #FF0000;
	background-color: #FFCCCC;
	display: block;
	font-style: normal;
	padding: 2px;
}

.uci-change-list var,
.uci-change-legend-label var {
	text-decoration: none;
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	display: block;
	font-style: normal;
	padding: 2px;
}

.uci-change-list var ins,
.uci-change-list var del {
	/*display: inline;*/
	border: none;
	white-space: pre;
	font-style: normal;
	padding: 0px;
}

.uci-change-legend {
	padding: 5px;
}

.uci-change-legend-label {
	width: 150px;
	float: left;
}

.uci-change-legend-label>ins,
.uci-change-legend-label>del,
.uci-change-legend-label>var {
	float: left;
	margin-right: 4px;
	width: 10px;
	height: 10px;
	display: block;
}

.uci-change-legend-label var ins,
.uci-change-legend-label var del {
	line-height: 6px;
	border: none;
}
