.hidden { display: none }
form.inline { display: inline }



/* Common form controls */
select,
input[type="text"],
.cbi-input-select,
.cbi-input-textarea,
.cbi-section-create-name,
.cbi-input-text,
.cbi-input-user,
.cbi-input-password {
  display: block;
  display: inline;
  width: 70%;
  padding: 0.625em;
  font-size: 1.3rem;
  line-height: 1.2;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
select:focus,
input[type="text"]:focus,
.cbi-input-select:focus,
.cbi-input-textarea:focus,
.cbi-section-create-name:focus,
.cbi-input-text:focus,
.cbi-input-user:focus,
.cbi-input-password:focus {
  outline: 0;
}
select:focus,
input[type="text"]:focus,
.cbi-input-select:focus,
.cbi-input-textarea:focus,
.cbi-section-create-name:focus,
.cbi-input-text:focus,
.cbi-input-user:focus,
.cbi-input-password:focus {
  background-color: #fefffe;
  border-color: #3bb4f2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3);
}
select::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
.cbi-input-select::-webkit-input-placeholder,
.cbi-input-textarea::-webkit-input-placeholder,
.cbi-section-create-name::-webkit-input-placeholder,
.cbi-input-text::-webkit-input-placeholder,
.cbi-input-password::-webkit-input-placeholder {
  color: #999999;
}
select::-moz-placeholder,
input[type="text"]::-moz-placeholder,
.cbi-input-select::-moz-placeholder,
.cbi-input-textarea::-moz-placeholder,
.cbi-section-create-name::-moz-placeholder,
.cbi-input-text::-moz-placeholder,
.cbi-input-password::-moz-placeholder {
  color: #999999;
}
select:-ms-input-placeholder,
input[type="text"]::-ms-input-placeholder,
.cbi-input-select:-ms-input-placeholder,
.cbi-input-textarea:-ms-input-placeholder,
.cbi-section-create-name::-ms-input-placeholder,
.cbi-input-text:-ms-input-placeholder,
.cbi-input-password:-ms-input-placeholder {
  color: #999999;
}
select::placeholder,
input[type="text"]::placeholder,
.cbi-input-select::placeholder,
.cbi-input-textarea::placeholder,
.cbi-section-create-name::placeholder,
.cbi-input-text::placeholder,
.cbi-input-password::placeholder {
  color: #999999;
}
select::-moz-placeholder,
input[type="text"]::-moz-placeholder,
.cbi-input-select::-moz-placeholder,
.cbi-input-textarea::-moz-placeholder,
.cbi-section-create-name::--moz-placeholder,
.cbi-input-text::-moz-placeholder,
.cbi-input-password::-moz-placeholder {
  opacity: 1;
}
select.am-radius,
.cbi-input-select.am-radius,
.cbi-input-textarea.am-radius,
.cbi-input-text.am-radius,
.cbi-input-password.am-radius {
  border-radius: 2px;
}
.cbi-input-select.am-round,
.cbi-input-textarea.am-round,
.cbi-input-text.am-round,
.cbi-input-password.am-round {
  border-radius: 1000px;
}
.cbi-input-textarea,
.cbi-input-select[multiple],
.cbi-input-select[size] {
  height: auto;
}
select,
.cbi-input-select {
  -webkit-appearance: none !important;
  -webkit-border-radius: 0;
  background: #ffffff url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+') no-repeat 100% center;
}
.cbi-input-select[multiple="multiple"] {
  background-image: none;
}
/* help text */
.cbi-value-description {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #999999;
  font-size: 1.3rem;
}

.cbi-button {
  display: inline-block;
  margin-bottom: 0;
  padding: 0.625em 1em;
  vertical-align: middle;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 0.7;
  text-align: center;
  white-space: nowrap;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
          transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
.cbi-button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.cbi-button:hover,
.cbi-button:focus {
  outline: 0;
  color: #444444;
  text-decoration: none;
}
.cbi-button:active,
.cbi-button.am-active {
  background-image: none;
  -webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.125);
}
.cbi-button.am-round {
  border-radius: 1000px;
}
.cbi-button.am-radius {
  border-radius: 2px;
}
.cbi-button-default {
  color: #444444;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.cbi-input-save {
  color: #ffffff;
  background-color: #0e90d2;
  border-color: #0e90d2;
}
.cbi-input-save:hover,
.cbi-input-save:focus,
.cbi-input-save:active,
.cbi-input-save.am-active,
.am-active .cbi-input-save.am-dropdown-toggle {
  color: #ffffff;
  background-color: #0a6999;
  border-color: #0a6999;
}
.cbi-input-save:active,
.cbi-input-save.cbi-button-active,
.am-active .cbi-input-save.am-dropdown-toggle {
  background-image: none;
}
.cbi-button-link,
.cbi-button-save {
  color: #ffffff;
  background-color: #f37b1d;
  border-color: #f37b1d;
}
.cbi-button-save:hover,
.cbi-button-save:focus,
.cbi-button-save:active,
.cbi-button-save.am-active,
.am-active .cbi-button-save.am-dropdown-toggle,
.cbi-button-link:hover,
.cbi-button-link:focus,
.cbi-button-link:active,
.cbi-button-link.am-active,
.am-active .cbi-button-link.am-dropdown-toggle {
  color: #ffffff;
  background-color: #c85e0b;
  border-color: #c85e0b;
}
.cbi-button-save:active,
.cbi-button-save.cbi-button-active,
.am-active .cbi-button-save.am-dropdown-toggle,
.cbi-button-link:active,
.cbi-button-link.cbi-button-active,
.am-active .cbi-button-link.am-dropdown-toggle {
  background-image: none;
}
.cbi-button-reset {
  color: #ffffff;
  background-color: #dd514c;
  border-color: #dd514c;
}
.cbi-button-reset:hover,
.cbi-button-reset:focus,
.cbi-button-reset:active,
.cbi-button-reset.am-active,
.am-active .cbi-button-reset.am-dropdown-toggle {
  color: #ffffff;
  background-color: #c62b26;
  border-color: #c62b26;
}
.cbi-button-reset:active,
.cbi-button-reset.cbi-button-active,
.am-active .cbi-button-reset.am-dropdown-toggle {
  background-image: none;
}
.cbi-input-reset {
  color: #ffffff;
  background-color: #f37b1d;
  border-color: #f37b1d;
}
.cbi-input-reset:hover,
.cbi-input-reset:focus,
.cbi-input-reset:active,
.cbi-input-reset.am-active,
.am-active .cbi-input-reset.am-dropdown-toggle {
  color: #ffffff;
  background-color: #c85e0b;
  border-color: #c85e0b;
}
.cbi-input-reset:active,
.cbi-input-reset.cbi-button-active,
.am-active .cbi-input-reset.am-dropdown-toggle {
  background-image: none;
}
.cbi-input-remove {
  color: #ffffff;
  background-color: #dd514c;
  border-color: #dd514c;
}
.cbi-input-remove:hover,
.cbi-input-remove:focus,
.cbi-input-remove:active,
.cbi-input-remove.am-active,
.am-active .cbi-input-remove.am-dropdown-toggle {
  color: #ffffff;
  background-color: #c62b26;
  border-color: #c62b26;
}
.cbi-input-remove:active,
.cbi-input-remove.cbi-button-active,
.am-active .cbi-input-remove.am-dropdown-toggle {
  background-image: none;
}
.cbi-button-remove {
  color: #ffffff;
  background-color: #dd514c;
  border-color: #dd514c;
}
.cbi-button-remove:hover,
.cbi-button-remove:focus,
.cbi-button-remove:active,
.cbi-button-remove.am-active,
.am-active .cbi-button-remove.am-dropdown-toggle {
  color: #ffffff;
  background-color: #c62b26;
  border-color: #c62b26;
}
.cbi-button-remove:active,
.cbi-button-remove.cbi-button-active,
.am-active .cbi-button-remove.am-dropdown-toggle {
  background-image: none;
}
.cbi-button-apply {
  color: #ffffff;
  background-color: #5eb95e;
  border-color: #5eb95e;
}
.cbi-button-apply:hover,
.cbi-button-apply:focus,
.cbi-button-apply:active,
.cbi-button-apply.am-active,
.am-active .cbi-button-apply.am-dropdown-toggle {
  color: #ffffff;
  background-color: #429842;
  border-color: #429842;
}
.cbi-button-apply:active,
.cbi-button-apply.cbi-button-active,
.am-active .cbi-button-apply.am-dropdown-toggle {
  background-image: none;
}
.cbi-input-apply {
  color: #ffffff;
  background-color: #5eb95e;
  border-color: #5eb95e;
}
.cbi-input-apply:hover,
.cbi-input-apply:focus,
.cbi-input-apply:active,
.cbi-input-apply.am-active,
.am-active .cbi-input-apply.am-dropdown-toggle {
  color: #ffffff;
  background-color: #429842;
  border-color: #429842;
}
.cbi-input-apply:active,
.cbi-input-apply.cbi-button-active,
.am-active .cbi-input-apply.am-dropdown-toggle {
  background-image: none;
}
.cbi-button-add {
  color: #ffffff;
  background-color: #5eb95e;
  border-color: #5eb95e;
}
.cbi-button-add:hover,
.cbi-button-add:focus,
.cbi-button-add:active,
.cbi-button-add.am-active,
.am-active .cbi-button-add.am-dropdown-toggle {
  color: #ffffff;
  background-color: #429842;
  border-color: #429842;
}
.cbi-button-add:active,
.cbi-button-add.cbi-button-active,
.am-active .cbi-button-add.am-dropdown-toggle {
  background-image: none;
}
.cbi-input-reload {
  color: #ffffff;
  background-color: #f37b1d;
  border-color: #f37b1d;
}
.cbi-input-reload:hover,
.cbi-input-reload:focus,
.cbi-input-reload:active,
.cbi-input-reload.am-active,
.am-active .cbi-input-reload.am-dropdown-toggle {
  color: #ffffff;
  background-color: #c85e0b;
  border-color: #c85e0b;
}
.cbi-input-reload:active,
.cbi-input-reload.cbi-button-active,
.am-active .cbi-input-reload.am-dropdown-toggle {
  background-image: none;
}
.cbi-button-find,
.cbi-button-reload {
  color: #ffffff;
  background-color: #f37b1d;
  border-color: #f37b1d;
}
.cbi-button-find:hover,
.cbi-button-find:focus,
.cbi-button-find:active,
.cbi-button-find.am-active,
.cbi-button-reload:hover,
.cbi-button-reload:focus,
.cbi-button-reload:active,
.cbi-button-reload.am-active,
.am-active .cbi-button-find.am-dropdown-toggle,
.am-active .cbi-button-reload.am-dropdown-toggle {
  color: #ffffff;
  background-color: #c85e0b;
  border-color: #c85e0b;
}
.cbi-button-reload:active,
.cbi-button-reload.cbi-button-active,
.am-active .cbi-button-reload.am-dropdown-toggle {
  background-image: none;
}
.cbi-button-group .cbi-input-apply,
.cbi-button-group-stacked .cbi-input-apply {
  border-color: #4db14d;
}
.cbi-button-edit {
  color: #ffffff;
  background-color: #3bb4f2;
  border-color: #3bb4f2;
}
.cbi-button-edit:hover,
.cbi-button-edit:focus,
.cbi-button-edit:active,
.cbi-button-edit.am-active,
.am-active .cbi-button-edit.am-dropdown-toggle {
  color: #ffffff;
  background-color: #0f9ae0;
  border-color: #0f9ae0;
}
.cbi-button-edit:active,
.cbi-button-edit.cbi-button-active,
.am-active .cbi-button-edit.am-dropdown-toggle {
  background-image: none;
}
.cbi-button-group .cbi-button-edit,
.cbi-button-group-stacked .cbi-button-edit {
  border-color: #23abf0;
}
.cbi-button-up,
.cbi-input-up {
	background-position: center center;
	background-image: url('../resources/cbi/up.gif'), -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: url('../resources/cbi/up.gif'), -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/up.gif'), -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/up.gif'), -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/up.gif'), -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/up.gif'), linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-size:contain; 
}

.cbi-button-down,
.cbi-input-down {
	background-position: center center;
	background-image: url('../resources/cbi/down.gif'), -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: url('../resources/cbi/down.gif'), -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/down.gif'), -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/down.gif'), -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/down.gif'), -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: url('../resources/cbi/down.gif'), linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-size: contain; 
}

/* Block button  */
.cbi-button-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
/* Multiple block buttons vertically space */
.cbi-button-block + .cbi-button-block {
  margin-top: 5px;
}
/* Specificity overrides */
input[type="submit"].cbi-button-block,
input[type="reset"].cbi-button-block,
input[type="button"].cbi-button-block {
  width: 100%;
}
/* Button with loading spinner */
.cbi-button.cbi-button-loading .am-icon-spin {
  margin-right: 5px;
}
input[type="file"],
.cbi-input-file {
  display: inline-block;
}
input[type="file"]:focus,
.cbi-input-file:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
