<%#
 Copyright 2011 Manuel Munz <freifunk at somakoma dot de>
 Licensed to the public under the Apache License 2.0.
-%>

<%
local contacturl = luci.dispatcher.build_url("freifunk", "contact")
%>

<%+header%>

<h2 name="content"><%:Blocked%></h2>

<p><%:Your access to this network has been blocked, most likely because you did something that our rules explicitly forbid.%></p>
<p><%:To ask for the reason why you have been blocked or ask for access again you can try to contact the owner of this access point:%> <a href="<%=contacturl%>"><%:Contact%></a></p>

<%+footer%>



