<script type="text/javascript">
XHR.poll(3, '<%=url([[admin]], [[services]], [[mia]], [[status]])%>', null,
	function(x, data) {
		const tb = document.getElementById('mia_status');
		if (data && tb) {
			if (data.running) {
				tb.innerHTML = '<em><b><span style="color: green; "><%:Internet Access Schedule Control%> <%:RUNNING%></span></b></em>';
			} else {
				tb.innerHTML = '<em><b><span style="color: red; "><%:Internet Access Schedule Control%> <%:NOT RUNNING%></span></b></em>';
			}
		}
	}
);
</script>
<style>
	.mar-10 {
		margin-left: 50px;
		margin-right: 10px;
	}
</style>
<fieldset class="cbi-section">
	<p id="mia_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
