<%
local api = require "luci.model.cbi.passwall.api.api"
-%>

<script type="text/javascript">
	//<![CDATA[
	function add_node_by_key() {
		var key = prompt("<%:Please enter the node keyword, pay attention to distinguish between spaces, uppercase and lowercase.%>", "");
		if (key) {
			window.location.href = '<%=api.url("autoswitch_add_node")%>' + "?key=" + key;
		}
	}
	function remove_node_by_key() {
		var key = prompt("<%:Please enter the node keyword, pay attention to distinguish between spaces, uppercase and lowercase.%>", "");
		if (key) {
			window.location.href = '<%=api.url("autoswitch_remove_node")%>' + "?key=" + key;
		}
	}
	//]]>
</script>
<input class="btn cbi-button cbi-button-add" type="button" onclick="add_node_by_key()" value="<%:Add nodes to the standby node list by keywords%>" />
<input class="btn cbi-button cbi-button-remove" type="button" onclick="remove_node_by_key()" value="<%:Delete nodes in the standby node list by keywords%>" />