<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content"><%:Statistics%></h2>

<p><%_The statistics package uses <a href="https://collectd.org/">Collectd</a>
to gather data and <a href="http://oss.oetiker.ch/rrdtool/">RRDtool</a> to
render diagram images.%></p>

<p><%_You can install additional collectd-mod-* plugins to enable more statistics.%></p>

<%+footer%>
