<%+header%>
<!--
    This module is a demo to configure MTK' proprietary WiFi driver.
    Basic idea is to bypass uci and edit wireless profile (mt76xx.dat) directly.
    LuCI's WiFi configuration is more logical and elegent, but it's quite tricky to 
    translate uci into MTK's WiFi profile (like we did in "uci2dat").

    Hua Shao <nossiac@163.com>
-->
<%
local mtkwifi = require("mtkwifi")
local devs = mtkwifi.get_all_devs()
%>
    <h2><a name="content">Wireless Overview</a></h2>

    <div id="loading" style="margin-top: 1em; display: none;">
    <img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:e;" />
        &nbsp;&nbsp;&nbsp; Please waiting while the page is loading......
    </div>

    <% if #devs == 0 then %>
    <fieldset class="cbi-section">
        <legend>No wireless device found.</legend>
    </fieldset>
    <% end %>

    <% for _,dev in ipairs(devs) do %>
    <fieldset class="cbi-section">
        <table class="cbi-section-table" style="margin:10px; empty-cells:hide">
            <!-- physical device -->
            <tbody>
                <tr>
                    <td style="width:34px">
                        <img src="/luci-static/resources/icons/wifi_big.png" style="float:left; margin-right:10px" />
                    </td>
                    <td colspan="2" style="text-align:left">
                        <big><strong title="<%=dev.profile%>"><%=dev.devname%></strong></big>
                        <%
                        local diff = mtkwifi.diff_profile(dev.profile)
                        if next(diff) ~= nil then
                        %>
                            <span style="color:red;">* need reload to apply changes</span>
                        <% 
                        end
                        %>
                        <br/>
                        <span> work mode: <% if dev.ApCliEnable == "1" then %> APCli <% else %> AP<% end %> <!--  <br/> driver: <%=dev.version%> --></span>
                    </td>
                    <td style="width:310px;text-align:right">
                        <input class="cbi-button cbi-button-reload" style="width:100px" title="Reload WiFi network" value="Reload" type="button" onclick='wifi_reload("<%=luci.dispatcher.build_url("admin", "mtk", "wifi", "reload", dev.devname)%>");' />
                        <input class="cbi-button cbi-button-edit" style="width:100px" title="Configure WiFi device" value="Config" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "mtk", "wifi", "dev_cfg_view", dev.devname)%>'" />
                        <input class="cbi-button cbi-button-add" style="width:100px" title="Add WiFi network" value="Add" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "mtk", "wifi", "vif_add_view", dev.devname,dev.vifs.__prefix)%>'" />
                    </td>
                </tr>
                <!-- /physical device -->
                <!-- network list -->
                <% for _,vif in ipairs(dev.vifs) do %>
                <tr class="cbi-section-table-row cbi-rowstyle-1">
                    <td></td>
                    <td class="cbi-value-field" style="width:16px; padding:3px">
                        <% if vif.state == "up" then %>
                        <img src="/luci-static/resources/icons/signal-75-100.png" />
                        <% else %>
                        <img src="/luci-static/resources/icons/signal-none.png" />
                        <% end %>
                    </td>
                    <td class="cbi-value-field" style="vertical-align:middle; text-align:left; padding:3px"><strong>Interface:</strong> <%=vif.vifname%> | <strong>Type:</strong> AP | <strong>SSID:</strong> <%=vif.__ssid%> | <strong>Channel:</strong> <%=vif.__channel or dev.Channel%> 
                        <br/>
                        <% if vif.state == "up" then %>
                        <strong>BSSID:</strong>:<%=vif.__bssid%> | <strong>Mode:</strong> <%=dev.WirelessModeList[tonumber(vif.__wirelessmode or dev.WirelessMode)]%>
                        <% else %>
                        Wireless is disabled or not associated
                        <% end %>
                    </td>
                    <td class="cbi-value-field" style="text-align:right">
                        <% if not vif.state then %>
                        <input class="cbi-button cbi-button-apply" style="width:100px" title="Enable this network" value="Enable" type="button" onclick="alert('Please restart manually to create this interface.')" />
                        <% elseif vif.state == "up" then %>
                        <input class="cbi-button cbi-button-reset" style="width:100px" title="Disable this network" value="Disable" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "mtk", "wifi", "vif_disable", vif.vifname)%>'" />
                        <% else %>
                        <input class="cbi-button cbi-button-apply" style="width:100px" title="Enable this network" value="Enable" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "mtk", "wifi", "vif_enable", vif.vifname)%>'" />
                        <% end %>
                        <input class="cbi-button cbi-button-edit" style="width:100px" title="Edit this network" value="Config" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "mtk", "wifi", "vif_cfg_view", dev.devname, vif.vifname)%>'" />
                        <input class="cbi-button cbi-button-remove" style="width:100px" title="Delete this network" value="Remove" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "mtk", "wifi", "vif_del", dev.devname, vif.vifname)%>'" />
                    </td>
                </tr>
                <% end %>
                <!-- /network list -->
                <!-- apcli list -->
                <% if dev.apcli then %>
                <tr>
                    <td></td>
                    <td class="cbi-value-field" style="width:16px; padding:3px">
                        <% if dev.apcli.state == "up" then %>
                        <img src="/luci-static/resources/icons/signal-75-100.png" />
                        <% else %>
                        <img src="/luci-static/resources/icons/signal-none.png" />
                        <% end %>
                    </td>
                    <td class="cbi-value-field" style="vertical-align:middle; text-align:left; padding:3px"><strong>Interface:</strong> <%=dev.apcli.devname%> | <strong>Type:</strong> STA | <strong>Status:</strong> <%=dev.apcli.status%>
                        <br/>
                        <% if dev.apcli.status == "Connected" then %>
                        <strong>BSSID:</strong>:<%=dev.apcli.bssid%> |
                        <strong>SSID:</strong>:<%=dev.apcli.ssid%>
                        <% else %>
                        Wireless is disabled or not associated
                        <% end %>
                    </td>
                    <td style="text-align:right">
                        <% if dev.apcli.state == "up" then %>
                        <input class="cbi-button cbi-button-reset" style="width:100px" title="Disable this network" value="Disable" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "mtk", "wifi", "vif_disable", dev.apcli.vifname)%>'" />
                        <% else %>
                        <input class="cbi-button cbi-button-apply" style="width:100px" title="Enable this network" value="Enable" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "mtk", "wifi", "vif_enable", dev.apcli.vifname)%>'" />
                        <% end %>

                        <% if dev.apcli.status == "Connected" then %>
                        <input class="cbi-button cbi-button-remove" style="width:100px" title="Reload WiFi network" value="Disconnect" type="button" onclick='wifi_reload("<%=luci.dispatcher.build_url("admin", "mtk", "wifi", "apcli_disconnect", dev.devname, dev.apcli.vifname)%>")' />
                        <% else %>
                        <!-- <input class="cbi-button cbi-button-reload" style="width:100px" title="Reload WiFi network" value="Connect" type="button" onclick='wifi_reload("<%=luci.dispatcher.build_url("admin", "mtk", "wifi", "apcli_connect", dev.devname,dev.apcli.vifname)%>")' /> -->
                        <% end %>

                        <input class="cbi-button cbi-button-edit" style="width:100px" title="Configure WiFi device" value="Config" type="button" onclick="location.href='<%=luci.dispatcher.build_url("admin", "mtk", "wifi", "apcli_cfg_view", dev.devname, dev.apcli.vifname)%>'" />
                    </td>
                </tr>
                <% end %>
                <!-- /apcli list -->
            </tbody>
        </table>
    </fieldset>
    <% end %>

<!--
    <h2><a id="content" name="content"><%:Station List%></a></h2>

    <fieldset class="cbi-section">
        <table class="cbi-section-table" style="margin:10px" id="iw-assoclist">
            <tr class="cbi-section-table-titles">
                <th class="cbi-section-table-cell"></th>
                <th class="cbi-section-table-cell"><%:SSID%></th>
                <th class="cbi-section-table-cell"><%:MAC-Address%></th>
                <th class="cbi-section-table-cell"><%:IPv4-Address%></th>
                <th class="cbi-section-table-cell"><%:Signal%></th>
                <th class="cbi-section-table-cell"><%:Noise%></th>
                <th class="cbi-section-table-cell"><%:RX Rate%></th>
                <th class="cbi-section-table-cell"><%:TX Rate%></th>
            </tr>
            <tr class="cbi-section-table-row cbi-rowstyle-2">
                <td class="cbi-value-field" colspan="8">
                    <em><%:Collecting data...%></em>
                </td>
            </tr>
        </table>
    </fieldset>
-->

<script type="text/javascript">
function wifi_reload(url) {
    window.scrollTo(0, 0);
    document.getElementById('loading').style.display="";
    XHR.get(url, null,
        function(x)
        {
            console.log(x);
            document.getElementById("loading").style.display="none";
            window.location.reload();
        }
    );
}
</script>

<%+footer%>
