<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[serverchan]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('serverchan_status');
		if (data && tb) {
			if (data.running) {
				var links = '<em><b><span color="green">serverchan <%:RUNNING%></span></b></em>';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<em><b><span color="red">serverchan <%:NOT RUNNING%></span></b></em>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="serverchan_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>