
<!-- ++ BEGIN ++ aMule ++ detail_logview.htm ++ -->
<script type="text/javascript">//<![CDATA[
	function onclick_logview(section, bottom)  {
		// get elements
		var txt = document.getElementById("cbid.amule.main._logview.txt");	// TextArea
		if ( !txt ) { return; }	// security check
		var lvXHR = new XHR();
		lvXHR.get('<%=url('admin/nas/amule/logview')%>', null,
			function(x) {
				if (x.responseText == "_nodata_")
					txt.value = "<%:File not found or empty%>";
				else
					txt.value = x.responseText;
				if (bottom)
					txt.scrollTop = txt.scrollHeight;
				else
					txt.scrollTop = 0;			}
		);
	}
//]]></script>

<%+cbi/valueheader%>

<br />

<%
-- one button on top, one at the buttom
%>
<input class="cbi-button cbi-input-button" style="align: center; width: 100%" type="button" onclick="onclick_logview(this.name, false)"
<%=
attr("name", section) .. attr("id", cbid .. ".btn1") .. attr("value", self.inputtitle)
%> />

<br /><br />

<%
-- set a readable style taken from openwrt theme for textarea#syslog
-- in openwrt theme there are problems with a width of 100 so we check for theme and set to lower value
%>
<textarea style="width: <%if media == "/luci-static/openwrt.org" then%>98.7%<%else%>100%<%end%> ; min-height: 500px; border: 3px solid #cccccc; padding: 5px; font-family: monospace; resize: none;" wrap="off" readonly="readonly"
<%=
attr("name", cbid .. ".txt") .. attr("id", cbid .. ".txt") .. ifattr(self.rows, "rows")
%> >
<%-=pcdata(self:cfgvalue(section))-%>
</textarea>
<br /><br />

<%
-- one button on top, one at the buttom
%>
<input class="cbi-button cbi-input-button" style="align: center; width: 100%" type="button" onclick="onclick_logview(this.name, true)"
<%= attr("name", section) .. attr("id", cbid .. ".btn2") .. attr("value", self.inputtitle) %> />

<%+cbi/valuefooter%>
<!-- ++ END ++ aMule ++ detail_logview.htm ++ -->
