<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>
<h2 name="content"><%:System%></h2>
<h3><%:Backup / Restore%></h3>
<p><%:Here you can backup and restore your configuration and - if possible - reset this device to the default settings.%></p>
<br />
<div>
	<ul>
	<li><a href="<%=REQUEST_URI%>?backup=kthxbye"><%:Create backup%></a></li>
	<% if reset_avail then -%>
	<li><a href="<%=REQUEST_URI%>?reset=yarly" onclick="return confirm('<%:Proceed reverting all settings and resetting to firmware defaults?%>')"><%:Reset this device to defaults%></a></li>
	<% end -%>
	</ul>
</div>

<br />

<form method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
	<div class="left"><%:Backup Archive%>:</div>
	<div>
		<input type="file" size="30" name="archive" />
	</div>
	<div>
		<input type="submit" class="cbi-button cbi-input-apply" value="<%:Restore backup%>" />
	</div>
</form>
<%+footer%>
