<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>
<h2 name="content"><%:System%></h2>
<h3><%:Reboot%></h3>
<p><%:Reboots the operating system of your device%></p>
<%-
local c = require("luci.model.uci").cursor():changes()
if c and next(c) then
-%>
	<p class="warning"><%:Warning: There are unsaved changes that will be lost while rebooting!%></p> 
<%-
end
if not reboot then 
-%>
<p><a href="<%=REQUEST_URI%>?reboot=1"><%:Perform reboot%></a></p>
<%- else -%>
<p><%:Please wait: Device rebooting...%></p>
<script type="text/javascript">setTimeout("location='<%=controller%>'", 60000)</script>
<%- end -%>
<%+footer%>