<script type="text/javascript">//<![CDATA[
confname="<%=section%>"
dcheck=document.getElementById("cbid.ngrokc."+confname+".custom_domain");
dlabel=document.getElementById("cbi-ngrokc-"+confname+"-dname").firstChild;
dhelp=document.getElementById("cbi-ngrokc-"+confname+"-dname").lastChild.lastChild;
labels=dlabel.innerHTML.split("/");togglestat();
dcheck.onclick=function(){cbi_d_update(this.id);togglestat()}
function togglestat() {if(dcheck.checked){dlabel.innerHTML=labels[0];
dhelp.style.display="";}else{dlabel.innerHTML=labels[1];dhelp.style.display="none";}}
//]]></script>
