<% include("cbi/map") %>
<script type="text/javascript">//<![CDATA[
	XHR.poll(2, '<%=luci.dispatcher.build_url("admin", "control", "timecontrol", "status")%>', null,
		function (x, result) {
			var status = document.getElementsByClassName('timecontrol_status')[0];
			status.setAttribute("style", "font-weight:bold;");
			status.setAttribute("color", result.status ? "green" : "red");
			status.innerHTML = result.status ? '<%=translate("RUNNING")%>' : '<%=translate("NOT RUNNING")%>';
		}
	)
//]]>
</script>