<style>


    .cbi-section-table-row {
        position: relative;
        background: #172b4d;
        margin: 10px;
        padding: 8px 15px 10px 65px;
        box-shadow: 0 0 1rem 0 rgba(136,152,170,.75);
        border-radius: .5rem;
        border: 0;
        color: #ffffff;
        text-align: left;
        line-height: 1.7em;
        overflow: hidden;
        transition: all 0.3s;
    }

    .incon.fast ,.cbi-section-table-row.fast{
        background: #6f9a37!important;
    }

    .incon.nopass ,.cbi-section-table-row.nopass{
        background: #dc3545 !important;
    }
    .incon.middle ,.cbi-section-table-row.middle{
        background: #fbc658 !important;
    }
    .incon.slow ,.cbi-section-table-row.slow{
        background: #fb6340 !important;
    }
    
   
    
    .host_con.fast{
        color:  #00ff18;
    }

    .host_con.nopass{
        color: #f5365c;
    }
    .host_con.middle{
        color: #ffff00;
    }
    .host_con.slow{
        color: #ffa200;
    }

    .loadings {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.7);
        border-radius: .5rem;
        left: 0;
        top: 0;
        z-index: 10;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        transition: all 0.3s;
    }

    .loadings.hide{
        opacity:0;
        visibility:hidden;
        pointer-events:none;
    }

    .loadings span {
        animation: anim-rotate 2s infinite linear;
        height: 30px;
    }

    .incon {
        display: inline-block;
        margin: 0.2em 0;
    }
    .incon:nth-child(2) {
        position: absolute;
        display:flex;
        align-items:center;
        justify-content: center;
        left: 0;
        top: -3px;
        width: 55px;
        height: 105%;
        border: 0;
        background: #5e72e4;
        text-transform: uppercase;
    }

    .incon:nth-child(3) {

        padding-left: 0px;
    }


    .incon:nth-child(4) {

    }
    .incon:nth-child(5) ,.incon:nth-child(6){
        display: none;

    }

    .cbi-section-table-cell {
        text-align: right;
    }

    .ssr-button {
        background: none;
        color: #fff;
        padding: 0 0 0 0.8rem;
    }

    .ssr-button:hover,
    .ssr-button:focus,
    .ssr-button:active {
        color: #fff;
        outline: 0;
        text-decoration: none;
        box-shadow: none;
    }
    .cbi-section h3{
        margin-left:10px;
        margin-top:1rem;
    }
    .cbi-button-check {
        color: #fff !important;
        background-color: #337ab7 !important;
        border-color: #2e6da4 !important;
        font-size:14px;
        padding:0.5rem 0.8rem;
        float:right;
        margin-right:10px;
        margin-top:1rem;
    }
    .cbi-section-table-cell{
        position:relative;
    }
    .host_con{
        position:absolute;
        left:0;
        width:50px;
        text-align: left;
        height:22px;
        font-weight: bold;
    }

    .host_ok{
        color:#fff;
        background:#2dce89;
        padding: 0.1rem 0.5rem;
        border-radius: 0.2rem;
    }
    .host_error{
        color:#fff;
        background:#f5365c;
        padding: 0.1rem 0.5rem;
        border-radius: 0.2rem;
    }
    .cbi-button-add{
        position:fixed;
        padding: 0.3rem 0.5rem;
        z-index:1000;
        width:50px !important;
        height:50px;
        bottom:50px;
        right:5px;
        border-radius:25px;
        display:block;
        box-shadow: 0 0 1rem 0 rgba(136,152,170,.75);
    }
    @media screen and (max-width: 1900px) {
        .pure-u-1-5{
            width:25%;
        }
    }
    @media screen and (max-width: 1600px) {
        .pure-u-1-5{
            width:33.33333333%;
        }
    }
    @media screen and (max-width: 1200px) {
        .pure-u-1-5{
            width:50%;
        }
    }
    @media screen and (max-width: 700px) {

        .pure-u-1-5{
            width:100%;
            font-size: 14px;
        }
    }
</style>

<%-
local rowcnt = 1
function rowstyle()
rowcnt = rowcnt + 1
return (rowcnt % 2) + 1
end

-%>

<!-- tblsection -->
<fieldset class="cbi-section" id="cbi-<%=self.config%>-<%=self.sectiontype%>">
    <button class="cbi-button  cbi-button-check ">检查所有节点</button><span class="panel-title">总计  <%- print(self.des)-%>个节点</span>   
    <div class="cbi-section-node">
        <%- local count = 0 -%>
        <div class="cbi-section-table pure-g">

            <%- local isempty = true
            for i, k in ipairs(self:cfgsections()) do
            section = k
            isempty = false
            scope = { valueheader = "shadowsocksr/cell_valueheader", valuefooter = "shadowsocksr/cell_valuefooter" }
            -%>

            <div class="pure-u-1-5">
                <div class="cbi-section-table-row " id="cbi-<%=self.config%>-<%=section%>">

                    <div class="loadings hide"><span class="icon-loading"></span></div>
                    <%-	
                    local subcount = 1;
                    for k, node in ipairs(self.children) do						
                    if not node.optional then						
                    node:render(section, scope or {})
                    subcount = subcount + 1
                    end
                    end
                    -%>

                    <%- if self.extedit or self.addremove then -%>
                    <div class="cbi-section-table-cell">
                        <div class="host_con">

                        </div>
                        <a class="cbi-button ssr-button " type="button" value="" onclick="location.href='/cgi-bin/luci/admin/services/shadowsocksr/change?set=<%=section%>'" alt="应用" title="应用"><span class="icon-edit"></span> 应用</a>
                        <%- if self.extedit then -%>
                        <a class="cbi-button ssr-button " type="button" value=""
                           <%- if type(self.extedit) == "string" then
                           %> onclick="location.href='<%=self.extedit:format(section)%>'"
                           <%- elseif type(self.extedit) == "function" then
                           %> onclick="location.href='<%=self:extedit(section)%>'"
                           <%- end
                           %> alt="<%:Edit%>" title="<%:Edit%>" ><span class="icon-edit"></span> <%:Edit%></a>
                        <%- end; if self.addremove then %>
                        <button class="cbi-button  ssr-button" type="submit" value=""  onclick="this.form.cbi_state = 'del-section'; return true" name="cbi.rts.<%=self.config%>.<%=k%>" alt="<%:Delete%>" title="<%:Delete%>" /><span class="icon-delete"></span> <%:Delete%></button>
                        <%- end -%>
                    </div>
                    <%- end -%>
                </div>
            </div>
            <%- end -%>

            <%- if isempty then -%>
            <div class="cbi-section-table-row">
                <div colspan="<%=count%>"><em><br /><%:This section contains no values yet%></em></div>
            </div>
            <%- end -%>
        </div>

        <% if self.error then %>
        <div class="cbi-section-error">
            <ul><% for _, c in pairs(self.error) do for _, e in ipairs(c) do -%>
                <li><%=pcdata(e):gsub("\n","<br />")%></li>
                <%- end end %></ul>
        </div>
        <% end %>

        <%- if self.addremove then -%>
        <% if self.template_addremove then include(self.template_addremove) else -%>
        <div class="cbi-section-create cbi-tblsection-create">
            <% if self.anonymous then %>
            <input class="cbi-button cbi-button-add" type="submit" value="<%:Add%>" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" title="<%:Add%>" />
            <% else %>
            <% if self.invalid_cts then -%><div class="cbi-section-error"><% end %>
                <input type="text" class="cbi-section-create-name" id="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" data-type="uciname" data-optional="true" />
                <input class="cbi-button cbi-button-add" type="submit" onclick="this.form.cbi_state = 'add-section'; return true" value="<%:Add%>" title="<%:Add%>" />
                <% if self.invalid_cts then -%>
                <br /><%:Invalid%></div>
            <%- end %>
            <% end %>
        </div>
        <%- end %>
        <%- end -%>
    </div>
</fieldset>
<!-- /tblsection -->
<script type="text/javascript">
    $(document).ready(function() {

    function check(){
    $(".host_con").html("");
            $(".loadings").removeClass("hide");
            $(".pure-u-1-5").each(function() {
            host = $(this).find(".incon:eq(3)").text().replace(/[\r\n]/g, "");
            port = $(this).find(".incon:eq(4)").text().replace(/[\r\n]/g, "");
            check_port(host, port, this);
    });
    }

    function check_port(hosts, ports, target){
    $.get("<%=luci.dispatcher.build_url("admin", "services", "shadowsocksr","checkport")%>",
    {
    host:hosts,
            port:ports
    },
            function(data, status){
            $(target).find(".loadings").addClass("hide");
                    if (data.ret == 1){
                        if(data.used <= 80){
                            $(target).find(".incon").eq(0).addClass("fast");
                            $(target).find(".host_con").addClass("fast");
                        }else if(data.used > 80 && data.used <= 200){
                            $(target).find(".incon").eq(0).addClass("middle");
                            $(target).find(".host_con").addClass("middle");
                        }else if(data.used > 200){
                            $(target).find(".incon").eq(0).addClass("slow");
                            $(target).find(".host_con").addClass("slow");
                        }
                        $(target).find(".host_con").text(data.used+"ms");
                    } else{
                        $(target).find(".incon").eq(0).addClass("nopass");
                        $(target).find(".host_con").addClass("nopass");
                         $(target).find(".host_con").text("Error");
                    }
            });
    }
    $(".pure-u-1-5").each(function() {
    sw = $(this).find(".incon:eq(2)");
            if (sw.text() == 1) {
    sw.html('<span class="icon-switch" title="自动切换"></span>');
    } else {
    sw.html('');
    }
    });
            $(".cbi-button-check").click(function(){
                check();
    return false;
    });
     //check();
    });
</script>