
config source 'global'
	option urls 'https://github.com/DNSCrypt/dnscrypt-resolvers/raw/master/v2/public-resolvers.md'
	option details_json 'https://download.dnscrypt.info/dnscrypt-resolvers/json/public-resolvers.json'
	option minisign_key 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
	option cache_mode '1'
	option selfsign '0'

config dnscrypt 'quad9_dnscrypt_ip6_filter_pri'
	option name 'quad9-dnscrypt-ip6-filter-pri'
	option proto 'DNSCrypt'
	option addrs '[2620:fe::fe:9]'
	option ports '8443'
	option stamp 'sdns://AQMAAAAAAAAAFFsyNjIwOmZlOjpmZTo5XTo4NDQzIGfIR7jIdYzRICRVQ751Z0bfNN8dhMALjEcDaN-CHYY-GTIuZG5zY3J5cHQtY2VydC5xdWFkOS5uZXQ'
	option description 'Quad9 (anycast) dnssec/no-log/filter 2620:fe::fe:9'
	option location '37.751000,-97.822000'
	option country 'United States'
	option dnssec '1'
	option ipv6 '1'
	option nolog '1'
	option nofilter '0'

