CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_TARGET_IMAGES_GZIP=y
#CONFIG_EFI_IMAGES=y
#CONFIG_LUCI_LANG_en=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ipv6helper=y
#CONFIG_PACKAGE_kmod-fs-nfs=y
#CONFIG_PACKAGE_kmod-fs-nfs-common=y
#CONFIG_PACKAGE_kmod-fs-nfs-v3=y
#CONFIG_PACKAGE_kmod-fs-nfs-v4=y
#CONFIG_PACKAGE_kmod-fs-ntfs=y
#CONFIG_PACKAGE_kmod-fs-squashfs=y
#CONFIG_PACKAGE_kmod-usb-ohci=y
#CONFIG_PACKAGE_kmod-usb-ohci-pci=y
#CONFIG_PACKAGE_kmod-usb2=y
#CONFIG_PACKAGE_kmod-usb2-pci=y
#CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_luci-app-adbyby-plus=y
#CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-baidupcs-web=y
#CONFIG_PACKAGE_luci-app-dockerman=y
#CONFIG_PACKAGE_luci-app-frpc=y
#CONFIG_PACKAGE_luci-app-hd-idle=y
#CONFIG_PACKAGE_luci-app-kodexplorer=y
#CONFIG_PACKAGE_luci-app-minidlna=y
#CONFIG_PACKAGE_luci-app-openvpn=y
#CONFIG_PACKAGE_luci-app-openvpn-server=y
#CONFIG_PACKAGE_luci-app-qbittorrent=y
#CONFIG_PACKAGE_luci-app-serverchan=y
#CONFIG_PACKAGE_luci-app-smartinfo=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Socks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-tcpdump=y
#CONFIG_PACKAGE_luci-app-ttyd=y
#CONFIG_PACKAGE_luci-app-v2ray-server=y
#CONFIG_PACKAGE_luci-app-verysync=y
CONFIG_PACKAGE_luci-app-webadmin=y
#CONFIG_PACKAGE_luci-app-wireguard=y
#CONFIG_PACKAGE_luci-app-wrtbwmon=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-darkmatter=y
CONFIG_PACKAGE_curl=y
#CONFIG_PACKAGE_e2fsprogs=y
#CONFIG_PACKAGE_htop=y
#CONFIG_PACKAGE_nano=y
#CONFIG_PACKAGE_screen=y
#CONFIG_PACKAGE_tree=y
#CONFIG_PACKAGE_vim-fuller=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_zoneinfo-africa=y
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_zoneinfo-atlantic=y
CONFIG_PACKAGE_zoneinfo-australia-nz=y
CONFIG_PACKAGE_zoneinfo-core=y
CONFIG_PACKAGE_zoneinfo-europe=y
CONFIG_PACKAGE_zoneinfo-india=y
CONFIG_PACKAGE_zoneinfo-northamerica=y
CONFIG_PACKAGE_zoneinfo-pacific=y
CONFIG_PACKAGE_zoneinfo-poles=y
CONFIG_PACKAGE_zoneinfo-simple=y
CONFIG_PACKAGE_zoneinfo-southamerica=y
# CONFIG_TARGET_IMAGES_PAD is not set
# CONFIG_VMDK_IMAGES is not set
