<%+header%>
<h2 name="content"><%:configEditor%></h2>
<div class="cbi-map-descr"><%:为了解决保留配置升级版本后不兼容的问题，其实是config文件没有得到更新，故此制作了该插件以修改config文件。
同时也解决了配置一键导入的问题，可支持创建文件，不添加"/"，则会在/www目录下创建，不支持创建目录。%></div>
<br/>

	<ul class="cbi-tabmenu">
		<li id="tab.system.configEditor.config" class="cbi-tab">
			<a onclick="this.blur(); return cbi_t_switch('system.configEditor', 'config')" href="/cgi-bin/luci/admin/system/system?tab.system.configEditor=config"><%:修改配置文件%></a>
			<input type="hidden" id="tab.system.configEditor" name="tab.system.configEditor" value="upgrade" />
		</li>
	
		<li id="tab.system.configEditor.upgrade" class="cbi-tab-disabled">
			<a onclick="this.blur(); return cbi_t_switch('system.configEditor', 'upgrade')" href="/cgi-bin/luci/admin/system/system?tab.system.configEditor=upgrade"><%:备份升级文件%></a>
			
		</li>
	
	</ul>
	
	<div class="cbi-tabcontainer" id="container.system.configEditor.config">
		
	<fieldset>
			<input type="button" class="cbi-button cbi-input-button cbi-button-apply" value="<%:Read%>" onclick="readfile(this,'readfile')" />
			<span id="readfile"></span>		
			<input class="cbi-input-text" name="CE_File" id="CE_File" type="text" value="" />
			<input type="button" class="cbi-button cbi-input-button cbi-button-apply" value="<%:Create%>" onclick="makedir(this,'makedir')" />
			<span id="makedir"></span>
			<input type="button" class="cbi-button cbi-input-button cbi-button-apply" style="float:right" value="<%:Commit alter%>" onclick="alter(this,'alter')" />
			<span id="alter"></span>
			<textarea id="configFile" name="configFile" style="width: 100%" rows="30" class="cbi-input-textarea" wrap="off"></textarea>
	</fieldset>
</div>
	<script type="text/javascript">cbi_t_add('system.configEditor', 'config')</script>
	<div class="cbi-tabcontainer" id="container.system.configEditor.upgrade" style="display:none">
	<div class="cbi-map-descr"><%:仅删除和创建系统升级备份目录下的文件，填写“*”表示全部文件%></div>
		<input type="button" class="cbi-button cbi-input-button cbi-button-apply" value="<%:Read%>" onclick="get_upgrade(this,'read')" />
		<span id="readUpgradeFile"></span>
		<input type="button" class="cbi-button cbi-input-button cbi-button-apply" value="<%:查看自定义文件%>" onclick="get_upgrade(this,'read_custom')" />
		<span id="read_custom"></span>			
		<input class="cbi-input-text" name="KE_File" id="KE_File" type="text" value="" />
		<input type="button" class="cbi-button cbi-input-button cbi-button-apply" value="<%:Delete%>" onclick="get_upgrade(this,'delete')" />
		<span id="delete"></span>
		<input type="button" class="cbi-button cbi-input-button cbi-button-apply" value="<%:Recover%>" onclick="get_upgrade(this,'recover')" />
		<span id="recover"></span>
		<input type="button" class="cbi-button cbi-input-button cbi-button-apply" style="float:right" value="<%:Commit alter%>" onclick="get_upgrade(this,'add')" />
		<span id="addCustomUpgradeFile"></span>
		<textarea id="upgradeConf" name="upgradeConf" style="width: 100%" rows="30" class="cbi-input-textarea" wrap="off"></textarea>
	</div>
	<script type="text/javascript">cbi_t_add('system.configEditor', 'upgrade')</script>

<script type="text/javascript">//<![CDATA[

	function readfile(btn,dataname)
	{
		btn.disabled = true;
		btn.value = '<%:reading file...%>';
		var s = document.getElementById("CE_File");
		murl=dataname + " " + s.value
		XHR.get('<%=luci.dispatcher.build_url("admin", "system", "configEditor","readfile")%>',
			{ set:murl},
			function(x,readfile)
			{
			var ss = document.getElementById("configFile");
			if (s)
			{
				if (readfile.ret == "1")
				ss.value = readfile.ret1;
				else
				ss.value ="<%:No such file or directory%>";
			}
				btn.disabled = false;
				btn.value = '<%:Read%>';

			}
		);

		return false;
	}
//]]></script>

<script type="text/javascript">//<![CDATA[

	function makedir(btn,dataname)
	{
		btn.disabled = true;
		btn.value = '<%:Creating file...%>';
		var s = document.getElementById("CE_File");
		murl=dataname + " " + s.value
		XHR.get('<%=luci.dispatcher.build_url("admin", "system", "configEditor","makedir")%>',
			{ set:murl},
			function(x,makedir)
			{
			var ss = document.getElementById("makedir");
			if (s)
			{
				if (makedir.ret == "1")
				ss.innerHTML = "<b><span style='color: green'>"+"<%:Succed%>"+"</span></b>";
				else
				ss.innerHTML ="<b><span style='color: red'>"+"<%:Error,no such directory%>"+"</span></b>";
			}
				btn.disabled = false;
				btn.value = '<%:Create%>';

			}
		);

		return false;
	}
//]]></script>

<script type="text/javascript">//<![CDATA[

	function alter(btn,dataname)
	{
		btn.disabled = true;
		btn.value    = 'commiting...';
		var s = document.getElementById("CE_File");
		var ss = document.getElementById("configFile");
		murl = dataname + " " + s.value
		content = ss.value
		XHR.posts('<%=luci.dispatcher.build_url("admin", "system", "configEditor","alter")%>',
			{ set:murl, tet:content } , //json
			function(x,alter)
			{
			var sss = document.getElementById("alter");
			if (s)
			{
				if (alter.ret == "1")
				sss.innerHTML = "<b><span style='color: green'>"+ '<%:Succed%>' +"</span></b>";
				else
				sss.innerHTML ="<b><span style='color: red'>"+ "<%:No such file or directory%>" +"</span></b>";
			}
				btn.disabled = false;
				btn.value    = '<%:Commit alter%>';
			}
		);

		return false;
	}
//]]></script>

<script type="text/javascript">//<![CDATA[

	function get_upgrade(btn,dataname)
	{
		btn.disabled = true;
		var s = document.getElementById("KE_File");
		var ss = document.getElementById("upgradeConf");
		murl=dataname
		path=s.value
		content=ss.value
		XHR.posts('<%=luci.dispatcher.build_url("admin", "system", "configEditor","get_upgrade")%>',
			{ set:murl, pet:path, tet:content }, //json
			function(x,get_upgrade)
			{
				switch (get_upgrade.ret)
				{
					case "1":
						ss.value = get_upgrade.ret1;
					case "2":
						ss.value = get_upgrade.ret1;
						break;
					case "3":
						var al = document.getElementById("delete");
						al.innerHTML = get_upgrade.ret1;
						break;
					case "4":
						var ad = document.getElementById("addCustomUpgradeFile");
						ad.innerHTML = get_upgrade.ret1;
						break;
					case "5":
						var ar = document.getElementById("recover");
						ar.innerHTML = get_upgrade.ret1;
						break;
					default:
						ss.innerHTML ="<%:Error%>";
				}
				btn.disabled = false;
			}
		);

		return false;
	}
//]]></script>

<%+footer%>
