# config device tree support
PHYTIUM_ENABLE_40BITS_VA=1
ifeq ($(USE_LINUX_PCIE), 1)
EXTRA_CFLAGS +=-DgcdIRQ_SHARED
endif

# Customer can just set gcdMMU_VERSION_2=1 if the MMU supports 48bit PA.
ifeq ($(MMU_VERSION_2), 1)
 EXTRA_CFLAGS +=-DgcdMMU_VERSION_2=1
 # gcdVA_BITS only take effect when it is MMU_VERSION_2.
 # Customer can just gcdVA_BITS to VA bits the chip supports.
 ifdef VA_BITS
  EXTRA_CFLAGS +=-DgcdVA_BITS=$(VA_BITS)
 else
  EXTRA_CFLAGS +=-DgcdVA_BITS=40
 endif
 ifeq ($(PHYTIUM_ENABLE_40BITS_VA), 1)
  EXTRA_CFLAGS +=-DgcdENABLE_40BIT_VA=1
 else
  EXTRA_CFLAGS +=-DgcdENABLE_40BIT_VA=0
 endif

else
 # It is old version MMU.
 EXTRA_CFLAGS +=-DgcdMMU_VERSION_2=0

 # Customer can just set gcdENABLE_40BIT_VA=1 if the chip supports 40BIT VA.
 ifeq ($(PHYTIUM_ENABLE_40BITS_VA), 1)
  EXTRA_CFLAGS +=-DgcdENABLE_40BIT_VA=1
 else
  EXTRA_CFLAGS +=-DgcdENABLE_40BIT_VA=0
 endif

 # Customer can just set gcdMMU_40VA_40PA=0 if the master table entry is 16bit or 18bit.
 ifeq ($(MMU_40VA_40PA), 1)
  EXTRA_CFLAGS +=-DgcdMMU_40VA_40PA=1
 else
  EXTRA_CFLAGS +=-DgcdMMU_40VA_40PA=0
 endif

endif

EXTRA_CFLAGS +=-DgcdENABLE_VIRTUAL_POOL=1
EXTRA_CFLAGS +=-DgcdDYNAMIC_ALLOC_LOCAL_MEMORY=0
