menu "MHI controllers"

config MHI_QTI
       tristate "MHI QTI"
       depends on MHI_BUS
       help
	  If you say yes to this option, MHI bus support for QTI modem chipsets
	  will be enabled. QTI PCIe based modems uses MHI as the communication
	  protocol. MHI control driver is the bus master for such modems. As the
	  bus master driver, it oversees power management operations such as
	  suspend, resume, powering on and off the device.

endmenu
