<script type="text/javascript">//<![CDATA[
var HTTP = {
	checker: (domain, cbElID) => {
		let img = new Image;
		let timeout = setTimeout(() => {
			img.onerror = img.onload = null;
			img = null;
			document.getElementById(cbElID).innerHTML = '<em><b><font color=red><%:UNAVAILABLE%></font></b></em>'
		}, 5000);
		img.onerror = () => {
			clearTimeout(timeout);
			document.getElementById(cbElID).innerHTML = '<em><b><font color=red><%:UNAVAILABLE%></font></b></em>'
		}
		img.onload = () => {
			clearTimeout(timeout);
			document.getElementById(cbElID).innerHTML = '<em><b><font color=green><%:AVAILABLE%></font></b></em>'
		}
		img.src = `https://${domain}/favicon.ico?${+(new Date)}`
	}
}

XHR.poll(30, '<%=luci.dispatcher.build_url("admin", "services", "clash", "status")%>', null, function(x, status) {
	if ( x && x.status == 200 ) {
		document.getElementById('_clash').innerHTML = status.clash ? '<em><b><font color=green><%:RUNNING%></font></b></em>' : '<em><b><font color=red><%:NOT RUNNING%></font></b></em>';
		HTTP.checker('www.baidu.com', '_china_network');
		HTTP.checker('www.google.com', '_bypass_gfw');
	}
});
//]]></script>
