config edge
	option enabled      '0'
	option tunname      'n2n_edge'
	option mode         'static'
	option ipaddr		'10.0.0.100'
	option netmask      '255.255.255.0'
	option supernode	'1.2.3.4'
	option port         '1234'
	option community	'example'
	option key          'password'
	option route		'0'

config supernode
	option enabled      '0'
	option port         '1235'
