config edge
	option enabled    '0'
	option tunname    'n2n0'
	option mode       'static'
	option ipaddr     '10.0.0.100'
	option prefix     '24'
	option mtu        '1290'
	option supernode  '1.2.3.4'
	option port       '1234'
	option community  'example'
	option key        'password'
	option route      '1'

config supernode
	option enabled    '0'
	option port       '1235'

config route
	option enabled '0'
	option ip '192.168.2.0'
	option mask '24'
	option gw '10.0.0.200'
