
<fieldset class="cbi-section">
	<table>
	  <tr><td width="100%" colspan="4">
	    <p align="center" id="update_tip">
	  		<b><%:Note: if the update fails, you can manually download and upload%></b>
	  	</p>
	  </td></tr>
	  <tr><td width="25%"><%:Compiled Version Selected%></td>
	  	<td width="25%" align="left"><select id="CORE_VERSION">
	  		<option value="linux-386"><%:linux-386%></option>
				<option value="linux-amd64"><%:linux-amd64(x86-64)%></option>
				<option value="linux-armv5"><%:linux-armv5%></option>
				<option value="linux-armv6"><%:linux-armv6%></option>
				<option value="linux-armv7"><%:linux-armv7%></option>
				<option value="linux-armv8"><%:linux-armv8%></option>
				<option value="linux-mips-hardfloat"><%:linux-mips-hardfloat%></option>
				<option value="linux-mips-softfloat"><%:linux-mips-softfloat%></option>
				<option value="linux-mips64"><%:linux-mips64%></option>
				<option value="linux-mips64le"><%:linux-mips64le%></option>
				<option value="linux-mipsle-softfloat"><%:linux-mipsle-softfloat%></option>
				<option value="linux-mipsle-hardfloat"><%:linux-mipsle-hardfloat%></option>
				<option value="0"><%:Not Set%></option>
	  	</select></td>
	  	<td width="25%"><%:Last Check Update%></td><td width="25%" align="left" id="CHECKTIME"><%:Collecting data...%></td></tr>
		<tr><td width="25%"><%:CPU Architecture (OS)%></td><td width="25%" align="left" id="CPU_MODEL"><%:Collecting data...%></td><td width="25%"><%:CPU Architecture (OPKG)%></td><td width="25%" align="left" id="CPU_MODEL2"><%:Collecting data...%></td></tr>
	  <tr><td width="100%" colspan="4">
	    <p align="center">
	  		<b><%:Core path:%> /etc/openclash/core/clash</b>
	  	</p>
	  </td></tr>
		<tr><td width="25%">[dev] <%:Current Core%></td><td width="25%" align="left" id="CORE_CV"><%:Collecting data...%></td><td width="25%">[dev] <%:Latest Core%></td><td width="25%" align="left" id="CORE_LV"><%:Collecting data...%></td></tr>
		<tr><td width="25%"><%:Update Core%></td><td width="25%" align="left" id="core_up"><%:Collecting data...%></td><td width="25%"><%:Download Latest Core%></td><td width="25%" align="left" id="ma_core_up"><%:Collecting data...%></td></tr>
		<tr><td width="100%" colspan="4">
	    <p align="center">
	  		<b><%:Core path:%>/etc/openclash/core/clash_tun </b>
	  	</p>
	  </td></tr>
		<tr><td width="25%">[TUN] <%:Current Core%></td><td width="25%" align="left" id="CORE_TUN_CV"><%:Collecting data...%></td><td width="25%">[TUN] <%:Latest Core%></td><td width="25%" align="left" id="CORE_TUN_LV"><%:Collecting data...%></td></tr>
		<tr><td width="25%"><%:Update Core%></td><td width="25%" align="left" id="core_tun_up"><%:Collecting data...%></td><td width="25%"><%:Download Latest Core%></td><td width="25%" align="left" id="ma_core_tun_up"><%:Collecting data...%></td></tr>
		<tr><td width="100%" colspan="4">
	    <p align="center">
	  		<b><%:Core path:%>/etc/openclash/core/clash_game </b>
	  	</p>
	  </td></tr>
		<tr><td width="25%">[Game] <%:Current Core%> </td><td width="25%" align="left" id="CORE_GAME_CV"><%:Collecting data...%></td><td width="25%">[Game] <%:Latest Core%></td><td width="25%" align="left" id="CORE_GAME_LV"><%:Collecting data...%></td></tr>
		<tr><td width="25%"><%:Update Core%></td><td width="25%" align="left" id="core_game_up"><%:Collecting data...%></td><td width="25%"><%:Download Latest Core%></td><td width="25%" align="left" id="ma_core_game_up"><%:Collecting data...%></td></tr>
	</table>
</fieldset>
<fieldset class="cbi-section">
	<table>
		<tr><td width="100%" colspan="4">
	    <p align="center">
	  		<b><%:Client Update%></b>
	  	</p>
	  </td></tr>
		<tr><td width="25%"><%:Current Client%></td><td width="25%" align="left" id="OP_CV"><%:Collecting data...%></td><td width="25%"><%:Latest Client%></td><td width="25%" align="left" id="OP_LV"><%:Collecting data...%></td></tr>
	  <tr><td width="25%"><%:Update Client%></td><td width="25%" align="left" id="op_up"><%:Collecting data...%></td><td width="25%"><%:Download Latest Client%></td><td width="25%" align="left" id="ma_op_up"><%:Collecting data...%></td></tr>
	</table>
</fieldset>
<fieldset class="cbi-section">
	<table width="100%">
	  <tr>
	  	<td width="25%">
	  	   <p align="center" id="restore">
	  		   <%:Collecting data...%>
	  	   </p>
	  	</td>
	  	<td width="25%">
	  	   <p align="center" id="backup">
	  		   <%:Collecting data...%>
	  	   </p>
	  	</td>
	  	<td width="25%">
	  	   <p align="center" id="remove_core">
	  		   <%:Collecting data...%>
	  	   </p>
	  	</td>
	    <td width="25%">
	  	   <p align="center" id="one_key_update">
	  		   <%:Collecting data...%>
	  	   </p>
	    </td>
	  </tr>
	</table>
</fieldset>

<script type="text/javascript">//<![CDATA[
  var core_version = document.getElementById('CORE_VERSION');
  var checktime = document.getElementById('CHECKTIME');
	var cpu_model = document.getElementById('CPU_MODEL');
	var cpu_model2 = document.getElementById('CPU_MODEL2');
	var core_cv = document.getElementById('CORE_CV');
	var core_lv = document.getElementById('CORE_LV');
	var core_tun_cv = document.getElementById('CORE_TUN_CV');
	var core_tun_lv = document.getElementById('CORE_TUN_LV');
	var core_game_cv = document.getElementById('CORE_GAME_CV');
	var core_game_lv = document.getElementById('CORE_GAME_LV');
	var op_cv = document.getElementById('OP_CV');
	var op_lv = document.getElementById('OP_LV');
	var core_up = document.getElementById('core_up');
	var core_tun_up = document.getElementById('core_tun_up');
	var core_game_up = document.getElementById('core_game_up');
	var op_up = document.getElementById('op_up');
	var update_tip = document.getElementById('update_tip');
	var ma_core_up  = document.getElementById('ma_core_up');
	var ma_core_tun_up  = document.getElementById('ma_core_tun_up');
	var ma_core_game_up  = document.getElementById('ma_core_game_up');
	var ma_op_up  = document.getElementById('ma_op_up');
	var restore  = document.getElementById('restore');
	var backup  = document.getElementById('backup');
	var one_key_update  = document.getElementById('one_key_update');
	var remove_core  = document.getElementById('remove_core');
  
  XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "update")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
		  if ( status.corever != "0" && status.corever != "" ) {
		     core_version.value = status.corever;
		  }
		  else {
		     core_version.value = "0";
		  }
		}
	});
	
	XHR.poll(3, '<%=luci.dispatcher.build_url("admin", "services", "openclash", "update")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
		  var cpu_models = status.coremodel;
			var arr_model = cpu_models.split(",");
      var cpu_model1 = arr_model[0];
      var cpu_model22 = arr_model[1];
		  cpu_model.innerHTML = cpu_model1 ? "<b><font color=green>"+cpu_model1+"</font></b>" : "<b><font color=red><%:Model Not Found%></font></b>";
      cpu_model2.innerHTML = cpu_model22 ? "<b><font color=green>"+cpu_model22+"</font></b>" : "<b><font color=red><%:Model Not Found%></font></b>";
		  if ( status.upchecktime != "1" ) {
		     checktime.innerHTML = "<b><font color=green>"+status.upchecktime+"</font></b>";
		  }
		  else {
		     checktime.innerHTML = "<b><font color=red><%:Check Failed%></font></b>";
		  }
      if ( status.corecv == "0" ) {
         core_cv.innerHTML = "<b><font color=red><%:File Not Exist%></font></b>";
      }
      else if (status.corecv != "") {
         core_cv.innerHTML = "<b><font color=green>"+status.corecv+"</font></b>";
      }
      else {
         core_cv.innerHTML = "<b><font color=red><%:Unknown%></font></b>";
      }
      if ( status.coretuncv == "0" ) {
         core_tun_cv.innerHTML = "<b><font color=red><%:File Not Exist%></font></b>";
      }
      else if (status.coretuncv != "") {
         core_tun_cv.innerHTML = "<b><font color=green>"+status.coretuncv+"</font></b>";
      }
      else {
         core_tun_cv.innerHTML = "<b><font color=red><%:Unknown%></font></b>";
      }
      if ( status.coregamecv == "0" ) {
         core_game_cv.innerHTML = "<b><font color=red><%:File Not Exist%></font></b>";
      }
      else if (status.coregamecv != "") {
         core_game_cv.innerHTML = "<b><font color=green>"+status.coregamecv+"</font></b>";
      }
      else {
         core_game_cv.innerHTML = "<b><font color=red><%:Unknown%></font></b>";
      }
      var corelv = status.corelv;
      var arr_core = corelv.split(",");
      var corelvis = arr_core[0];
      var coretunlvis = arr_core[1];
      var coregamelvis = arr_core[2];
			if (corelvis != status.corecv && corelvis != "") {
			   core_lv.innerHTML = "<b><font color=green>"+corelvis+"<%:<New>%></font></b>";
			}
			else if (corelvis != "" && corelvis == status.corecv) {
			   core_lv.innerHTML = "<b><font color=green>"+corelvis+"</font></b>";
			}
			else {
			   core_lv.innerHTML = "<b><font color=red><%:Unknown%></font></b>";
			}
			if (coretunlvis != status.coretuncv && coretunlvis != "") {
			   core_tun_lv.innerHTML = "<b><font color=green>"+coretunlvis+"<%:<New>%></font></b>";
			}
			else if (coretunlvis != "" && coretunlvis == status.coretuncv) {
			   core_tun_lv.innerHTML = "<b><font color=green>"+coretunlvis+"</font></b>";
			}
			else {
			   core_tun_lv.innerHTML = "<b><font color=red><%:Unknown%></font></b>";
			}
			if (coregamelvis != status.coregamecv && coregamelvis != "") {
			   core_game_lv.innerHTML = "<b><font color=green>"+coregamelvis+"<%:<New>%></font></b>";
			}
			else if (coregamelvis != "" && coregamelvis == status.coregamecv) {
			   core_game_lv.innerHTML = "<b><font color=green>"+coregamelvis+"</font></b>";
			}
			else {
			   core_game_lv.innerHTML = "<b><font color=red><%:Unknown%></font></b>";
			}
			var oplv = status.oplv;
      var arr_op = oplv.split(",");
      var oplvis = arr_op[0];
      var new_op = arr_op[1];
			op_cv.innerHTML = status.opcv ? "<b><font color=green>"+status.opcv+"</font></b>" : "<b><font color=red><%:Unknown%></font></b>";
			if ( new_op == "2" ) {
			   op_lv.innerHTML = "<b><font color=green>"+oplvis+"<%:<New>%></font></b>";
			}
			else if (oplvis != "") {
			   op_lv.innerHTML = "<b><font color=green>"+oplvis+"</font></b>";
			}
			else {
			   op_lv.innerHTML = "<b><font color=red><%:Unknown%></font></b>";
			}
		}
	});
	
	core_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Check And Update%>" onclick="return core_update(this,\'Dev\')"/>';
	core_tun_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Check And Update%>" onclick="return core_update(this,\'TUN\')"/>';
	core_game_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Check And Update%>" onclick="return core_update(this,\'Game\')"/>';
	op_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Check And Update%>" onclick="return op_update(this)"/>';
	ma_core_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Download%>" onclick="return ma_core_update(this,\'Dev\')"/>';
	ma_core_tun_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Download%>" onclick="return ma_core_update(this,\'TUN\')"/>';
	ma_core_game_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Download%>" onclick="return ma_core_update(this,\'Game\')"/>';
	ma_op_up.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Download%>" onclick="return ma_op_update(this)"/>';
	restore.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:Restore Default Config%>" onclick="return restore_config(this)"/>';
	one_key_update.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:One Click Check Update%>" onclick="return all_one_key_update(this)"/>';
	remove_core.innerHTML = '<input type="button" class="btn cbi-button cbi-button-remove" value="<%:Remove Core%>" onclick="return remove_all_core(this)"/>';
	backup.innerHTML = '<input type="button" class="btn cbi-button cbi-button-apply" value="<%:Backup OpenClash%>" onclick="return backup_all_file(this)"/>';
	
	function core_update(btn,type)
    {
    	var v = document.getElementById('CORE_VERSION').value;
			XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "save_corever")%>', {core_ver: v}, function(x, status) {
				if (x && x.status == 200) {
					XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "coreupdate")%>', {core_type: type}, function(x, status) {
        	btn.value    = '<%:Check And Update%>';
        	btn.disabled = false;
        	return false;
        	});
				}
		});
    }

	function op_update(btn)
    {
        XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "opupdate")%>', null, function(x, status) {
        btn.value    = '<%:Check And Update%>';
        btn.disabled = false;
        return false;
        });
    }
    
    function ma_core_update(btn,type)
    {
    	var v = document.getElementById('CORE_VERSION').value;
			XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "save_corever")%>', {core_ver: v}, function(x, status) {
			if (x && x.status == 200) {
        btn.value    = '<%:Download%>';
        btn.disabled = false;
        XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "update_ma")%>', status.corever, function(x, status) {
        if ( x && x.status == 200 ) {
        	if ( status.corever != "0" ) {
        		if (type == "Dev") {
        			url1='https://github.com/vernesong/OpenClash/releases/download/Clash/clash-'+status.corever+'.tar.gz';
        			window.location.href=url1;
        		}
        		if (type == "TUN") {
        			var corelv = status.corelv;
          		var arr_core = corelv.split(",");
          		var coretunlvis = arr_core[1];
          		if ( coretunlvis != "" ) {
              	url3='https://github.com/vernesong/OpenClash/releases/download/TUN-Premium/clash-'+status.corever+'-'+coretunlvis+'.gz';
              	window.location.href=url3;
          		}
          		else {
              	alert('<%:Failed to get the latest version. Please try again later!%>')
          		}
        		}
        		if (type == "Game") {
        			url4='https://github.com/vernesong/OpenClash/releases/download/TUN/clash-'+status.corever+'.tar.gz';
              window.location.href=url4;
        		}
        	}
        	else {
        		alert('<%:No Compiled Version is Selected, Please Select on The Top and Try Again!%>')
        	}
        }
        });
        return false;
    	}
      });
    }
    
    function ma_op_update(btn)
    {
        btn.value    = '<%:Download%>';
        btn.disabled = false;
        XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "update_ma")%>', status.oplv, function(x, status) {
        if ( x && x.status == 200 ) {
           var oplv = status.oplv;
           var oplvis = oplv.substring(oplv.indexOf("v") + 1,oplv.indexOf(","));
           if ( oplvis != "" ) {
              url2='https://github.com/vernesong/OpenClash/releases/download/v'+oplvis+'/luci-app-openclash_'+oplvis+'_all.ipk';
              window.location.href=url2;
           }
           else {
              alert('<%:Failed to get the latest version. Please try again later!%>')
           }
        }
        });
        return false; 
    }
    
    function remove_all_core(btn)
    {
        btn.value    = '<%:Remove Core%>';
        btn.disabled = true;
        var r = confirm("<%:Are you sure want to remove all core files?%>")
        if (r == true) {
        XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "remove_all_core")%>', null, function(x, status) {
        	if ( x && x.status == 200 ) {
        		alert('<%:Remove succeeded!%>')
        		window.location.href='<%="settings?tab.openclash.config=version_update"%>';
        	}
          else {
            alert('<%:Remove failed!%>')
           }
        });
        } else {
        }
        btn.disabled = false;
        return false; 
    }
    
    function restore_config(btn)
    {
        btn.value    = '<%:Restore Default Config%>';
        btn.disabled = true;
        var r = confirm("<%:Are you sure want to restore the default config?%>")
        if (r == true) {
        XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "restore")%>', null, function(x, status) {
        	if ( x && x.status == 200 ) {
        		alert('<%:Restore succeeded!%>')
        		window.location.href='<%="settings"%>';
        	}
          else {
            alert('<%:Restore failed!%>')
            window.location.href='<%="settings"%>';
           }
        });
        }
        btn.disabled = false;
        return false; 
    }
    
    function backup_all_file(btn)
    {
    	  btn.value    = '<%:Backup OpenClash%>';
        btn.disabled = true;
        window.location.href='<%="backup"%>';
        btn.disabled = false;
        return false; 
    }

    function all_one_key_update(btn)
    {
    	var v = document.getElementById('CORE_VERSION').value;
			XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "save_corever")%>', {core_ver: v}, function(x, status) {
				if (x && x.status == 200) {
					btn.value    = '<%:One Click Check Update%>';
        	btn.disabled = true;
        	var r = confirm("<%:Check and update all Cores and plug-ins?%>")
        	if (r == true) {
        	XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "one_key_update_check")%>', null, function(x, status) {
        		if ( x && x.status == 200 ) {
        			if ( status.corever != "0" ) {
        				XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "one_key_update")%>', null, function(x, status) {
              		if ( x && x.status != 200 ) {
            				alert('<%:Check failed, Please try again later!%>')
           				}
              	});
							}
							else {
								alert('<%:No Compiled Version is Selected, Please Select on The Top and Try Again!%>')
           		}
        		}
          	else {
           	 alert('<%:Check failed, Please try again later!%>')
          	}
        	});
				}
        btn.disabled = false;
        return false;
				}
			});
    }
    
    XHR.poll(7, '<%=luci.dispatcher.build_url("admin", "services", "openclash", "startlog")%>', status.startlog, function(x, status) {
	  if ( x && x.status == 200 ) {
		   if ( status.startlog == "\n" || status.startlog == "" ) {
		      var rdmdl=Math.floor(Math.random()*2)+1;
		      if(rdmdl==1)
          {
             update_tip.innerHTML = '<b><font><%:Note: if the update fails, you can manually download and upload%></font></b>';
          }
          if(rdmdl==2)
          {
             update_tip.innerHTML = '<b><font><%:Note: the client may not support update, because the firmware with squashfs format will not release flash space after updating%></font></b>';
          }
       }
    }
	});
	
	XHR.poll(2, '<%=luci.dispatcher.build_url("admin", "services", "openclash", "startlog")%>', status.startlog, function(x, status) {
	  if ( x && x.status == 200 ) {
		   if ( status.startlog != "\n" && status.startlog != "" ) {
	     update_tip.innerHTML = '<b><font color="green">'+status.startlog+'</font></b>';
	     }
	  }
	});

//]]></script>