<%+cbi/valueheader%>
<div style="text-align: center; margin:0 auto; display:block; white-space: nowrap;">
	<label class="cbi-value" style="display:inline-block; width: 100%;" for="ulfile"><%:Upload File Type%>&nbsp;&nbsp;&nbsp;
	<select name="file_type" style="width:auto">&nbsp;&nbsp;&nbsp;
		<option value="config" selected="selected"><%:Config File%></option>
		<option value="proxy-provider"><%:Proxy Provider File%></option>
		<option value="rule-provider"><%:Rule Provider File%></option>
		<option value="backup-file"><%:Backup File%></option>
	</select>
  <input class="cbi-input-file" style="width: 30%" type="file" id="ulfile" name="ulfile" />
	<input type="submit" class="btn cbi-button cbi-input-reload" name="upload" value="<%:Upload%>" />
</div>	
<%+cbi/valuefooter%>
