<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[nas]], [[verysync]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('verysync_status');

		if (data && tb) {
			if (data.running) {
				var links = '<em><b><font color="green">Verysync <%:RUNNING%></font></b></em><input class="cbi-button mar-10" type="button" value="<%:Open Verysync page%>" onclick="openwebui();" />';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<em><b><font color="red">Verysync <%:NOT RUNNING%></font></b></em>';
			}
		}
	}
);

function openwebui(){
	var url = window.location.host+":<%=luci.sys.exec("uci -q get verysync.config.port"):gsub("^%s*(.-)%s*$", "%1")%>";
	window.open('http://'+url,'target','');
}
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="verysync_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
