name: Build OpenWrt
on  : push
jobs :
  build :
    runs-on : ubuntu-latest
    steps   :
     - name : Installation depends
       run  : |
         sudo apt-get update
         sudo apt-get -y install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs git-core gcc-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler
     - name : Clone source code
       run  : |
         git clone https://github.com/coolsnowwolf/lede
         cd lede
         ./scripts/feeds update -a
         ./scripts/feeds install -a
     - name : Generate config file
       run  : |
          cd lede
          make defconfig
     - name :  Costom configure file
       run  : |
          rm -f ./.config*
          touch ./.config
          CONFIG_TARGET_armvirt=y
          CONFIG_TARGET_armvirt=y
          CONFIG_TARGET_armvirt_64=y
          CONFIG_TARGET_armvirt_64_Default=y
          CONFIG_DOCKER_KERNEL_OPTIONS=y
          CONFIG_DOCKER_NET_MACVLAN=y
          CONFIG_DOCKER_RES_SHAPE=y
          CONFIG_DOCKER_STO_EXT4=y
          CONFIG_KERNEL_ARM_PMU=y
          CONFIG_KERNEL_BLK_DEV_THROTTLING=y
          CONFIG_KERNEL_CFQ_GROUP_IOSCHED=y
          CONFIG_KERNEL_CFS_BANDWIDTH=y
          CONFIG_KERNEL_CGROUP_PERF=y
          CONFIG_KERNEL_EXT4_FS_POSIX_ACL=y
          CONFIG_KERNEL_FS_POSIX_ACL=y
          CONFIG_KERNEL_IPC_NS=y
          CONFIG_KERNEL_KEYS=y
          CONFIG_KERNEL_MEMCG_SWAP=y
          CONFIG_KERNEL_MEMCG_SWAP_ENABLED=y
          CONFIG_KERNEL_NAMESPACES=y
          CONFIG_KERNEL_NET_NS=y
          CONFIG_KERNEL_PERF_EVENTS=y
          CONFIG_KERNEL_PID_NS=y
          CONFIG_KERNEL_USER_NS=y
          CONFIG_KERNEL_UTS_NS=y
          CONFIG_PACKAGE_UnblockNeteaseMusic=y
        # CONFIG_PACKAGE_adbyby is not set
          CONFIG_PACKAGE_containerd=y
        # CONFIG_PACKAGE_coreutils-nohup is not set
          CONFIG_PACKAGE_docker-ce=y
          CONFIG_PACKAGE_e2fsprogs=y
        # CONFIG_PACKAGE_etherwake is not set
          CONFIG_PACKAGE_fdisk=y
        # CONFIG_PACKAGE_iptables-mod-conntrack-extra is not set
          CONFIG_PACKAGE_iptables-mod-extra=y
        # CONFIG_PACKAGE_iptables-mod-ipopt is not set
          CONFIG_PACKAGE_kmod-br-netfilter=y
        # CONFIG_PACKAGE_kmod-crypto-arc4 is not set
          CONFIG_PACKAGE_kmod-crypto-crc32c=y
        # CONFIG_PACKAGE_kmod-crypto-ecb is not set
        # CONFIG_PACKAGE_kmod-crypto-sha1 is not set
          CONFIG_PACKAGE_kmod-dax=y
          CONFIG_PACKAGE_kmod-dm=y
          CONFIG_PACKAGE_kmod-dummy=y
        # CONFIG_PACKAGE_kmod-gre is not set
        # CONFIG_PACKAGE_kmod-ifb is not set
          CONFIG_PACKAGE_kmod-ikconfig=y
        # CONFIG_PACKAGE_kmod-ipt-conntrack-extra is not set
          CONFIG_PACKAGE_kmod-ipt-extra=y
        # CONFIG_PACKAGE_kmod-ipt-ipopt is not set
          CONFIG_PACKAGE_kmod-lib-crc32c=y
          CONFIG_PACKAGE_kmod-macvlan=y
        # CONFIG_PACKAGE_kmod-mppe is not set
          CONFIG_PACKAGE_kmod-nf-ipvs=y
        # CONFIG_PACKAGE_kmod-sched-cake is not set
        # CONFIG_PACKAGE_kmod-sched-core is not set
        # CONFIG_PACKAGE_kmod-tun is not set
          CONFIG_PACKAGE_kmod-veth=y
          CONFIG_PACKAGE_libattr=y
          CONFIG_PACKAGE_libblkid=y
          CONFIG_PACKAGE_libcomerr=y
          CONFIG_PACKAGE_libdevmapper=y
          CONFIG_PACKAGE_libext2fs=y
          CONFIG_PACKAGE_libfdisk=y
          CONFIG_PACKAGE_liblzo=y
        # CONFIG_PACKAGE_libminiupnpc is not set
          CONFIG_PACKAGE_libmount=y
        # CONFIG_PACKAGE_libnatpmp is not set
          CONFIG_PACKAGE_libnetwork=y
          CONFIG_PACKAGE_libsmartcols=y
          CONFIG_PACKAGE_libss=y
          CONFIG_PACKAGE_libustream-openssl=y
        # CONFIG_PACKAGE_luci-app-adbyby-plus is not set
        # CONFIG_PACKAGE_luci-app-ddns is not set
          CONFIG_PACKAGE_luci-app-docker=y
        # CONFIG_PACKAGE_luci-app-flowoffload is not set
        # CONFIG_PACKAGE_luci-app-nlbwmon is not set
        # CONFIG_PACKAGE_luci-app-pptp-server is not set
        # CONFIG_PACKAGE_luci-app-ramfree is not set
        # CONFIG_PACKAGE_luci-app-sqm is not set
          CONFIG_PACKAGE_luci-app-unblockmusic=y
        # CONFIG_PACKAGE_luci-app-vsftpd is not set
          CONFIG_PACKAGE_luci-app-wifischedule=y
        # CONFIG_PACKAGE_luci-app-wol is not set
        # CONFIG_PACKAGE_luci-app-xlnetacc is not set
        # CONFIG_PACKAGE_luci-app-zerotier is not set
          CONFIG_PACKAGE_luci-i18n-docker-zh-cn=y
          CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=y
          CONFIG_PACKAGE_luci-theme-argon=y
          CONFIG_PACKAGE_luci-theme-material=y
          CONFIG_PACKAGE_luci-theme-netgear=y
          CONFIG_PACKAGE_mount-utils=y
        # CONFIG_PACKAGE_nlbwmon is not set
          CONFIG_PACKAGE_node=y
        # CONFIG_PACKAGE_pptpd is not set
          CONFIG_PACKAGE_runc=y
        # CONFIG_PACKAGE_sqm-scripts is not set
        # CONFIG_PACKAGE_tc is not set
          CONFIG_PACKAGE_tini=y
        # CONFIG_PACKAGE_vsftpd-alt is not set
          CONFIG_PACKAGE_wifischedule=y
        # CONFIG_PACKAGE_zerotier is not set

          sed -i 's/^[ \t]*//g' ./.config
          make defconfig
- name: Download package source code
        run: |
          make download -j8
          find dl -size -1024c -exec ls -l {} \;
          find dl -size -1024c -exec rm -f {} \;
      - name: Compile firmware
        run: |
          echo -e "$(nproc) thread build."
          make -j$(nproc) V=s
      - name : Upload artifact
        uses: actions/upload-artifact@master
        with:
          name: OpenWrt firmware
          path: bin/targets
     
