#
# This is free software, lisence use MIT.
# 
# Copyright (C) 2019 KFERMercer <KFER.Mercer@gmail.com>
# 
# <https://github.com/KFERMercer/OpenWrt-CI>
#

name: 同步源码

on:
  schedule:
    - cron: 0 15 * * *
  push:
    branches: 
      - master

jobs:
  merge:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v2-beta
      with:
        ref: master

    - name: Set git identity
      run : |
        git config --global user.email "07132041@stu.xupt.edu.cn"
        git config --global user.name "Narizgnaw"
    - name: Load upstream commits
      run: 
        git pull https://github.com/coolsnowwolf/lede.git --no-edit --allow-unrelated-histories --strategy-option ours

    - name: Push Commits
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
