<%#
 Copyright 2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content"><%:Form token mismatch%></h2>
<br />

<p class="alert-message"><%:The submitted security token is invalid or already expired!%></p>

<p><%:
	In order to prevent unauthorized access to the system, your request has
	been blocked. Click "Continue »" below to return to the previous page.
%></p>

<hr />

<p class="right">
	<strong><a href="#" onclick="window.history.back();">Continue »</a></strong>
</p>

<%+footer%>
