<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2012 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<form method="post" action="<%=pcdata(luci.http.getenv("REQUEST_URI"))%>">
	<%- if fuser then %>
	<div class="errorbox"><%:Invalid username and/or password! Please try again.%></div>
	<% end -%>

	<div class="cbi-map">
		<h2 name="content"><%:Authorization Required%></h2>
		<div class="cbi-map-descr">
			<%:Please enter your username and password.%>
		</div>
		<fieldset class="cbi-section"><fieldset class="cbi-section-node">
			<div class="cbi-value">
				<label class="cbi-value-title"><%:Username%></label>
				<div class="cbi-value-field">
					<input class="cbi-input-user" type="text" name="luci_username" value="<%=duser%>" />
				</div>
			</div>
			<div class="cbi-value cbi-value-last">
				<label class="cbi-value-title"><%:Password%></label>
				<div class="cbi-value-field">
					<input class="cbi-input-password" type="password" name="luci_password" />
				</div>
			</div>
		</fieldset></fieldset>
	</div>

	<div>
		<input type="submit" value="<%:Login%>" class="cbi-button cbi-button-apply" />
		<input type="reset" value="<%:Reset%>" class="cbi-button cbi-button-reset" />
	</div>
</form>
<script type="text/javascript">//<![CDATA[
	var input = document.getElementsByName('luci_password')[0];
	if (input)
		input.focus();
//]]></script>

<%
local uci  = require "luci.model.uci".cursor()
local fs  = require "nixio.fs"
local https_key = uci:get("uhttpd", "main", "key")
local https_port = uci:get("uhttpd", "main", "listen_https")
if type(https_port) == "table" then
	https_port = https_port[1]
end

if https_port and fs.access(https_key) then
	https_port = https_port:match("(%d+)$")
%>

<script type="text/javascript">//<![CDATA[
	if (document.location.protocol != 'https:') {
		var url = 'https://' + window.location.hostname + ':' + '<%=https_port%>' + window.location.pathname;
		var img=new Image;
		img.onload=function(){window.location = url};
		img.src='https://' + window.location.hostname + ':' + '<%=https_port%>' + '<%=resource%>/cbi/up.gif?' + Math.random();;
		setTimeout(function(){
			img.src=''
		}, 5000);
	}
//]]></script>

<% end %>

<%+footer%>
