<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2011 Manuel Munz <freifunk at somakoma dot de>
 Licensed to the public under the Apache License 2.0.
-%>

<%
local i = 1
%>

<%+header%>

<h2 name="content"><%:Interfaces%></h2>

<div id="togglebuttons"></div>

<fieldset class="cbi-section">
	<legend><%:Overview of interfaces where OLSR is running%></legend>

	<table class="cbi-section-table">
		<tr>
			<th class="cbi-section-table-cell"><%:Interface%></th>
			<th class="cbi-section-table-cell"><%:State%></th>
			<th class="cbi-section-table-cell"><%:MTU%></th>
			<th class="cbi-section-table-cell"><%:WLAN%></th>
			<th class="cbi-section-table-cell"><%:Source address%></th>
			<th class="cbi-section-table-cell"><%:Netmask%></th>
			<th class="cbi-section-table-cell"><%:Broadcast address%></th>
		</tr>

		<% for k, iface in ipairs(iface) do %>

		<tr class="cbi-section-table-row cbi-rowstyle-<%=i%> proto-<%=iface.proto%>">
			<td class="cbi-section-table-cell"><%=iface.name%></td>
			<td class="cbi-section-table-cell"><%=iface.state%></td>
			<td class="cbi-section-table-cell"><%=iface.olsrMTU%></td>
			<td class="cbi-section-table-cell"><%=iface.wireless and luci.i18n.translate('yes') or luci.i18n.translate('no')%></td>
			<td class="cbi-section-table-cell"><%=iface.ipv4Address or iface.ipv6Address%></td>
			<td class="cbi-section-table-cell"><%=iface.netmask%></td>
			<td class="cbi-section-table-cell"><%=iface.broadcast or iface.multicast%></td>
		</tr>
		<% i = ((i % 2) + 1)
		end %>
	</table>
</fieldset>
<%+status-olsr/common_js%>
<%+footer%>


