<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2011 Manuel Munz <freifunk at somakoma dot de>
 Licensed to the public under the Apache License 2.0.
-%>

<%
local i = 1
%>

<%+header%>
<h2 name="content"><%:Active MID announcements%></h2>

<div id="togglebuttons"></div> 
<fieldset class="cbi-section">
	<legend><%:Overview of known multiple interface announcements%></legend>
	<table class="cbi-section-table">
		<tr class="cbi-section-table-titles">
			<th class="cbi-section-table-cell"><%:OLSR node%></th>
			<th class="cbi-section-table-cell" ><%:Secondary OLSR interfaces%></th>
		</tr>

		<% for k, mid in ipairs(mids) do 
			local aliases = ''
			for k,v in ipairs(mid.aliases) do
				if aliases == '' then
					sep = ''
				else
					sep = ', '
				end
				aliases = v.ipAddress .. sep .. aliases
			end
			local host = mid.ipAddress
			if mid.proto == '6' then
				host = '[' .. mid.ipAddress .. ']'
			end
		%>

		<tr class="cbi-section-table-row cbi-rowstyle-<%=i%> proto-<%=mid.proto%>">
			<td class="cbi-section-table-cell"><a href="http://<%=host%>/cgi-bin-status.html"><%=mid.ipAddress%></a></td>
			<td class="cbi-section-table-cell"><%=aliases%></td>
		</tr>

		<% i = ((i % 2) + 1)
		end %>
	</table>
</fieldset>
<%+status-olsr/common_js%>
<%+footer%>
