<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2011 Manuel Munz <freifunk at somakoma dot de>
 Licensed to the public under the Apache License 2.0.
-%>

<%
local olsrtools = require "luci.tools.olsr"
local i = 1

if luci.http.formvalue("status") == "1" then
	local rv = {}
	for k, link in ipairs(links) do
		link.linkCost = tonumber(link.linkCost) or 0
		if link.linkCost == 4194304 then
			link.linkCost = 0
		end
		local color = olsrtools.etx_color(link.linkCost)
		local snr_color = olsrtools.snr_color(link.snr)
		defaultgw_color = ""
		if link.defaultgw == 1 then
			defaultgw_color = "#ffff99"
		end

		rv[#rv+1] = {
			rip = link.remoteIP,
			hn = link.hostname,
			lip = link.localIP,
			ifn = link.interface,
			lq = string.format("%.3f", link.linkQuality),
			nlq = string.format("%.3f",link.neighborLinkQuality),
			cost = string.format("%.3f", link.linkCost),
			snr = link.snr,
			signal = link.signal,
			noise = link.noise,
			color = color,
			snr_color = snr_color,
			dfgcolor = defaultgw_color,
			proto = link.proto
			}
	end
	luci.http.prepare_content("application/json")
	luci.http.write_json(rv)
	return
end
%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[

	XHR.poll(10 , '<%=REQUEST_URI%>', { status: 1 }, 
		function(x, info)
		{
		var nt = document.getElementById('olsr_neigh_table');
			if (nt)
			{
				var s = '';
				for (var idx = 0; idx < info.length; idx++)
				{
					var neigh = info[idx];

					if (neigh.proto == '6') {
						s += String.format(
							'<tr class="cbi-section-table-row cbi-rowstyle-'+(1 + (idx % 2))+' proto-%s">' +
							'<td class="cbi-section-table-titles" style="background-color:%s"><a href="http://[%s]/cgi-bin-status.html">%s</a></td>',
							neigh.proto, neigh.dfgcolor, neigh.rip, neigh.rip
						);
					} else {
						s += String.format(
							'<tr class="cbi-section-table-row cbi-rowstyle-'+(1 + (idx % 2))+' proto-%s">' +
							'<td class="cbi-section-table-titles" style="background-color:%s"><a href="http://%s/cgi-bin-status.html">%s</a></td>',
							neigh.proto, neigh.dfgcolor, neigh.rip, neigh.rip
						);
					}
					if (neigh.hn) {
						s += String.format(
							'<td class="cbi-section-table-titles" style="background-color:%s"><a href="http://%s/cgi-bin-status.html">%s</a></td>',
							neigh.dfgcolor, neigh.hn, neigh.hn
						);
					} else {
						s += String.format(
							'<td class="cbi-section-table-titles" style="background-color:%s">?</td>',
							neigh.dfgcolor
						);
					}
					s += String.format(
						'<td class="cbi-section-table-titles" style="background-color:%s">%s</td>' +
						'<td class="cbi-section-table-titles" style="background-color:%s">%s</td>' +
						'<td class="cbi-section-table-titles" style="background-color:%s">%s</td>' +
						'<td class="cbi-section-table-titles" style="background-color:%s">%s</td>' +
						'<td class="cbi-section-table-titles" style="background-color:%s">%s</td>' +
						'<td class="cbi-section-table-titles" style="background-color:%s" title="Signal: %s Noise: %s">%s</td>' +
						'</tr>',
						neigh.dfgcolor, neigh.ifn, neigh.dfgcolor, neigh.lip, neigh.dfgcolor, neigh.lq, neigh.dfgcolor, neigh.nlq, neigh.color, neigh.cost, neigh.snr_color, neigh.signal, neigh.noise, neigh.snr || '?'
					);
				}

				nt.innerHTML = s;
			}
		}
	);
//]]></script>


<h2 name="content"><%:OLSR connections%></h2>

<div id="togglebuttons"></div>

<fieldset class="cbi-section">
	<legend><%:Overview of currently established OLSR connections%></legend>

	<table class="cbi-section-table">
		<thead>
			<tr class="cbi-section-table-titles">
				<th class="cbi-section-table-cell"><%:Neighbour IP%></th>
				<th class="cbi-section-table-cell"><%:Hostname%></th>
				<th class="cbi-section-table-cell"><%:Interface%></th>
				<th class="cbi-section-table-cell"><%:Local interface IP%></th>
				<th class="cbi-section-table-cell">LQ</th>
				<th class="cbi-section-table-cell">NLQ</th>
				<th class="cbi-section-table-cell">ETX</th>
				<th class="cbi-section-table-cell">SNR</th>
			</tr>
		</thead>
	
		<tbody id="olsr_neigh_table">
		<% 	local i = 1
			for k, link in ipairs(links) do
			link.linkCost = tonumber(link.linkCost) or 0
			if link.linkCost == 4194304 then
				link.linkCost = 0
			end

			color = olsrtools.etx_color(link.linkCost)
			snr_color = olsrtools.snr_color(link.snr)

			if link.snr == 0 then
				link.snr = '?'
			end

			defaultgw_color = ""
			if link.defaultgw == 1 then
				defaultgw_color = "#ffff99"
			end
		%>

		<tr class="cbi-section-table-row cbi-rowstyle-<%=i%> proto-<%=link.proto%>">
			<% if link.proto == "6" then %>
			<td class="cbi-section-table-titles" style="background-color:<%=defaultgw_color%>"><a href="http://[<%=link.remoteIP%>]/cgi-bin-status.html"><%=link.remoteIP%></a></td>
			<% else %>
			<td class="cbi-section-table-titles" style="background-color:<%=defaultgw_color%>"><a href="http://<%=link.remoteIP%>/cgi-bin-status.html"><%=link.remoteIP%></a></td>
			<% end %>
			<td class="cbi-section-table-titles" style="background-color:<%=defaultgw_color%>"><a href="http://<%=link.hostname%>/cgi-bin-status.html"><%=link.hostname%></a></td>
			<td class="cbi-section-table-titles" style="background-color:<%=defaultgw_color%>"><%=link.interface%></td>
			<td class="cbi-section-table-titles" style="background-color:<%=defaultgw_color%>"><%=link.localIP%></td>
			<td class="cbi-section-table-titles" style="background-color:<%=defaultgw_color%>"><%=string.format("%.3f", link.linkQuality)%></td>
			<td class="cbi-section-table-titles" style="background-color:<%=defaultgw_color%>"><%=string.format("%.3f", link.neighborLinkQuality)%></td>
			<td class="cbi-section-table-titles" style="background-color:<%=color%>"><%=string.format("%.3f", link.linkCost)%></td>
			<td class="cbi-section-table-titles" style="background-color:<%=snr_color%>" title="Signal: <%=link.signal%> Noise: <%=link.noise%>"><%=link.snr%></td>
		</tr>
		<% 
			i = ((i % 2) + 1)
		end %>
		</tbody>
	</table>
<br />

<%+status-olsr/legend%>
</fieldset>
<%+status-olsr/common_js%>
<%+footer%>
