<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2011 Manuel Munz <freifunk at somakoma dot de>
 Licensed to the public under the Apache License 2.0.
-%>

<%
local i = 1
local olsrtools = require "luci.tools.olsr"
%>

<%+header%>
<h2 name="content"><%:Active OLSR nodes%></h2>

<div id="togglebuttons"></div>

<fieldset class="cbi-section">
	<legend><%:Overview of currently known OLSR nodes%></legend>
	<table class="cbi-section-table">
		<tr class="cbi-section-table-titles">
			<th class="cbi-section-table-cell"><%:OLSR node%></th>
			<th class="cbi-section-table-cell"><%:Last hop%></th>
			<th class="cbi-section-table-cell"><%:LQ%></th>
			<th class="cbi-section-table-cell"><%:NLQ%></th>
			<th class="cbi-section-table-cell"><%:ETX%></th>
		</tr>

		<% for k, route in ipairs(routes) do 
			local cost = string.format("%.3f", tonumber(route.tcEdgeCost/1024) or 0)
			local color = olsrtools.etx_color(tonumber(cost))
			local lq = string.format("%.3f", tonumber(route.linkQuality) or 0)
			local nlq = string.format("%.3f", tonumber(route.neighborLinkQuality) or 0)
		%>

		<tr class="cbi-section-table-row cbi-rowstyle-<%=i%> proto-<%=route.proto%>">

			<% if route.proto == "6" then %>

			<td class="cbi-section-table-cell"><a href="http://[<%=route.destinationIP%>]/cgi-bin-status.html"><%=route.destinationIP%></a></td>
			<td class="cbi-section-table-cell"><a href="http://[<%=route.lastHopIP%>]/cgi-bin-status.html"><%=route.lastHopIP%></a></td>

			<% else %>

			<td class="cbi-section-table-cell"><a href="http://<%=route.destinationIP%>/cgi-bin-status.html"><%=route.destinationIP%></a></td>
			<td class="cbi-section-table-cell"><a href="http://<%=route.lastHopIP%>/cgi-bin-status.html"><%=route.lastHopIP%></a></td>

			<%end%>

			<td class="cbi-section-table-cell"><%=lq%></td>
			<td class="cbi-section-table-cell"><%=nlq%></td>
			<td class="cbi-section-table-cell" style="background-color:<%=color%>"><%=cost%></td>
		</tr>

		<%	i = ((i % 2) + 1)
		end %>
	</table>
<%+status-olsr/legend%>
</fieldset>

<%+status-olsr/common_js%>
<%+footer%>
