<script type="text/javascript">//<![CDATA[
	XHR.poll(3, '<%=url([[admin]], [[network]], [[iperf3_status]])%>', null,
		function(x, data) {
			var tb = document.getElementById('iperf3_status');
			if (data && tb)
			{
				if (data.run)
				{
					tb.innerHTML = '<br/><em style=\"color:green\"><%:The Iperf3 service is running.%></em>';
				}
				else
				{
					tb.innerHTML = '<br/><em style=\"color:red\"><%:The Iperf3 service is not running.%></em>';
				}
			}
		}
	);
//]]></script>


<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<legend><%:Iperf3 Status%></legend>
	<p id="iperf3_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>