<br>
<ul class="cbi-tabmenu">
	<li  id="cbi-tab-container_info"><a id="a-cbi-tab-container_info" href=""><%:Info%></a></li>
	<li id="cbi-tab-container_edit"><a id="a-cbi-tab-container_edit" href=""><%:Edit%></a></li>
	<li  id="cbi-tab-container_stats"><a id="a-cbi-tab-container_stats" href=""><%:Stats%></a></li>
	<li  id="cbi-tab-container_logs"><a id="a-cbi-tab-container_logs" href=""><%:Logs%></a></li>
</ul>

<script type="text/javascript">
	let re = /\/admin\/services\/docker\/container\//
	let p = window.location.href
	let path = p.split(re)
	let container_id = path[1].split('/')[0] || path[1]
	let action = path[1].split('/')[1] || "info"
	let actions=["info","edit","stats","logs"]
	actions.forEach(function(item) {
		document.getElementById("a-cbi-tab-container_" + item).href= path[0]+"/admin/services/docker/container/"+container_id+'/'+item
		if (action === item) {
			document.getElementById("cbi-tab-container_" + item).className="cbi-tab"
		}	else {
			document.getElementById("cbi-tab-container_" + item).className="cbi-tab-disable"
		}
	})
</script>
