config lldpd config
	option enable_cdp 1
	option enable_fdp 1
	option enable_sonmp 1
	option enable_edp 1

	option agentxsocket /var/run/agentx.sock

	option lldp_class 4
	# lldp_policy only needed for lldp_class 2-3
	# option lldp_policy 'application streaming-video unknown'
	option lldp_location "address country EU"

	# if empty, the distribution description is sent
	#option lldp_description "OpenWrt System"
	#option lldp_hostname "Modified Hostname"

	#option lldp_mgmt_ip "!192.168.1.1"

	# interfaces to listen on
	list interface "loopback"
	list interface "lan"
