config lldpd config
	option enable_cdp 1
	option enable_fdp 1
	option enable_sonmp 1
	option enable_edp 1

	option agentxsocket /var/run/agentx.sock
	
	option lldp_class 4
	option lldp_location "2:FR:6:Commercial Rd:3:Roseville:19:4"

	# if empty, the distribution description is sent
	#option lldp_description "OpenWrt System"

	# interfaces to listen on
	list interface "loopback"
	list interface "lan"
